.pagination {
    margin: 0;
}

table .shrink {
    width: 1%;
}

table input[type=checkbox] {
    margin: 0;
    vertical-align: middle;
}

.rm-mr {
    margin: 0 !important;
}

.rm-mb-last > *:last-child {
    margin-bottom: 0 !important;
}

.inner-element-space {
    margin-bottom: 5px;
}

.text-center-xs { text-align: center; }
.text-right-xs { text-align: right; }
.text-left-xs { text-align: left; }

code.info {
    color: inherit;
    background-color: #f5f5f5;
}

hr {
    margin-top: 0;
}

.panel,
hr,
.table {
    margin-bottom: 10px;
}

.input-group .buttons, .input-group button, .input-group .btn {
    margin: 0;
}

.table .heading {
    background-color: #DDDDDD;
}

@media (min-width: 768px) {
    .text-center-sm { text-align: center; }
    .text-right-sm { text-align: right; }
    .text-left-sm { text-align: left; }
}

@media (min-width: 992px) {
    .text-center-md { text-align: center; }
    .text-right-md { text-align: right; }
    .text-left-sm { text-align: left; }
}

@media (min-width: 1200px) {
    .text-center-lg { text-align: center; }
    .text-right-lg { text-align: right; }
    .text-left-sm { text-align: left; }
}

.dataTables_info,
.dataTables_paginate,
.dataTables_length,
.dataTables_filter {
    float: none;
    text-align: inherit;
    width: auto;
}

div.dataTables_wrapper div.dataTables_info {
    padding: 6px 0;
    display: inline-block;
    vertical-align: middle;
}

.dataTables_paginate {
    font-size: 0;
}

.dataTables_paginate li {
    font-size: 13px;
}

.pagination > li > a, .pagination > li > span {
    border: none;
}

.panel_toolbox {
    min-width: auto;
}

.page-title .title_left {
    width: auto;
}

ul.to_do p {
    vertical-align: middle;
}

ul.to_do p input {
    margin: 0;
    vertical-align: middle;
    cursor: auto;
}

ul.to_do .todo-mark {
    padding: 0 5px 0 0;
}

ul.to_do li {
    cursor: move;
}

.x_buttons {
    padding-bottom: 5px;
}
