/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-round-extra2color5 .progress-bar-fp {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .btn {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .btn.p-active-btn,
.p-form-round-extra2color5 .btn:hover,
.p-form-round-extra2color5 .btn:focus {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .radio label a,
.p-form-round-extra2color5 .checkbox label a,
.p-form-round-extra2color5 .p-switch label a,
.p-form-round-extra2color5 .p-radioswitch label a {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-show-block-heading a {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-check-active-icon {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-check-block:after {
  background-color: #1f8c93;
  border-color: #1f8c93;
}
.p-form-round-extra2color5 .p-check-point:after {
  background-color: #1f8c93;
  border-color: #1f8c93;
}
.p-form-round-extra2color5 .p-switch-icon:after {
  border-color: #1f8c93;
}
.p-form-round-extra2color5 .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-round-extra2color5 :checked ~ .p-check-icon .p-check-middle {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-round-extra2color5 :checked ~ .p-switch-icon {
  background-color: #41ced7;
}
.p-form-round-extra2color5 .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-round-extra2color5 :checked ~ .p-switch-icon:after {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-round-extra2color5 :checked ~ .p-check-highlight {
  background-color: #d5f4f6;
}
.p-form-round-extra2color5 .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-round-extra2color5 :checked ~ .p-check-bordered {
  border-color: #41ced7;
}
.p-form-round-extra2color5 label:hover .p-check-active-icon,
.p-form-round-extra2color5 .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-round-extra2color5 label:hover .p-check-icon .p-check-middle,
.p-form-round-extra2color5 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #2abcc6;
}
.p-form-round-extra2color5 label:hover .p-check-icon .p-check-block,
.p-form-round-extra2color5 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #2abcc6;
}
.p-form-round-extra2color5 label:hover .p-check-highlight,
.p-form-round-extra2color5 .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #e6f8fa;
}
.p-form-round-extra2color5 label:hover .p-check-bordered,
.p-form-round-extra2color5 .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #1f8c93;
}
.p-form-round-extra2color5 .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-round-extra2color5 .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(24,108,113,0.7);
}
.p-form-round-extra2color5 .p-picture-pick:hover .p-preview-name {
  background-color: rgba(31,140,147,0.7);
}
.p-form-round-extra2color5 .p-show-block:checked + .p-show-block-heading:hover,
.p-form-round-extra2color5 .p-show-block-heading:hover {
  color: #2abcc6;
}
.p-form-round-extra2color5 .p-show-block:checked + .p-show-block-heading {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-round-extra2color5 .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #1f8c93;
}
.p-form-round-extra2color5 .p-colored-text {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-alt-colored-text {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-colored-link {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-colored-link:hover {
  color: #145c60;
}
.p-form-round-extra2color5 .p-action-link:hover {
  color: #1f8c93;
}
.p-form-round-extra2color5 label {
  color: #43797d;
}
.p-form-round-extra2color5 .form-control:focus ~ .input-group-icon,
.p-form-round-extra2color5 .form-control:hover ~ .input-group-icon,
.p-form-round-extra2color5 .input-group:hover .input-group-icon,
.p-form-round-extra2color5 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-round-extra2color5 .sp-input:focus ~ .input-group-icon,
.p-form-round-extra2color5 .sp-input:hover ~ .input-group-icon,
.p-form-round-extra2color5 .form-control:focus ~ .p-select-arrow,
.p-form-round-extra2color5 .form-control:hover ~ .p-select-arrow,
.p-form-round-extra2color5 .input-group:hover .p-select-arrow,
.p-form-round-extra2color5 .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-round-extra2color5 .sp-input:focus ~ .p-select-arrow,
.p-form-round-extra2color5 .sp-input:hover ~ .p-select-arrow,
.p-form-round-extra2color5 .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-round-extra2color5 .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-round-extra2color5 .input-group:hover .input-group-addon .p-addon-bg,
.p-form-round-extra2color5 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-round-extra2color5 .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-round-extra2color5 .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #1f8c93;
}
.p-form-round-extra2color5 .input-group-btn .btn:hover,
.p-form-round-extra2color5 .input-group-btn .btn:focus,
.p-form-round-extra2color5 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #1f8c93;
  -webkit-box-shadow: 0 3px 25px #1f8c93;
  box-shadow: 0 3px 25px #1f8c93;
}
.p-form-round-extra2color5 .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #1f8c93;
}
.p-form-round-extra2color5 .ui-autocomplete .ui-state-focus,
.p-form-round-extra2color5 .ui-autocomplete .ui-state-active {
  color: #1f8c93;
  background-color: rgba(31,140,147,0.1);
}
.p-form-round-extra2color5 .sp-container {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .sp-initial,
.p-form-round-extra2color5 .sp-clear,
.p-form-round-extra2color5 .sp-palette .sp-thumb-el {
  border-color: #2abcc6;
  color: #2abcc6;
}
.p-form-round-extra2color5 .sp-clear:hover,
.p-form-round-extra2color5 .sp-palette .sp-thumb-el:hover,
.p-form-round-extra2color5 .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #145c60;
  color: #145c60;
}
.p-form-round-extra2color5 .sp-clear:hover:after,
.p-form-round-extra2color5 .sp-palette .sp-thumb-el:hover:after,
.p-form-round-extra2color5 .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #eefbfb;
}
.p-form-round-extra2color5 .sp-choose,
.p-form-round-extra2color5 .sp-cancel,
.p-form-round-extra2color5 .sp-palette-toggle {
  color: #eefbfb;
}
.p-form-round-extra2color5 .sp-choose:hover,
.p-form-round-extra2color5 .sp-cancel:hover,
.p-form-round-extra2color5 .sp-palette-toggle:hover,
.p-form-round-extra2color5 .sp-choose:focus,
.p-form-round-extra2color5 .sp-cancel:focus,
.p-form-round-extra2color5 .sp-palette-toggle:focus,
.p-form-round-extra2color5 .sp-choose:active,
.p-form-round-extra2color5 .sp-cancel:active,
.p-form-round-extra2color5 .sp-palette-toggle:active {
  color: #85dfe5;
}
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #1f8c93;
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-round-extra2color5 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #39ccd5;
  background-color: #0a2c2e;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table thead th {
  background-color: #0a2c2e;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table td div:hover,
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table td span:hover {
  color: #145c60;
  background-color: #2abcc6;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table td a,
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table td .btn {
  color: #52d2da;
  background-color: transparent;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table td a:hover,
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #0a2c2e;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table .old,
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table .new {
  color: #c0eff2;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table td .active,
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table .active div {
  background-color: #0a2c2e;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(82,210,218,0);
  border-bottom-color: #52d2da;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table span.disabled,
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table .disabled div,
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #2abcc6;
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table .disabled span,
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #2abcc6;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #155c60;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #1f8c93;
}
.p-form-round-extra2color5 .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #0a2c2e;
}
.p-form-round-extra2color5 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #0a2c2e;
}
.p-form-round-extra2color5 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #0a2c2e;
}
.p-form-round-extra2color5 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-round-extra2color5 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-round-extra2color5 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-round-extra2color5 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-round-extra2color5 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #0a2c2e;
}
.p-form-round-extra2color5 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(82,210,218,0);
  border-bottom-color: #52d2da;
}
.p-form-round-extra2color5 .p-js-link:hover,
.p-form-round-extra2color5 .p-show-js-block .p-js-link:hover,
.p-form-round-extra2color5 .p-field-toggled .p-js-link:hover,
.p-form-round-extra2color5 .p-js-link:focus,
.p-form-round-extra2color5 .p-show-js-block .p-js-link:focus,
.p-form-round-extra2color5 .p-field-toggled .p-js-link:focus {
  color: #26acb5;
}
.p-form-round-extra2color5 .p-js-active-link,
.p-form-round-extra2color5 .p-show-js-block .p-js-link,
.p-form-round-extra2color5 .p-field-toggled .p-js-link {
  color: #1f8c93;
}
.p-form-round-extra2color5 .input-group .realperson-challenge .realperson-regen {
  color: #1f8c93;
}
.p-form-round-extra2color5 .input-group .realperson-challenge .realperson-regen:hover {
  color: #145c60;
}
.p-form-round-extra2color5 .input-group .realperson-challenge .realperson-text:hover {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-slider-block .p-js-value,
.p-form-round-extra2color5 .p-sl-tip {
  border-color: #1f8c93;
}
.p-form-round-extra2color5 .p-sl-tip:before {
  border-color: rgba(31,140,147,0);
}
.p-form-round-extra2color5 .ui-slider-range {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .ui-slider-handle:after {
  border-color: #1f8c93;
}
.p-form-round-extra2color5 .ui-slider-handle .p-sl-icon {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .ui-slider-handle.ui-state-focus:after,
.p-form-round-extra2color5 .ui-slider-handle.ui-state-active:after,
.p-form-round-extra2color5 .ui-slider-handle.ui-state-hover:after {
  border-color: #186c71;
}
.p-form-round-extra2color5 .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-round-extra2color5 .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-round-extra2color5 .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #186c71;
}
.p-form-round-extra2color5 .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #1f8c93;
}
.p-form-round-extra2color5 .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #1f8c93;
}
.p-form-round-extra2color5 .p-rating .p-rating-active-icon {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-round-extra2color5 .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-round-extra2color5 .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-round-extra2color5 .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-round-extra2color5 .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-round-extra2color5 .nav-tabs > li > label:hover,
.p-form-round-extra2color5 .nav-tabs > li > label:focus {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-round-extra2color5 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-round-extra2color5 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-round-extra2color5 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-round-extra2color5 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-round-extra2color5 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-round-extra2color5 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-round-extra2color5 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-round-extra2color5 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-round-extra2color5 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-round-extra2color5 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-round-extra2color5 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-round-extra2color5 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-round-extra2color5 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-round-extra2color5 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-title-line,
.p-form-round-extra2color5 .p-title-step-line,
.p-form-round-extra2color5 .p-title-side {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .p-tooltip .p-tooltip-content {
  background-color: #145c60;
}
.p-form-round-extra2color5 .p-tooltip .p-tooltip-content:after {
  border-color: rgba(20,92,96,0);
  border-top-color: #145c60;
}
.p-form-round-extra2color5 .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-round-extra2color5 .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-round-extra2color5 .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(20,92,96,0);
  border-bottom-color: #145c60;
}
.p-form-round-extra2color5 .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-round-extra2color5 .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-round-extra2color5 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  color: #1f8c93;
}
.p-form-round-extra2color5 .p-alt-back,
.p-form-round-extra2color5 .p-alt-back .p-form-bg {
  background-color: #f7fdfd;
}
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #f7fdfd;
}
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-round-extra2color5 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #f7fdfd;
}
.p-form-round-extra2color5 .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-round-extra2color5 .p-alt-back .p-table.table-striped > thead {
  background-color: #eafafb;
}
.p-form-round-extra2color5 .p-alt-back .panel-fp > .panel-heading {
  background-color: #eafafb;
}
.p-form-round-extra2color5 .p-alt-back .panel-fp > .panel-body {
  background-color: #f7fdfd;
}
.p-form-round-extra2color5 .p-alt-back hr.p-flat {
  border-color: #eafafb;
}
.p-form-round-extra2color5 .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-round-extra2color5 .p-alt-back .p-picture-pick .p-check-block {
  background-color: #f7fdfd;
}
.p-form-round-extra2color5 .btn.p-active-btn,
.p-form-round-extra2color5 .btn:hover,
.p-form-round-extra2color5 .btn:focus {
  -webkit-box-shadow: 0 3px 25px #1f8c93;
  box-shadow: 0 3px 25px #1f8c93;
}
.p-form-round-extra2color5 .p-form-steps > li.active:last-child .p-step:after {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .p-step:before,
.p-form-round-extra2color5 .p-step:after {
  background-color: #1f8c93;
}
.p-form-round-extra2color5 .p-step .p-step-text:before {
  background-color: #2abcc6;
}
