/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-simple-darkBlue .panel-fp {
  border-color: #0000c8;
}
.p-form-simple-darkBlue .panel-fp > .panel-heading {
  background-color: #00009f;
  border-color: #0000c8;
}
.p-form-simple-darkBlue .panel-fp > .panel-body {
  background-color: #00008b;
}
.p-form-simple-darkBlue .progress-bar-fp {
  background-color: #0000f1;
}
.p-form-simple-darkBlue .btn.p-active-btn,
.p-form-simple-darkBlue .btn:hover,
.p-form-simple-darkBlue .btn:focus {
  background-color: #0000c8;
}
.p-form-simple-darkBlue .radio label a,
.p-form-simple-darkBlue .checkbox label a,
.p-form-simple-darkBlue .p-switch label a,
.p-form-simple-darkBlue .p-radioswitch label a {
  color: #0000f1;
}
.p-form-simple-darkBlue .p-show-block-heading a {
  color: #0000f1;
}
.p-form-simple-darkBlue .p-check-icon .p-check-middle {
  color: #0000f1;
}
.p-form-simple-darkBlue .p-check-bordered {
  border-color: #0000b4;
}
.p-form-simple-darkBlue .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-simple-darkBlue :checked ~ .p-check-highlight {
  background-color: #000067;
}
.p-form-simple-darkBlue label:hover .p-check-active-icon,
.p-form-simple-darkBlue .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-simple-darkBlue label:hover .p-check-icon .p-check-middle,
.p-form-simple-darkBlue .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #0000c8;
}
.p-form-simple-darkBlue label:hover .p-check-icon .p-check-block,
.p-form-simple-darkBlue .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #0000c8;
}
.p-form-simple-darkBlue label:hover .p-switch-icon,
.p-form-simple-darkBlue .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #0000c8;
}
.p-form-simple-darkBlue label:hover .p-check-highlight,
.p-form-simple-darkBlue .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #007;
}
.p-form-simple-darkBlue label:hover .p-check-bordered,
.p-form-simple-darkBlue .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #2525ff;
}
.p-form-simple-darkBlue .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-simple-darkBlue .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(0,0,241,0.7);
}
.p-form-simple-darkBlue .p-picture-pick:hover .p-preview-name {
  background-color: rgba(0,0,78,0.7);
}
.p-form-simple-darkBlue .p-show-block:checked + .p-show-block-heading:hover,
.p-form-simple-darkBlue .p-show-block-heading:hover {
  color: #0000c8;
}
.p-form-simple-darkBlue .p-picture-pick .p-switch-icon,
.p-form-simple-darkBlue .p-picture-pick .p-check-block {
  background-color: #00008b;
}
.p-form-simple-darkBlue .p-radio-color .p-color-block {
  border-color: #0000c8;
}
.p-form-simple-darkBlue .p-form-bg,
.p-form-simple-darkBlue .p-form {
  background: #00008b;
}
.p-form-simple-darkBlue .p-colored-text {
  color: #0000f1;
}
.p-form-simple-darkBlue .p-alt-colored-text {
  color: #0000c8;
}
.p-form-simple-darkBlue .p-colored-link {
  color: #0000f1;
}
.p-form-simple-darkBlue .p-colored-link:hover {
  color: #0000c8;
}
.p-form-simple-darkBlue .p-action-link:hover {
  color: #0000c8;
}
.p-form-simple-darkBlue hr {
  border-color: #0000c8;
}
.p-form-simple-darkBlue hr.p-flat {
  border-color: #00009f;
}
.p-form-simple-darkBlue .p-table > thead > tr > td,
.p-form-simple-darkBlue .p-table > tbody > tr > td,
.p-form-simple-darkBlue .p-table > tfoot > tr > td,
.p-form-simple-darkBlue .p-table > thead > tr > th,
.p-form-simple-darkBlue .p-table > tbody > tr > th,
.p-form-simple-darkBlue .p-table > tfoot > tr > th {
  border-color: #0000c8;
}
.p-form-simple-darkBlue .p-table.table-striped > thead {
  background-color: #00009f;
  border-color: #0000c8;
}
.p-form-simple-darkBlue .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #00009f;
}
.p-form-simple-darkBlue .p-table.table-bordered {
  border-color: #0000c8;
}
.p-form-simple-darkBlue .p-table.table-bordered > thead > tr > td,
.p-form-simple-darkBlue .p-table.table-bordered > tbody > tr > td,
.p-form-simple-darkBlue .p-table.table-bordered > tfoot > tr > td,
.p-form-simple-darkBlue .p-table.table-bordered > thead > tr > th,
.p-form-simple-darkBlue .p-table.table-bordered > tbody > tr > th,
.p-form-simple-darkBlue .p-table.table-bordered > tfoot > tr > th {
  border-color: #0000c8;
}
.p-form-simple-darkBlue select.form-control option {
  background-color: #00008b;
}
.p-form-simple-darkBlue .form-control:focus ~ .input-group-icon,
.p-form-simple-darkBlue .form-control:hover ~ .input-group-icon,
.p-form-simple-darkBlue .input-group:hover .input-group-icon,
.p-form-simple-darkBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-simple-darkBlue .sp-input:focus ~ .input-group-icon,
.p-form-simple-darkBlue .sp-input:hover ~ .input-group-icon,
.p-form-simple-darkBlue .form-control:focus ~ .p-select-arrow,
.p-form-simple-darkBlue .form-control:hover ~ .p-select-arrow,
.p-form-simple-darkBlue .input-group:hover .p-select-arrow,
.p-form-simple-darkBlue .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-simple-darkBlue .sp-input:focus ~ .p-select-arrow,
.p-form-simple-darkBlue .sp-input:hover ~ .p-select-arrow,
.p-form-simple-darkBlue .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-simple-darkBlue .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-simple-darkBlue .input-group:hover .input-group-addon .p-addon-bg,
.p-form-simple-darkBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-simple-darkBlue .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-simple-darkBlue .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #0000c8;
  color: #0000c8;
}
.p-form-simple-darkBlue .p-custom-arrow .p-select-arrow {
  background-color: #00008b;
}
.p-form-simple-darkBlue .input-group-btn .btn:hover,
.p-form-simple-darkBlue .input-group-btn .btn:focus,
.p-form-simple-darkBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #0000c8;
}
.p-form-simple-darkBlue .p-no-preview {
  background-color: #0000c8;
  border-color: #0000af;
}
.p-form-simple-darkBlue .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #0000b3;
}
.p-form-simple-darkBlue .ui-autocomplete {
  background-color: #00008b;
}
.p-form-simple-darkBlue .ui-autocomplete .ui-state-focus,
.p-form-simple-darkBlue .ui-autocomplete .ui-state-active {
  background-color: rgba(255,255,255,0.1);
}
.p-form-simple-darkBlue .sp-container {
  background-color: #00004e;
}
.p-form-simple-darkBlue .sp-initial,
.p-form-simple-darkBlue .sp-clear,
.p-form-simple-darkBlue .sp-palette .sp-thumb-el {
  border-color: #00008b;
  color: #00008b;
}
.p-form-simple-darkBlue .sp-clear:hover,
.p-form-simple-darkBlue .sp-palette .sp-thumb-el:hover,
.p-form-simple-darkBlue .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #001;
  color: #001;
}
.p-form-simple-darkBlue .sp-clear:hover:after,
.p-form-simple-darkBlue .sp-palette .sp-thumb-el:hover:after,
.p-form-simple-darkBlue .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #ebebff;
}
.p-form-simple-darkBlue .sp-choose,
.p-form-simple-darkBlue .sp-cancel,
.p-form-simple-darkBlue .sp-palette-toggle {
  color: #ebebff;
}
.p-form-simple-darkBlue .sp-choose:hover,
.p-form-simple-darkBlue .sp-cancel:hover,
.p-form-simple-darkBlue .sp-palette-toggle:hover,
.p-form-simple-darkBlue .sp-choose:focus,
.p-form-simple-darkBlue .sp-cancel:focus,
.p-form-simple-darkBlue .sp-palette-toggle:focus,
.p-form-simple-darkBlue .sp-choose:active,
.p-form-simple-darkBlue .sp-cancel:active,
.p-form-simple-darkBlue .sp-palette-toggle:active {
  color: #6b6bff;
}
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #0000f1;
}
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #0000f1;
  color: #0000f1;
}
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #00004e;
  color: #00004e;
}
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #3939ff;
}
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-simple-darkBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #0000c8;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget {
  background-color: #00009f;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #0000e7;
  background-color: #001;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table thead th {
  background-color: #001;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table td div:hover,
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table td span:hover {
  color: #000062;
  background-color: #0000dc;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table td a,
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table td .btn {
  color: #0606ff;
  background-color: transparent;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table td a:hover,
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #001;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table .old,
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table .new {
  color: #b3b3ff;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table td .active,
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table .active div {
  background-color: #001;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(6,6,255,0);
  border-bottom-color: #0606ff;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table span.disabled,
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table .disabled div,
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #0000dc;
  background-color: #00009f;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table .disabled span,
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #0000dc;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #00004e;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #00009f;
}
.p-form-simple-darkBlue .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #001;
}
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #001;
}
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #001;
}
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #001;
}
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(6,6,255,0);
  border-bottom-color: #0606ff;
}
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #0000c8;
}
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #0000c8;
}
.p-form-simple-darkBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #0000c8;
}
.p-form-simple-darkBlue .p-js-link {
  color: #0606ff;
}
.p-form-simple-darkBlue .p-js-link:hover,
.p-form-simple-darkBlue .p-show-js-block .p-js-link:hover,
.p-form-simple-darkBlue .p-field-toggled .p-js-link:hover,
.p-form-simple-darkBlue .p-js-link:focus,
.p-form-simple-darkBlue .p-show-js-block .p-js-link:focus,
.p-form-simple-darkBlue .p-field-toggled .p-js-link:focus {
  color: #00004e;
}
.p-form-simple-darkBlue .p-js-active-link,
.p-form-simple-darkBlue .p-show-js-block .p-js-link,
.p-form-simple-darkBlue .p-field-toggled .p-js-link {
  color: #0000f1;
}
.p-form-simple-darkBlue .input-group .realperson-challenge .realperson-regen {
  color: #0000f1;
}
.p-form-simple-darkBlue .input-group .realperson-challenge .realperson-regen:hover {
  color: #0000c8;
}
.p-form-simple-darkBlue .input-group .realperson-challenge .realperson-text:hover {
  color: #0000f1;
}
.p-form-simple-darkBlue .p-slider-block .p-js-value,
.p-form-simple-darkBlue .p-sl-tip {
  background-color: #00008b;
  border-color: #00004e;
}
.p-form-simple-darkBlue .p-sl-tip:before {
  border-color: rgba(0,0,78,0);
}
.p-form-simple-darkBlue .ui-slider:before {
  border-color: #0606ff;
  background-color: #00008b;
}
.p-form-simple-darkBlue .ui-slider-handle:after {
  background-color: #00008b;
}
.p-form-simple-darkBlue .ui-slider-handle .p-sl-icon {
  color: #00008b;
}
.p-form-simple-darkBlue .ui-slider-handle.ui-state-focus:after,
.p-form-simple-darkBlue .ui-slider-handle.ui-state-active:after,
.p-form-simple-darkBlue .ui-slider-handle.ui-state-hover:after {
  border-color: #00004e;
}
.p-form-simple-darkBlue .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-simple-darkBlue .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-simple-darkBlue .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #00004e;
}
.p-form-simple-darkBlue .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #00004e;
}
.p-form-simple-darkBlue .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #00004e;
}
.p-form-simple-darkBlue .sl-v-simple .ui-slider:before {
  background-color: #0606ff;
}
.p-form-simple-darkBlue .sl-v-modern .ui-slider:before,
.p-form-simple-darkBlue .sl-v-bordered .ui-slider:before {
  border-color: #0000f1;
}
.p-form-simple-darkBlue .sl-v-top .ui-slider:before {
  background-color: #0606ff;
}
.p-form-simple-darkBlue .sl-v-flat .ui-slider:before {
  background-color: #0606ff;
}
.p-form-simple-darkBlue .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #00008b;
}
.p-form-simple-darkBlue .pt-form-cross-panel .p-switch-icon {
  background-color: #00008b;
}
.p-form-simple-darkBlue .p-rating .p-field-cancel {
  color: #0000f1;
}
.p-form-simple-darkBlue .p-rating .p-rating-icon {
  color: #0000f1;
}
.p-form-simple-darkBlue .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #0000f1;
}
.p-form-simple-darkBlue .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-simple-darkBlue .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-simple-darkBlue .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #fff;
}
.p-form-simple-darkBlue .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #fff;
}
.p-form-simple-darkBlue .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-simple-darkBlue .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-simple-darkBlue .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #0000f1;
}
.p-form-simple-darkBlue .p-form-steps:before {
  background-color: #0000c8;
}
.p-form-simple-darkBlue .p-form-steps > li.active .p-step:before {
  background-color: #00004e;
}
.p-form-simple-darkBlue .p-form-steps > li.active ~ li .p-step-text {
  background-color: #0000c8;
}
.p-form-simple-darkBlue .p-step {
  color: #0000b4;
}
.p-form-simple-darkBlue .p-step .p-step-text {
  background-color: #00004e;
}
.p-form-simple-darkBlue .nav-tabs {
  border-color: #0000c8;
  background-color: #0000c8;
}
.p-form-simple-darkBlue .nav-tabs > li > label:hover,
.p-form-simple-darkBlue .nav-tabs > li > label:focus {
  background-color: #00004e;
}
.p-form-simple-darkBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-darkBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-darkBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-darkBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-darkBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-darkBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-darkBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-darkBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-darkBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-darkBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-darkBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-darkBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-darkBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-darkBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-darkBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #00008b;
}
.p-form-simple-darkBlue .p-title-line,
.p-form-simple-darkBlue .p-title-step-line,
.p-form-simple-darkBlue .p-title-side {
  background-color: #0000c8;
}
.p-form-simple-darkBlue .p-tooltip .p-tooltip-content {
  background-color: #00004e;
}
.p-form-simple-darkBlue .p-tooltip .p-tooltip-content:after {
  border-color: rgba(0,0,78,0);
  border-top-color: #00004e;
}
.p-form-simple-darkBlue .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-simple-darkBlue .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-simple-darkBlue .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(0,0,78,0);
  border-bottom-color: #00004e;
}
.p-form-simple-darkBlue .p-bordered {
  border-color: #0000c8;
}
.p-form-simple-darkBlue .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-simple-darkBlue .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-simple-darkBlue .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #00008b;
}
.p-form-simple-darkBlue .p-tabs-offset > .nav-tabs > li > label {
  background-color: #0000b4;
}
.p-form-simple-darkBlue .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-simple-darkBlue .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #0000c8;
}
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-darkBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #00008b;
}
.p-form-simple-darkBlue .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #0000c8;
}
.p-form-simple-darkBlue .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #0000c8;
}
.p-form-simple-darkBlue .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #0000c8;
}
.p-form-simple-darkBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-darkBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-darkBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-darkBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-darkBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #0000c8;
}
.p-form-simple-darkBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-simple-darkBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-simple-darkBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-simple-darkBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-simple-darkBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #0000c8;
}
.p-form-simple-darkBlue .p-alt-back,
.p-form-simple-darkBlue .p-alt-back .p-form-bg {
  background-color: #0e008b;
}
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #0e008b;
}
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-darkBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0e008b;
}
.p-form-simple-darkBlue .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-simple-darkBlue .p-alt-back .p-table.table-striped > thead {
  background-color: #10009a;
}
.p-form-simple-darkBlue .p-alt-back .panel-fp > .panel-heading {
  background-color: #10009a;
}
.p-form-simple-darkBlue .p-alt-back .panel-fp > .panel-body {
  background-color: #0e008b;
}
.p-form-simple-darkBlue .p-alt-back hr.p-flat {
  border-color: #10009a;
}
.p-form-simple-darkBlue .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #0e008b;
}
.p-form-simple-darkBlue .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-simple-darkBlue .p-alt-back .p-picture-pick .p-check-block {
  background-color: #0e008b;
}
.p-form-simple-darkBlue .p-bordered > .nav-tabs {
  border-color: #0000c8;
}
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-darkBlue .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0e008b;
}
.p-form-simple-darkBlue .p-alt-back .pt-form-cross-panel .p-check-icon .p-check-block,
.p-form-simple-darkBlue .p-alt-back .pt-form-cross-panel .p-switch-icon {
  background-color: #0e008b;
}
