/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-simple-cadetBlue .panel-fp {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue .panel-fp > .panel-heading {
  background-color: #6ca6a8;
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue .panel-fp > .panel-body {
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .progress-bar-fp {
  background-color: #395f60;
}
.p-form-simple-cadetBlue .btn.p-active-btn,
.p-form-simple-cadetBlue .btn:hover,
.p-form-simple-cadetBlue .btn:focus {
  background-color: #85b5b7;
}
.p-form-simple-cadetBlue .radio label a,
.p-form-simple-cadetBlue .checkbox label a,
.p-form-simple-cadetBlue .p-switch label a,
.p-form-simple-cadetBlue .p-radioswitch label a {
  color: #395f60;
}
.p-form-simple-cadetBlue .p-show-block-heading a {
  color: #395f60;
}
.p-form-simple-cadetBlue .p-check-icon .p-check-middle {
  color: #9fc5c6;
}
.p-form-simple-cadetBlue .p-check-bordered {
  border-color: #79aeaf;
}
.p-form-simple-cadetBlue .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-simple-cadetBlue :checked ~ .p-check-highlight {
  background-color: #52888a;
}
.p-form-simple-cadetBlue label:hover .p-check-active-icon,
.p-form-simple-cadetBlue .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-simple-cadetBlue label:hover .p-check-icon .p-check-middle,
.p-form-simple-cadetBlue .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #85b5b7;
}
.p-form-simple-cadetBlue label:hover .p-check-icon .p-check-block,
.p-form-simple-cadetBlue .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue label:hover .p-switch-icon,
.p-form-simple-cadetBlue .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue label:hover .p-check-highlight,
.p-form-simple-cadetBlue .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #579193;
}
.p-form-simple-cadetBlue label:hover .p-check-bordered,
.p-form-simple-cadetBlue .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #bfd8d9;
}
.p-form-simple-cadetBlue .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-simple-cadetBlue .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(57,95,96,0.7);
}
.p-form-simple-cadetBlue .p-picture-pick:hover .p-preview-name {
  background-color: rgba(72,120,122,0.7);
}
.p-form-simple-cadetBlue .p-show-block:checked + .p-show-block-heading:hover,
.p-form-simple-cadetBlue .p-show-block-heading:hover {
  color: #85b5b7;
}
.p-form-simple-cadetBlue .p-picture-pick .p-switch-icon,
.p-form-simple-cadetBlue .p-picture-pick .p-check-block {
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .p-radio-color .p-color-block {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-form-bg,
.p-form-simple-cadetBlue .p-form {
  background: #5f9ea0;
}
.p-form-simple-cadetBlue .p-colored-text {
  color: #395f60;
}
.p-form-simple-cadetBlue .p-alt-colored-text {
  color: #85b5b7;
}
.p-form-simple-cadetBlue .p-colored-link {
  color: #395f60;
}
.p-form-simple-cadetBlue .p-colored-link:hover {
  color: #85b5b7;
}
.p-form-simple-cadetBlue .p-action-link:hover {
  color: #85b5b7;
}
.p-form-simple-cadetBlue hr {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue hr.p-flat {
  border-color: #6ca6a8;
}
.p-form-simple-cadetBlue .p-table > thead > tr > td,
.p-form-simple-cadetBlue .p-table > tbody > tr > td,
.p-form-simple-cadetBlue .p-table > tfoot > tr > td,
.p-form-simple-cadetBlue .p-table > thead > tr > th,
.p-form-simple-cadetBlue .p-table > tbody > tr > th,
.p-form-simple-cadetBlue .p-table > tfoot > tr > th {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-table.table-striped > thead {
  background-color: #6ca6a8;
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #6ca6a8;
}
.p-form-simple-cadetBlue .p-table.table-bordered {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-table.table-bordered > thead > tr > td,
.p-form-simple-cadetBlue .p-table.table-bordered > tbody > tr > td,
.p-form-simple-cadetBlue .p-table.table-bordered > tfoot > tr > td,
.p-form-simple-cadetBlue .p-table.table-bordered > thead > tr > th,
.p-form-simple-cadetBlue .p-table.table-bordered > tbody > tr > th,
.p-form-simple-cadetBlue .p-table.table-bordered > tfoot > tr > th {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue select.form-control option {
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .form-control:focus ~ .input-group-icon,
.p-form-simple-cadetBlue .form-control:hover ~ .input-group-icon,
.p-form-simple-cadetBlue .input-group:hover .input-group-icon,
.p-form-simple-cadetBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-simple-cadetBlue .sp-input:focus ~ .input-group-icon,
.p-form-simple-cadetBlue .sp-input:hover ~ .input-group-icon,
.p-form-simple-cadetBlue .form-control:focus ~ .p-select-arrow,
.p-form-simple-cadetBlue .form-control:hover ~ .p-select-arrow,
.p-form-simple-cadetBlue .input-group:hover .p-select-arrow,
.p-form-simple-cadetBlue .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-simple-cadetBlue .sp-input:focus ~ .p-select-arrow,
.p-form-simple-cadetBlue .sp-input:hover ~ .p-select-arrow,
.p-form-simple-cadetBlue .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-simple-cadetBlue .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-simple-cadetBlue .input-group:hover .input-group-addon .p-addon-bg,
.p-form-simple-cadetBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-simple-cadetBlue .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-simple-cadetBlue .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #85b5b7;
  color: #85b5b7;
}
.p-form-simple-cadetBlue .p-custom-arrow .p-select-arrow {
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .input-group-btn .btn:hover,
.p-form-simple-cadetBlue .input-group-btn .btn:focus,
.p-form-simple-cadetBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-no-preview {
  background-color: #85b5b7;
  border-color: #75abae;
}
.p-form-simple-cadetBlue .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #5f9ea0;
}
.p-form-simple-cadetBlue .ui-autocomplete {
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .ui-autocomplete .ui-state-focus,
.p-form-simple-cadetBlue .ui-autocomplete .ui-state-active {
  background-color: rgba(255,255,255,0.1);
}
.p-form-simple-cadetBlue .sp-container {
  background-color: #48787a;
}
.p-form-simple-cadetBlue .sp-initial,
.p-form-simple-cadetBlue .sp-clear,
.p-form-simple-cadetBlue .sp-palette .sp-thumb-el {
  border-color: #5f9ea0;
  color: #5f9ea0;
}
.p-form-simple-cadetBlue .sp-clear:hover,
.p-form-simple-cadetBlue .sp-palette .sp-thumb-el:hover,
.p-form-simple-cadetBlue .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #315254;
  color: #315254;
}
.p-form-simple-cadetBlue .sp-clear:hover:after,
.p-form-simple-cadetBlue .sp-palette .sp-thumb-el:hover:after,
.p-form-simple-cadetBlue .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #f2f7f7;
}
.p-form-simple-cadetBlue .sp-choose,
.p-form-simple-cadetBlue .sp-cancel,
.p-form-simple-cadetBlue .sp-palette-toggle {
  color: #f2f7f7;
}
.p-form-simple-cadetBlue .sp-choose:hover,
.p-form-simple-cadetBlue .sp-cancel:hover,
.p-form-simple-cadetBlue .sp-palette-toggle:hover,
.p-form-simple-cadetBlue .sp-choose:focus,
.p-form-simple-cadetBlue .sp-cancel:focus,
.p-form-simple-cadetBlue .sp-palette-toggle:focus,
.p-form-simple-cadetBlue .sp-choose:active,
.p-form-simple-cadetBlue .sp-cancel:active,
.p-form-simple-cadetBlue .sp-palette-toggle:active {
  color: #a2c7c8;
}
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #9fc5c6;
}
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #9fc5c6;
  color: #9fc5c6;
}
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #48787a;
  color: #48787a;
}
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #cce0e1;
}
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-simple-cadetBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #85b5b7;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget {
  background-color: #6ca6a8;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #99c1c2;
  background-color: #315253;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table thead th {
  background-color: #315253;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table td div:hover,
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table td span:hover {
  color: #508587;
  background-color: #92bdbf;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table td a,
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table td .btn {
  color: #accdce;
  background-color: transparent;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table td a:hover,
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #315253;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table .old,
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table .new {
  color: #cfe2e3;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table td .active,
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table .active div {
  background-color: #315253;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(172,205,206,0);
  border-bottom-color: #accdce;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table span.disabled,
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table .disabled div,
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #92bdbf;
  background-color: #6ca6a8;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table .disabled span,
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #92bdbf;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #487879;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #6ca6a8;
}
.p-form-simple-cadetBlue .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #315253;
}
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #315253;
}
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #315253;
}
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #315253;
}
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(172,205,206,0);
  border-bottom-color: #accdce;
}
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #85b5b7;
}
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #85b5b7;
}
.p-form-simple-cadetBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-js-link {
  color: #accdce;
}
.p-form-simple-cadetBlue .p-js-link:hover,
.p-form-simple-cadetBlue .p-show-js-block .p-js-link:hover,
.p-form-simple-cadetBlue .p-field-toggled .p-js-link:hover,
.p-form-simple-cadetBlue .p-js-link:focus,
.p-form-simple-cadetBlue .p-show-js-block .p-js-link:focus,
.p-form-simple-cadetBlue .p-field-toggled .p-js-link:focus {
  color: #48787a;
}
.p-form-simple-cadetBlue .p-js-active-link,
.p-form-simple-cadetBlue .p-show-js-block .p-js-link,
.p-form-simple-cadetBlue .p-field-toggled .p-js-link {
  color: #395f60;
}
.p-form-simple-cadetBlue .input-group .realperson-challenge .realperson-regen {
  color: #395f60;
}
.p-form-simple-cadetBlue .input-group .realperson-challenge .realperson-regen:hover {
  color: #85b5b7;
}
.p-form-simple-cadetBlue .input-group .realperson-challenge .realperson-text:hover {
  color: #395f60;
}
.p-form-simple-cadetBlue .p-slider-block .p-js-value,
.p-form-simple-cadetBlue .p-sl-tip {
  background-color: #5f9ea0;
  border-color: #48787a;
}
.p-form-simple-cadetBlue .p-sl-tip:before {
  border-color: rgba(72,120,122,0);
}
.p-form-simple-cadetBlue .ui-slider:before {
  border-color: #accdce;
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .ui-slider-handle:after {
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .ui-slider-handle .p-sl-icon {
  color: #5f9ea0;
}
.p-form-simple-cadetBlue .ui-slider-handle.ui-state-focus:after,
.p-form-simple-cadetBlue .ui-slider-handle.ui-state-active:after,
.p-form-simple-cadetBlue .ui-slider-handle.ui-state-hover:after {
  border-color: #48787a;
}
.p-form-simple-cadetBlue .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-simple-cadetBlue .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-simple-cadetBlue .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #48787a;
}
.p-form-simple-cadetBlue .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #48787a;
}
.p-form-simple-cadetBlue .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #48787a;
}
.p-form-simple-cadetBlue .sl-v-simple .ui-slider:before {
  background-color: #accdce;
}
.p-form-simple-cadetBlue .sl-v-modern .ui-slider:before,
.p-form-simple-cadetBlue .sl-v-bordered .ui-slider:before {
  border-color: #395f60;
}
.p-form-simple-cadetBlue .sl-v-top .ui-slider:before {
  background-color: #accdce;
}
.p-form-simple-cadetBlue .sl-v-flat .ui-slider:before {
  background-color: #accdce;
}
.p-form-simple-cadetBlue .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .pt-form-cross-panel .p-switch-icon {
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .p-rating .p-field-cancel {
  color: #9fc5c6;
}
.p-form-simple-cadetBlue .p-rating .p-rating-icon {
  color: #9fc5c6;
}
.p-form-simple-cadetBlue .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #9fc5c6;
}
.p-form-simple-cadetBlue .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-simple-cadetBlue .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-simple-cadetBlue .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #fff;
}
.p-form-simple-cadetBlue .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #fff;
}
.p-form-simple-cadetBlue .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-simple-cadetBlue .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-simple-cadetBlue .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #9fc5c6;
}
.p-form-simple-cadetBlue .p-form-steps:before {
  background-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-form-steps > li.active .p-step:before {
  background-color: #48787a;
}
.p-form-simple-cadetBlue .p-form-steps > li.active ~ li .p-step-text {
  background-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-step {
  color: #79aeaf;
}
.p-form-simple-cadetBlue .p-step .p-step-text {
  background-color: #48787a;
}
.p-form-simple-cadetBlue .nav-tabs {
  border-color: #85b5b7;
  background-color: #85b5b7;
}
.p-form-simple-cadetBlue .nav-tabs > li > label:hover,
.p-form-simple-cadetBlue .nav-tabs > li > label:focus {
  background-color: #48787a;
}
.p-form-simple-cadetBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-cadetBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .p-title-line,
.p-form-simple-cadetBlue .p-title-step-line,
.p-form-simple-cadetBlue .p-title-side {
  background-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-tooltip .p-tooltip-content {
  background-color: #48787a;
}
.p-form-simple-cadetBlue .p-tooltip .p-tooltip-content:after {
  border-color: rgba(72,120,122,0);
  border-top-color: #48787a;
}
.p-form-simple-cadetBlue .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-simple-cadetBlue .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-simple-cadetBlue .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(72,120,122,0);
  border-bottom-color: #48787a;
}
.p-form-simple-cadetBlue .p-bordered {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-simple-cadetBlue .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-simple-cadetBlue .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .p-tabs-offset > .nav-tabs > li > label {
  background-color: #79aeaf;
}
.p-form-simple-cadetBlue .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-simple-cadetBlue .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-cadetBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #5f9ea0;
}
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-simple-cadetBlue .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-alt-back,
.p-form-simple-cadetBlue .p-alt-back .p-form-bg {
  background-color: #5fa096;
}
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #5fa096;
}
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-cadetBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #5fa096;
}
.p-form-simple-cadetBlue .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-simple-cadetBlue .p-alt-back .p-table.table-striped > thead {
  background-color: #59968d;
}
.p-form-simple-cadetBlue .p-alt-back .panel-fp > .panel-heading {
  background-color: #59968d;
}
.p-form-simple-cadetBlue .p-alt-back .panel-fp > .panel-body {
  background-color: #5fa096;
}
.p-form-simple-cadetBlue .p-alt-back hr.p-flat {
  border-color: #59968d;
}
.p-form-simple-cadetBlue .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #5fa096;
}
.p-form-simple-cadetBlue .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-simple-cadetBlue .p-alt-back .p-picture-pick .p-check-block {
  background-color: #5fa096;
}
.p-form-simple-cadetBlue .p-bordered > .nav-tabs {
  border-color: #85b5b7;
}
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-simple-cadetBlue .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #5fa096;
}
.p-form-simple-cadetBlue .p-alt-back .pt-form-cross-panel .p-check-icon .p-check-block,
.p-form-simple-cadetBlue .p-alt-back .pt-form-cross-panel .p-switch-icon {
  background-color: #5fa096;
}
