/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-square-steelBlue .progress-bar-fp {
  background-color: #4682b4;
}
.p-form-square-steelBlue .btn {
  background-color: #4682b4;
}
.p-form-square-steelBlue .btn.p-active-btn,
.p-form-square-steelBlue .btn:hover,
.p-form-square-steelBlue .btn:focus {
  background-color: #4682b4;
}
.p-form-square-steelBlue .radio label a,
.p-form-square-steelBlue .checkbox label a,
.p-form-square-steelBlue .p-switch label a,
.p-form-square-steelBlue .p-radioswitch label a {
  color: #4682b4;
}
.p-form-square-steelBlue .p-show-block-heading a {
  color: #4682b4;
}
.p-form-square-steelBlue .p-check-active-icon {
  color: #4682b4;
}
.p-form-square-steelBlue .p-check-block:after {
  background-color: #4682b4;
  border-color: #4682b4;
}
.p-form-square-steelBlue .p-check-point:after {
  background-color: #4682b4;
  border-color: #4682b4;
}
.p-form-square-steelBlue .p-switch-icon:after {
  border-color: #4682b4;
}
.p-form-square-steelBlue .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-square-steelBlue :checked ~ .p-check-icon .p-check-middle {
  color: #4682b4;
}
.p-form-square-steelBlue .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-square-steelBlue :checked ~ .p-switch-icon {
  background-color: #8db3d3;
}
.p-form-square-steelBlue .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-square-steelBlue :checked ~ .p-switch-icon:after {
  background-color: #4682b4;
}
.p-form-square-steelBlue .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-square-steelBlue :checked ~ .p-check-highlight {
  background-color: #dae7f1;
}
.p-form-square-steelBlue .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-square-steelBlue :checked ~ .p-check-bordered {
  border-color: #8db3d3;
}
.p-form-square-steelBlue label:hover .p-check-active-icon,
.p-form-square-steelBlue .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-square-steelBlue label:hover .p-check-icon .p-check-middle,
.p-form-square-steelBlue .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #70a0c7;
}
.p-form-square-steelBlue label:hover .p-check-icon .p-check-block,
.p-form-square-steelBlue .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #70a0c7;
}
.p-form-square-steelBlue label:hover .p-check-highlight,
.p-form-square-steelBlue .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #e9f0f6;
}
.p-form-square-steelBlue label:hover .p-check-bordered,
.p-form-square-steelBlue .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #4682b4;
}
.p-form-square-steelBlue .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-square-steelBlue .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(59,109,151,0.7);
}
.p-form-square-steelBlue .p-picture-pick:hover .p-preview-name {
  background-color: rgba(70,130,180,0.7);
}
.p-form-square-steelBlue .p-show-block:checked + .p-show-block-heading:hover,
.p-form-square-steelBlue .p-show-block-heading:hover {
  color: #70a0c7;
}
.p-form-square-steelBlue .p-show-block:checked + .p-show-block-heading {
  color: #4682b4;
}
.p-form-square-steelBlue .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-square-steelBlue .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #4682b4;
}
.p-form-square-steelBlue .p-colored-text {
  color: #4682b4;
}
.p-form-square-steelBlue .p-alt-colored-text {
  color: #4682b4;
}
.p-form-square-steelBlue .p-colored-link {
  color: #4682b4;
}
.p-form-square-steelBlue .p-colored-link:hover {
  color: #356288;
}
.p-form-square-steelBlue .p-action-link:hover {
  color: #4682b4;
}
.p-form-square-steelBlue label {
  color: #56748d;
}
.p-form-square-steelBlue .form-control:focus ~ .input-group-icon,
.p-form-square-steelBlue .form-control:hover ~ .input-group-icon,
.p-form-square-steelBlue .input-group:hover .input-group-icon,
.p-form-square-steelBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-square-steelBlue .sp-input:focus ~ .input-group-icon,
.p-form-square-steelBlue .sp-input:hover ~ .input-group-icon,
.p-form-square-steelBlue .form-control:focus ~ .p-select-arrow,
.p-form-square-steelBlue .form-control:hover ~ .p-select-arrow,
.p-form-square-steelBlue .input-group:hover .p-select-arrow,
.p-form-square-steelBlue .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-square-steelBlue .sp-input:focus ~ .p-select-arrow,
.p-form-square-steelBlue .sp-input:hover ~ .p-select-arrow,
.p-form-square-steelBlue .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-square-steelBlue .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-square-steelBlue .input-group:hover .input-group-addon .p-addon-bg,
.p-form-square-steelBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-square-steelBlue .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-square-steelBlue .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #4682b4;
}
.p-form-square-steelBlue .input-group-btn .btn:hover,
.p-form-square-steelBlue .input-group-btn .btn:focus,
.p-form-square-steelBlue .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #4682b4;
  -webkit-box-shadow: 0 3px 25px #4682b4;
  box-shadow: 0 3px 25px #4682b4;
}
.p-form-square-steelBlue .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #4682b4;
}
.p-form-square-steelBlue .ui-autocomplete .ui-state-focus,
.p-form-square-steelBlue .ui-autocomplete .ui-state-active {
  color: #4682b4;
  background-color: rgba(70,130,180,0.1);
}
.p-form-square-steelBlue .sp-container {
  background-color: #4682b4;
}
.p-form-square-steelBlue .sp-initial,
.p-form-square-steelBlue .sp-clear,
.p-form-square-steelBlue .sp-palette .sp-thumb-el {
  border-color: #70a0c7;
  color: #70a0c7;
}
.p-form-square-steelBlue .sp-clear:hover,
.p-form-square-steelBlue .sp-palette .sp-thumb-el:hover,
.p-form-square-steelBlue .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #356288;
  color: #356288;
}
.p-form-square-steelBlue .sp-clear:hover:after,
.p-form-square-steelBlue .sp-palette .sp-thumb-el:hover:after,
.p-form-square-steelBlue .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #f0f5f9;
}
.p-form-square-steelBlue .sp-choose,
.p-form-square-steelBlue .sp-cancel,
.p-form-square-steelBlue .sp-palette-toggle {
  color: #f0f5f9;
}
.p-form-square-steelBlue .sp-choose:hover,
.p-form-square-steelBlue .sp-cancel:hover,
.p-form-square-steelBlue .sp-palette-toggle:hover,
.p-form-square-steelBlue .sp-choose:focus,
.p-form-square-steelBlue .sp-cancel:focus,
.p-form-square-steelBlue .sp-palette-toggle:focus,
.p-form-square-steelBlue .sp-choose:active,
.p-form-square-steelBlue .sp-cancel:active,
.p-form-square-steelBlue .sp-palette-toggle:active {
  color: #95b8d6;
}
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #4682b4;
  color: #4682b4;
}
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #4682b4;
}
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-square-steelBlue .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #4682b4;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget {
  background-color: #4682b4;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #86aed0;
  background-color: #24425c;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table thead th {
  background-color: #24425c;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table td div:hover,
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table td span:hover {
  color: #356288;
  background-color: #70a0c7;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table td a,
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table td .btn {
  color: #9cbdd8;
  background-color: transparent;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table td a:hover,
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #24425c;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table .old,
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table .new {
  color: #c8daea;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table td .active,
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table .active div {
  background-color: #24425c;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(156,189,216,0);
  border-bottom-color: #9cbdd8;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table span.disabled,
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table .disabled div,
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #70a0c7;
  background-color: #4682b4;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table .disabled span,
.p-form-square-steelBlue .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #70a0c7;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #356288;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #4682b4;
}
.p-form-square-steelBlue .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #24425c;
}
.p-form-square-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #4682b4;
}
.p-form-square-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #24425c;
}
.p-form-square-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #24425c;
}
.p-form-square-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-square-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #4682b4;
}
.p-form-square-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-square-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-square-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-square-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #24425c;
}
.p-form-square-steelBlue .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(156,189,216,0);
  border-bottom-color: #9cbdd8;
}
.p-form-square-steelBlue .p-js-link:hover,
.p-form-square-steelBlue .p-show-js-block .p-js-link:hover,
.p-form-square-steelBlue .p-field-toggled .p-js-link:hover,
.p-form-square-steelBlue .p-js-link:focus,
.p-form-square-steelBlue .p-show-js-block .p-js-link:focus,
.p-form-square-steelBlue .p-field-toggled .p-js-link:focus {
  color: #6196c2;
}
.p-form-square-steelBlue .p-js-active-link,
.p-form-square-steelBlue .p-show-js-block .p-js-link,
.p-form-square-steelBlue .p-field-toggled .p-js-link {
  color: #4682b4;
}
.p-form-square-steelBlue .input-group .realperson-challenge .realperson-regen {
  color: #4682b4;
}
.p-form-square-steelBlue .input-group .realperson-challenge .realperson-regen:hover {
  color: #356288;
}
.p-form-square-steelBlue .input-group .realperson-challenge .realperson-text:hover {
  color: #4682b4;
}
.p-form-square-steelBlue .p-slider-block .p-js-value,
.p-form-square-steelBlue .p-sl-tip {
  border-color: #4682b4;
}
.p-form-square-steelBlue .p-sl-tip:before {
  border-color: rgba(70,130,180,0);
}
.p-form-square-steelBlue .ui-slider-range {
  background-color: #4682b4;
}
.p-form-square-steelBlue .ui-slider-handle:after {
  border-color: #4682b4;
}
.p-form-square-steelBlue .ui-slider-handle .p-sl-icon {
  background-color: #4682b4;
}
.p-form-square-steelBlue .ui-slider-handle.ui-state-focus:after,
.p-form-square-steelBlue .ui-slider-handle.ui-state-active:after,
.p-form-square-steelBlue .ui-slider-handle.ui-state-hover:after {
  border-color: #3b6d97;
}
.p-form-square-steelBlue .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-square-steelBlue .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-square-steelBlue .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #3b6d97;
}
.p-form-square-steelBlue .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #4682b4;
}
.p-form-square-steelBlue .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #4682b4;
}
.p-form-square-steelBlue .p-rating .p-rating-active-icon {
  color: #4682b4;
}
.p-form-square-steelBlue .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-square-steelBlue .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-square-steelBlue .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #4682b4;
}
.p-form-square-steelBlue .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #4682b4;
}
.p-form-square-steelBlue .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-square-steelBlue .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-square-steelBlue .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-square-steelBlue .nav-tabs > li > label:hover,
.p-form-square-steelBlue .nav-tabs > li > label:focus {
  background-color: #4682b4;
}
.p-form-square-steelBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-square-steelBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-square-steelBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-square-steelBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-square-steelBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-square-steelBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-square-steelBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-square-steelBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-square-steelBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-square-steelBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-square-steelBlue .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-square-steelBlue .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-square-steelBlue .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-square-steelBlue .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-square-steelBlue .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  color: #4682b4;
}
.p-form-square-steelBlue .p-title-line,
.p-form-square-steelBlue .p-title-step-line,
.p-form-square-steelBlue .p-title-side {
  background-color: #4682b4;
}
.p-form-square-steelBlue .p-tooltip .p-tooltip-content {
  background-color: #356288;
}
.p-form-square-steelBlue .p-tooltip .p-tooltip-content:after {
  border-color: rgba(53,98,136,0);
  border-top-color: #356288;
}
.p-form-square-steelBlue .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-square-steelBlue .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-square-steelBlue .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(53,98,136,0);
  border-bottom-color: #356288;
}
.p-form-square-steelBlue .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-square-steelBlue .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #4682b4;
}
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-square-steelBlue .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  color: #4682b4;
}
.p-form-square-steelBlue .p-alt-back,
.p-form-square-steelBlue .p-alt-back .p-form-bg {
  background-color: #f8fafc;
}
.p-form-square-steelBlue .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #f8fafc;
}
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-square-steelBlue .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #f8fafc;
}
.p-form-square-steelBlue .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-square-steelBlue .p-alt-back .p-table.table-striped > thead {
  background-color: #edf3f8;
}
.p-form-square-steelBlue .p-alt-back .panel-fp > .panel-heading {
  background-color: #edf3f8;
}
.p-form-square-steelBlue .p-alt-back .panel-fp > .panel-body {
  background-color: #f8fafc;
}
.p-form-square-steelBlue .p-alt-back hr.p-flat {
  border-color: #edf3f8;
}
.p-form-square-steelBlue .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-square-steelBlue .p-alt-back .p-picture-pick .p-check-block {
  background-color: #f8fafc;
}
.p-form-square-steelBlue .btn.p-active-btn,
.p-form-square-steelBlue .btn:hover,
.p-form-square-steelBlue .btn:focus {
  -webkit-box-shadow: 0 3px 25px #4682b4;
  box-shadow: 0 3px 25px #4682b4;
}
.p-form-square-steelBlue .p-form-steps > li.active:last-child .p-step:after {
  background-color: #4682b4;
}
.p-form-square-steelBlue .p-step:before,
.p-form-square-steelBlue .p-step:after {
  background-color: #4682b4;
}
