/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-square-deepRed .progress-bar-fp {
  background-color: #c00;
}
.p-form-square-deepRed .btn {
  background-color: #c00;
}
.p-form-square-deepRed .btn.p-active-btn,
.p-form-square-deepRed .btn:hover,
.p-form-square-deepRed .btn:focus {
  background-color: #c00;
}
.p-form-square-deepRed .radio label a,
.p-form-square-deepRed .checkbox label a,
.p-form-square-deepRed .p-switch label a,
.p-form-square-deepRed .p-radioswitch label a {
  color: #c00;
}
.p-form-square-deepRed .p-show-block-heading a {
  color: #c00;
}
.p-form-square-deepRed .p-check-active-icon {
  color: #c00;
}
.p-form-square-deepRed .p-check-block:after {
  background-color: #c00;
  border-color: #c00;
}
.p-form-square-deepRed .p-check-point:after {
  background-color: #c00;
  border-color: #c00;
}
.p-form-square-deepRed .p-switch-icon:after {
  border-color: #c00;
}
.p-form-square-deepRed .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-square-deepRed :checked ~ .p-check-icon .p-check-middle {
  color: #c00;
}
.p-form-square-deepRed .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-square-deepRed :checked ~ .p-switch-icon {
  background-color: #f33;
}
.p-form-square-deepRed .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-square-deepRed :checked ~ .p-switch-icon:after {
  background-color: #c00;
}
.p-form-square-deepRed .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-square-deepRed :checked ~ .p-check-highlight {
  background-color: #fcc;
}
.p-form-square-deepRed .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-square-deepRed :checked ~ .p-check-bordered {
  border-color: #f33;
}
.p-form-square-deepRed label:hover .p-check-active-icon,
.p-form-square-deepRed .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-square-deepRed label:hover .p-check-icon .p-check-middle,
.p-form-square-deepRed .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #ff0a0a;
}
.p-form-square-deepRed label:hover .p-check-icon .p-check-block,
.p-form-square-deepRed .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #ff0a0a;
}
.p-form-square-deepRed label:hover .p-check-highlight,
.p-form-square-deepRed .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #ffe0e0;
}
.p-form-square-deepRed label:hover .p-check-bordered,
.p-form-square-deepRed .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #c00;
}
.p-form-square-deepRed .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-square-deepRed .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(163,0,0,0.7);
}
.p-form-square-deepRed .p-picture-pick:hover .p-preview-name {
  background-color: rgba(204,0,0,0.7);
}
.p-form-square-deepRed .p-show-block:checked + .p-show-block-heading:hover,
.p-form-square-deepRed .p-show-block-heading:hover {
  color: #ff0a0a;
}
.p-form-square-deepRed .p-show-block:checked + .p-show-block-heading {
  color: #c00;
}
.p-form-square-deepRed .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-square-deepRed .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #c00;
}
.p-form-square-deepRed .p-colored-text {
  color: #c00;
}
.p-form-square-deepRed .p-alt-colored-text {
  color: #c00;
}
.p-form-square-deepRed .p-colored-link {
  color: #c00;
}
.p-form-square-deepRed .p-colored-link:hover {
  color: #8f0000;
}
.p-form-square-deepRed .p-action-link:hover {
  color: #c00;
}
.p-form-square-deepRed label {
  color: #933;
}
.p-form-square-deepRed .form-control:focus ~ .input-group-icon,
.p-form-square-deepRed .form-control:hover ~ .input-group-icon,
.p-form-square-deepRed .input-group:hover .input-group-icon,
.p-form-square-deepRed .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-square-deepRed .sp-input:focus ~ .input-group-icon,
.p-form-square-deepRed .sp-input:hover ~ .input-group-icon,
.p-form-square-deepRed .form-control:focus ~ .p-select-arrow,
.p-form-square-deepRed .form-control:hover ~ .p-select-arrow,
.p-form-square-deepRed .input-group:hover .p-select-arrow,
.p-form-square-deepRed .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-square-deepRed .sp-input:focus ~ .p-select-arrow,
.p-form-square-deepRed .sp-input:hover ~ .p-select-arrow,
.p-form-square-deepRed .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-square-deepRed .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-square-deepRed .input-group:hover .input-group-addon .p-addon-bg,
.p-form-square-deepRed .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-square-deepRed .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-square-deepRed .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #c00;
}
.p-form-square-deepRed .input-group-btn .btn:hover,
.p-form-square-deepRed .input-group-btn .btn:focus,
.p-form-square-deepRed .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #c00;
  -webkit-box-shadow: 0 3px 25px #c00;
  box-shadow: 0 3px 25px #c00;
}
.p-form-square-deepRed .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #c00;
}
.p-form-square-deepRed .ui-autocomplete .ui-state-focus,
.p-form-square-deepRed .ui-autocomplete .ui-state-active {
  color: #c00;
  background-color: rgba(204,0,0,0.1);
}
.p-form-square-deepRed .sp-container {
  background-color: #c00;
}
.p-form-square-deepRed .sp-initial,
.p-form-square-deepRed .sp-clear,
.p-form-square-deepRed .sp-palette .sp-thumb-el {
  border-color: #ff0a0a;
  color: #ff0a0a;
}
.p-form-square-deepRed .sp-clear:hover,
.p-form-square-deepRed .sp-palette .sp-thumb-el:hover,
.p-form-square-deepRed .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #8f0000;
  color: #8f0000;
}
.p-form-square-deepRed .sp-clear:hover:after,
.p-form-square-deepRed .sp-palette .sp-thumb-el:hover:after,
.p-form-square-deepRed .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #ffebeb;
}
.p-form-square-deepRed .sp-choose,
.p-form-square-deepRed .sp-cancel,
.p-form-square-deepRed .sp-palette-toggle {
  color: #ffebeb;
}
.p-form-square-deepRed .sp-choose:hover,
.p-form-square-deepRed .sp-cancel:hover,
.p-form-square-deepRed .sp-palette-toggle:hover,
.p-form-square-deepRed .sp-choose:focus,
.p-form-square-deepRed .sp-cancel:focus,
.p-form-square-deepRed .sp-palette-toggle:focus,
.p-form-square-deepRed .sp-choose:active,
.p-form-square-deepRed .sp-cancel:active,
.p-form-square-deepRed .sp-palette-toggle:active {
  color: #ff6b6b;
}
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #c00;
  color: #c00;
}
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #c00;
}
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-square-deepRed .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #c00;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget {
  background-color: #c00;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #ff2929;
  background-color: #520000;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget table thead th {
  background-color: #520000;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget table td div:hover,
.p-form-square-deepRed .bootstrap-datetimepicker-widget table td span:hover {
  color: #8f0000;
  background-color: #ff0a0a;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget table td a,
.p-form-square-deepRed .bootstrap-datetimepicker-widget table td .btn {
  color: #ff4747;
  background-color: transparent;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget table td a:hover,
.p-form-square-deepRed .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-square-deepRed .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-square-deepRed .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #520000;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget table .old,
.p-form-square-deepRed .bootstrap-datetimepicker-widget table .new {
  color: #ffb3b3;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget table td .active,
.p-form-square-deepRed .bootstrap-datetimepicker-widget table .active div {
  background-color: #520000;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(255,71,71,0);
  border-bottom-color: #ff4747;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget table span.disabled,
.p-form-square-deepRed .bootstrap-datetimepicker-widget table .disabled div,
.p-form-square-deepRed .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-square-deepRed .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #ff0a0a;
  background-color: #c00;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget table .disabled span,
.p-form-square-deepRed .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #ff0a0a;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #8f0000;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #c00;
}
.p-form-square-deepRed .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #520000;
}
.p-form-square-deepRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #c00;
}
.p-form-square-deepRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #520000;
}
.p-form-square-deepRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #520000;
}
.p-form-square-deepRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-square-deepRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #c00;
}
.p-form-square-deepRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-square-deepRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-square-deepRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-square-deepRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #520000;
}
.p-form-square-deepRed .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(255,71,71,0);
  border-bottom-color: #ff4747;
}
.p-form-square-deepRed .p-js-link:hover,
.p-form-square-deepRed .p-show-js-block .p-js-link:hover,
.p-form-square-deepRed .p-field-toggled .p-js-link:hover,
.p-form-square-deepRed .p-js-link:focus,
.p-form-square-deepRed .p-show-js-block .p-js-link:focus,
.p-form-square-deepRed .p-field-toggled .p-js-link:focus {
  color: #f50000;
}
.p-form-square-deepRed .p-js-active-link,
.p-form-square-deepRed .p-show-js-block .p-js-link,
.p-form-square-deepRed .p-field-toggled .p-js-link {
  color: #c00;
}
.p-form-square-deepRed .input-group .realperson-challenge .realperson-regen {
  color: #c00;
}
.p-form-square-deepRed .input-group .realperson-challenge .realperson-regen:hover {
  color: #8f0000;
}
.p-form-square-deepRed .input-group .realperson-challenge .realperson-text:hover {
  color: #c00;
}
.p-form-square-deepRed .p-slider-block .p-js-value,
.p-form-square-deepRed .p-sl-tip {
  border-color: #c00;
}
.p-form-square-deepRed .p-sl-tip:before {
  border-color: rgba(204,0,0,0);
}
.p-form-square-deepRed .ui-slider-range {
  background-color: #c00;
}
.p-form-square-deepRed .ui-slider-handle:after {
  border-color: #c00;
}
.p-form-square-deepRed .ui-slider-handle .p-sl-icon {
  background-color: #c00;
}
.p-form-square-deepRed .ui-slider-handle.ui-state-focus:after,
.p-form-square-deepRed .ui-slider-handle.ui-state-active:after,
.p-form-square-deepRed .ui-slider-handle.ui-state-hover:after {
  border-color: #a30000;
}
.p-form-square-deepRed .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-square-deepRed .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-square-deepRed .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #a30000;
}
.p-form-square-deepRed .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #c00;
}
.p-form-square-deepRed .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #c00;
}
.p-form-square-deepRed .p-rating .p-rating-active-icon {
  color: #c00;
}
.p-form-square-deepRed .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-square-deepRed .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-square-deepRed .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #c00;
}
.p-form-square-deepRed .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #c00;
}
.p-form-square-deepRed .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-square-deepRed .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-square-deepRed .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-square-deepRed .nav-tabs > li > label:hover,
.p-form-square-deepRed .nav-tabs > li > label:focus {
  background-color: #c00;
}
.p-form-square-deepRed .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-square-deepRed .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-square-deepRed .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-square-deepRed .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-square-deepRed .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-square-deepRed .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-square-deepRed .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-square-deepRed .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-square-deepRed .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-square-deepRed .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-square-deepRed .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-square-deepRed .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-square-deepRed .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-square-deepRed .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-square-deepRed .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  color: #c00;
}
.p-form-square-deepRed .p-title-line,
.p-form-square-deepRed .p-title-step-line,
.p-form-square-deepRed .p-title-side {
  background-color: #c00;
}
.p-form-square-deepRed .p-tooltip .p-tooltip-content {
  background-color: #8f0000;
}
.p-form-square-deepRed .p-tooltip .p-tooltip-content:after {
  border-color: rgba(143,0,0,0);
  border-top-color: #8f0000;
}
.p-form-square-deepRed .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-square-deepRed .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-square-deepRed .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(143,0,0,0);
  border-bottom-color: #8f0000;
}
.p-form-square-deepRed .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-square-deepRed .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #c00;
}
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-square-deepRed .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  color: #c00;
}
.p-form-square-deepRed .p-alt-back,
.p-form-square-deepRed .p-alt-back .p-form-bg {
  background-color: #fff5f5;
}
.p-form-square-deepRed .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #fff5f5;
}
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-square-deepRed .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #fff5f5;
}
.p-form-square-deepRed .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-square-deepRed .p-alt-back .p-table.table-striped > thead {
  background-color: #ffe5e5;
}
.p-form-square-deepRed .p-alt-back .panel-fp > .panel-heading {
  background-color: #ffe5e5;
}
.p-form-square-deepRed .p-alt-back .panel-fp > .panel-body {
  background-color: #fff5f5;
}
.p-form-square-deepRed .p-alt-back hr.p-flat {
  border-color: #ffe5e5;
}
.p-form-square-deepRed .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-square-deepRed .p-alt-back .p-picture-pick .p-check-block {
  background-color: #fff5f5;
}
.p-form-square-deepRed .btn.p-active-btn,
.p-form-square-deepRed .btn:hover,
.p-form-square-deepRed .btn:focus {
  -webkit-box-shadow: 0 3px 25px #c00;
  box-shadow: 0 3px 25px #c00;
}
.p-form-square-deepRed .p-form-steps > li.active:last-child .p-step:after {
  background-color: #c00;
}
.p-form-square-deepRed .p-step:before,
.p-form-square-deepRed .p-step:after {
  background-color: #c00;
}
