/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-pLine-extra1color1 .progress-bar-fp {
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .btn {
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .btn.p-active-btn,
.p-form-pLine-extra1color1 .btn:hover,
.p-form-pLine-extra1color1 .btn:focus {
  background-color: #2cadac;
}
.p-form-pLine-extra1color1 .radio label a,
.p-form-pLine-extra1color1 .checkbox label a,
.p-form-pLine-extra1color1 .p-switch label a,
.p-form-pLine-extra1color1 .p-radioswitch label a {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-show-block-heading a {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-check-active-icon {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-check-block:after {
  background-color: #36cccb;
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-check-point:after {
  background-color: #36cccb;
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-switch-icon:after {
  background-color: #36cccb;
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-pLine-extra1color1 :checked ~ .p-check-icon .p-check-middle {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-block,
.p-form-pLine-extra1color1 :checked ~ .p-check-icon .p-check-block {
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-pLine-extra1color1 :checked ~ .p-switch-icon {
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-check-next:checked ~ .p-check-container .p-switch-icon:before,
.p-form-pLine-extra1color1 :checked ~ .p-switch-icon:before {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-pLine-extra1color1 :checked ~ .p-check-highlight {
  background-color: #d6f5f4;
}
.p-form-pLine-extra1color1 .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-pLine-extra1color1 :checked ~ .p-check-bordered {
  border-color: #87e1e0;
}
.p-form-pLine-extra1color1 label:hover .p-check-active-icon,
.p-form-pLine-extra1color1 .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-pLine-extra1color1 label:hover .p-check-icon .p-check-middle,
.p-form-pLine-extra1color1 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #67d8d8;
}
.p-form-pLine-extra1color1 label:hover .p-check-icon .p-check-block,
.p-form-pLine-extra1color1 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #67d8d8;
}
.p-form-pLine-extra1color1 label:hover .p-switch-icon,
.p-form-pLine-extra1color1 .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #67d8d8;
}
.p-form-pLine-extra1color1 label:hover .p-check-highlight,
.p-form-pLine-extra1color1 .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #e7f9f9;
}
.p-form-pLine-extra1color1 label:hover .p-check-bordered,
.p-form-pLine-extra1color1 .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-pLine-extra1color1 .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(44,173,172,0.7);
}
.p-form-pLine-extra1color1 .p-picture-pick:hover .p-preview-name {
  background-color: rgba(54,204,203,0.7);
}
.p-form-pLine-extra1color1 .p-show-block:checked + .p-show-block-heading:hover,
.p-form-pLine-extra1color1 .p-show-block-heading:hover {
  color: #67d8d8;
}
.p-form-pLine-extra1color1 .p-show-block:checked + .p-show-block-heading {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-pLine-extra1color1 .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-colored-text {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-alt-colored-text {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-colored-link {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-colored-link:hover {
  color: #2cadac;
}
.p-form-pLine-extra1color1 .p-action-link:hover {
  color: #2cadac;
}
.p-form-pLine-extra1color1 .form-control:focus,
.p-form-pLine-extra1color1 .form-control:hover,
.p-form-pLine-extra1color1 .input-group:hover .form-control,
.p-form-pLine-extra1color1 .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-pLine-extra1color1 .sp-input:focus,
.p-form-pLine-extra1color1 .sp-input:hover {
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .form-control:focus ~ .input-group-icon,
.p-form-pLine-extra1color1 .form-control:hover ~ .input-group-icon,
.p-form-pLine-extra1color1 .input-group:hover .input-group-icon,
.p-form-pLine-extra1color1 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-pLine-extra1color1 .sp-input:focus ~ .input-group-icon,
.p-form-pLine-extra1color1 .sp-input:hover ~ .input-group-icon,
.p-form-pLine-extra1color1 .form-control:focus ~ .p-select-arrow,
.p-form-pLine-extra1color1 .form-control:hover ~ .p-select-arrow,
.p-form-pLine-extra1color1 .input-group:hover .p-select-arrow,
.p-form-pLine-extra1color1 .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-pLine-extra1color1 .sp-input:focus ~ .p-select-arrow,
.p-form-pLine-extra1color1 .sp-input:hover ~ .p-select-arrow,
.p-form-pLine-extra1color1 .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-pLine-extra1color1 .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-pLine-extra1color1 .input-group:hover .input-group-addon .p-addon-bg,
.p-form-pLine-extra1color1 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-pLine-extra1color1 .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-pLine-extra1color1 .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #2cadac;
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .form-control:focus ~ .p-field-cb,
.p-form-pLine-extra1color1 .form-control:hover ~ .p-field-cb,
.p-form-pLine-extra1color1 .input-group:hover .p-field-cb,
.p-form-pLine-extra1color1 .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-pLine-extra1color1 .sp-input:focus ~ .p-field-cb,
.p-form-pLine-extra1color1 .sp-input:hover ~ .p-field-cb {
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .input-group-btn .btn:hover,
.p-form-pLine-extra1color1 .input-group-btn .btn:focus,
.p-form-pLine-extra1color1 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #2cadac;
}
.p-form-pLine-extra1color1 .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .ui-autocomplete {
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .ui-autocomplete .ui-state-focus,
.p-form-pLine-extra1color1 .ui-autocomplete .ui-state-active {
  color: #36cccb;
  background-color: rgba(54,204,203,0.1);
}
.p-form-pLine-extra1color1 .sp-container {
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .sp-initial,
.p-form-pLine-extra1color1 .sp-clear,
.p-form-pLine-extra1color1 .sp-palette .sp-thumb-el {
  border-color: #67d8d8;
  color: #67d8d8;
}
.p-form-pLine-extra1color1 .sp-clear:hover,
.p-form-pLine-extra1color1 .sp-palette .sp-thumb-el:hover,
.p-form-pLine-extra1color1 .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #289d9c;
  color: #289d9c;
}
.p-form-pLine-extra1color1 .sp-clear:hover:after,
.p-form-pLine-extra1color1 .sp-palette .sp-thumb-el:hover:after,
.p-form-pLine-extra1color1 .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #effbfb;
}
.p-form-pLine-extra1color1 .sp-choose,
.p-form-pLine-extra1color1 .sp-cancel,
.p-form-pLine-extra1color1 .sp-palette-toggle {
  color: #effbfb;
}
.p-form-pLine-extra1color1 .sp-choose:hover,
.p-form-pLine-extra1color1 .sp-cancel:hover,
.p-form-pLine-extra1color1 .sp-palette-toggle:hover,
.p-form-pLine-extra1color1 .sp-choose:focus,
.p-form-pLine-extra1color1 .sp-cancel:focus,
.p-form-pLine-extra1color1 .sp-palette-toggle:focus,
.p-form-pLine-extra1color1 .sp-choose:active,
.p-form-pLine-extra1color1 .sp-cancel:active,
.p-form-pLine-extra1color1 .sp-palette-toggle:active {
  color: #89e1e0;
}
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #36cccb;
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-pLine-extra1color1 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #2cadac;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget {
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #7fdfde;
  background-color: #1b6c6c;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table thead th {
  background-color: #1b6c6c;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table td div:hover,
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table td span:hover {
  color: #289d9c;
  background-color: #67d8d8;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table td a,
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table td .btn {
  color: #98e5e4;
  background-color: transparent;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table td a:hover,
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #1b6c6c;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table .old,
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table .new {
  color: #c2f0ef;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table td .active,
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table .active div {
  background-color: #1b6c6c;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(152,229,228,0);
  border-bottom-color: #98e5e4;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table span.disabled,
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table .disabled div,
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #67d8d8;
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table .disabled span,
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #67d8d8;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #279d9d;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #36cccb;
}
.p-form-pLine-extra1color1 .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #1b6c6c;
}
.p-form-pLine-extra1color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #1b6c6c;
}
.p-form-pLine-extra1color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #1b6c6c;
}
.p-form-pLine-extra1color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-pLine-extra1color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-pLine-extra1color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-pLine-extra1color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-pLine-extra1color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #1b6c6c;
}
.p-form-pLine-extra1color1 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(152,229,228,0);
  border-bottom-color: #98e5e4;
}
.p-form-pLine-extra1color1 .p-js-link {
  color: #98e5e4;
}
.p-form-pLine-extra1color1 .p-js-link:hover,
.p-form-pLine-extra1color1 .p-show-js-block .p-js-link:hover,
.p-form-pLine-extra1color1 .p-field-toggled .p-js-link:hover,
.p-form-pLine-extra1color1 .p-js-link:focus,
.p-form-pLine-extra1color1 .p-show-js-block .p-js-link:focus,
.p-form-pLine-extra1color1 .p-field-toggled .p-js-link:focus {
  color: #57d4d3;
}
.p-form-pLine-extra1color1 .p-js-active-link,
.p-form-pLine-extra1color1 .p-show-js-block .p-js-link,
.p-form-pLine-extra1color1 .p-field-toggled .p-js-link {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .input-group .realperson-challenge .realperson-regen {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .input-group .realperson-challenge .realperson-regen:hover {
  color: #2cadac;
}
.p-form-pLine-extra1color1 .input-group .realperson-challenge .realperson-text:hover {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-slider-block .p-js-value,
.p-form-pLine-extra1color1 .p-sl-tip {
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-sl-tip:before {
  border-color: rgba(54,204,203,0);
}
.p-form-pLine-extra1color1 .ui-slider-range {
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .ui-slider-handle:after {
  border-color: #36cccb;
}
.p-form-pLine-extra1color1 .ui-slider-handle .p-sl-icon {
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .ui-slider-handle.ui-state-focus:after,
.p-form-pLine-extra1color1 .ui-slider-handle.ui-state-active:after,
.p-form-pLine-extra1color1 .ui-slider-handle.ui-state-hover:after {
  border-color: #2cadac;
}
.p-form-pLine-extra1color1 .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-pLine-extra1color1 .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-pLine-extra1color1 .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #2cadac;
}
.p-form-pLine-extra1color1 .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #36cccb;
}
.p-form-pLine-extra1color1 .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-rating .p-rating-active-icon {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-pLine-extra1color1 .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-pLine-extra1color1 .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-pLine-extra1color1 .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-pLine-extra1color1 .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-pLine-extra1color1 .p-form-steps > li.active .p-step:before {
  background-color: #289d9c;
}
.p-form-pLine-extra1color1 .p-step {
  color: #57d4d3;
}
.p-form-pLine-extra1color1 .p-step .p-step-text {
  background-color: #289d9c;
}
.p-form-pLine-extra1color1 .nav-tabs > li > label {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .nav-tabs > li > label:hover,
.p-form-pLine-extra1color1 .nav-tabs > li > label:focus {
  background-color: #57d4d3;
}
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-pLine-extra1color1 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-title,
.p-form-pLine-extra1color1 .p-subtitle {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-title-line,
.p-form-pLine-extra1color1 .p-title-step-line,
.p-form-pLine-extra1color1 .p-title-side {
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-tooltip .p-tooltip-content {
  background-color: #289d9c;
}
.p-form-pLine-extra1color1 .p-tooltip .p-tooltip-content:after {
  border-color: rgba(40,157,156,0);
  border-top-color: #289d9c;
}
.p-form-pLine-extra1color1 .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-pLine-extra1color1 .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-pLine-extra1color1 .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(40,157,156,0);
  border-bottom-color: #289d9c;
}
.p-form-pLine-extra1color1 .p-tabs-offset > .nav-tabs > li > label {
  background-color: #57d4d3;
}
.p-form-pLine-extra1color1 .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-pLine-extra1color1 .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #36cccb;
}
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-pLine-extra1color1 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  color: #36cccb;
}
.p-form-pLine-extra1color1 .p-alt-back,
.p-form-pLine-extra1color1 .p-alt-back .p-form-bg {
  background-color: #f7fdfd;
}
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #f7fdfd;
}
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-pLine-extra1color1 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #f7fdfd;
}
.p-form-pLine-extra1color1 .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-pLine-extra1color1 .p-alt-back .p-table.table-striped > thead {
  background-color: #ebfafa;
}
.p-form-pLine-extra1color1 .p-alt-back .panel-fp > .panel-heading {
  background-color: #ebfafa;
}
.p-form-pLine-extra1color1 .p-alt-back .panel-fp > .panel-body {
  background-color: #f7fdfd;
}
.p-form-pLine-extra1color1 .p-alt-back hr.p-flat {
  border-color: #ebfafa;
}
.p-form-pLine-extra1color1 .input-group textarea.form-control:focus,
.p-form-pLine-extra1color1 .input-group textarea.form-control:hover {
  border-left-color: #36cccb !important;
}
