@media only screen and (max-width: 600px) {
    .page-header {
        min-height: 202vh;
        max-height: 999px;
        padding: 0;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
    }
    .page-header .content-center {
        position: absolute;
        top: 47%;
        left: 50%;
        z-index: 2;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFFFFF;
        padding: 0 15px;
        width: 100%;
        max-width: 1200px;
    }
    h1, .h1 {
        font-size: 3em;
        line-height: 1.15;
        margin-bottom: 30px;
    }
}

.highlight {
    color: #FFC107;
}
.lateralbar {
    background-color: #fbc933;
    width: 6px;
    height: 59px;
    position: absolute;
    left: 6px;
    top: 44px;
}
.lateralbarConteudo {
    background-color: #650067;
    width: 6px;
    height: 29px;
    position: absolute;
    left: 4px;
    top: 38px;
}
.lateralbarPreco {
    background-color: #fbc933;
    width: 6px;
    height: 29px;
    position: absolute;
    left: 4px;
    top: 34px;
}

.boldheader {
    font-weight: 600;
}
.lateralbarConteudoRight {
    background-color: #650067;
    width: 6px;
    height: 29px;
    position: absolute;
    right: 2px;
    top: 37px;
}


.box {
    width: 200px;
    /* height: 300px; */
    position: relative;
    /* border: 1px solid #BBB; */
    /* background: #EEE; */
    left: 102px;
}
.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #1e5799;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #1e5799;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}


.c-multistep-form__section {
  position: absolute;
  visibility: hidden;
}
.c-multistep-form__section.current {
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: opacity 1.75s ease-in-out;
}

button {
  margin-top: 10px;
}

.c-multistep-form__navigation {
 transition: all 1.75s ease-in-out;
}

.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: .9em;
  line-height: .9em;
  opacity: 0;
  transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}