/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-colorful-orange .p-block-description {
  color: #fcdab2;
}
.p-form-colorful-orange .panel-fp {
  border-color: #f9af59;
}
.p-form-colorful-orange .panel-fp > .panel-heading {
  background-color: #f89c32;
  border-color: #f9af59;
}
.p-form-colorful-orange .panel-fp > .panel-body {
  background-color: #f7931e;
}
.p-form-colorful-orange .progress-bar-fp {
  background-color: #a95e06;
}
.p-form-colorful-orange .btn {
  background-color: #f9af59;
}
.p-form-colorful-orange .btn.p-active-btn,
.p-form-colorful-orange .btn:hover,
.p-form-colorful-orange .btn:focus {
  background-color: #d07407;
}
.p-form-colorful-orange .radio label a,
.p-form-colorful-orange .checkbox label a,
.p-form-colorful-orange .p-switch label a,
.p-form-colorful-orange .p-radioswitch label a {
  color: #a95e06;
}
.p-form-colorful-orange .p-show-block-heading a {
  color: #a95e06;
}
.p-form-colorful-orange .p-check-active-icon {
  color: #d07407;
}
.p-form-colorful-orange .p-check-block {
  background-color: #f9af59;
}
.p-form-colorful-orange .p-check-block:after {
  background-color: #d07407;
  border-color: #f7931e;
}
.p-form-colorful-orange .p-check-icon .p-check-middle {
  color: #f9af59;
}
.p-form-colorful-orange .p-switch-icon {
  background-color: #f9af59;
}
.p-form-colorful-orange .p-check-point:after {
  background-color: #d07407;
  border-color: #f7931e;
}
.p-form-colorful-orange .p-switch-icon:after {
  background-color: #d07407;
  border-color: #f7931e;
}
.p-form-colorful-orange .p-check-bordered {
  border-color: #f8a645;
}
.p-form-colorful-orange .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-colorful-orange :checked ~ .p-check-icon .p-check-middle {
  color: #d07407;
}
.p-form-colorful-orange .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-block,
.p-form-colorful-orange :checked ~ .p-check-icon .p-check-block {
  border-color: #d07407;
}
.p-form-colorful-orange .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-colorful-orange :checked ~ .p-switch-icon {
  border-color: #d07407;
}
.p-form-colorful-orange .p-check-next:checked ~ .p-check-container .p-switch-icon:before,
.p-form-colorful-orange :checked ~ .p-switch-icon:before {
  color: #d07407;
}
.p-form-colorful-orange .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-colorful-orange :checked ~ .p-check-highlight {
  background-color: #e98108;
}
.p-form-colorful-orange .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-colorful-orange :checked ~ .p-check-bordered {
  border-color: #fef2e3;
}
.p-form-colorful-orange label:hover .p-check-active-icon,
.p-form-colorful-orange .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-colorful-orange label:hover .p-check-icon .p-check-middle,
.p-form-colorful-orange .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #a95e06;
}
.p-form-colorful-orange label:hover .p-check-icon .p-check-block,
.p-form-colorful-orange .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #a95e06;
}
.p-form-colorful-orange label:hover .p-switch-icon,
.p-form-colorful-orange .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #a95e06;
}
.p-form-colorful-orange label:hover .p-check-highlight,
.p-form-colorful-orange .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #f68a0a;
}
.p-form-colorful-orange label:hover .p-check-bordered,
.p-form-colorful-orange .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #fcdab2;
}
.p-form-colorful-orange .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-colorful-orange .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(169,94,6,0.7);
}
.p-form-colorful-orange .p-picture-pick:hover .p-preview-name {
  background-color: rgba(208,116,7,0.7);
}
.p-form-colorful-orange .p-show-block:checked + .p-show-block-heading:hover,
.p-form-colorful-orange .p-show-block-heading:hover {
  color: #a95e06;
}
.p-form-colorful-orange .p-show-block:checked + .p-show-block-heading {
  color: #d07407;
}
.p-form-colorful-orange .p-radio-color .p-color-block {
  border-color: #f8a645;
}
.p-form-colorful-orange .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-colorful-orange .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #d07407;
}
.p-form-colorful-orange .p-form-bg,
.p-form-colorful-orange .p-form {
  background: #f7931e;
}
.p-form-colorful-orange .p-colored-text {
  color: #a95e06;
}
.p-form-colorful-orange .p-alt-colored-text {
  color: #f9af59;
}
.p-form-colorful-orange .p-colored-link {
  color: #a95e06;
}
.p-form-colorful-orange .p-colored-link:hover {
  color: #f9af59;
}
.p-form-colorful-orange .p-action-link:hover {
  color: #d07407;
}
.p-form-colorful-orange hr {
  border-color: #f9af59;
}
.p-form-colorful-orange hr.p-flat {
  border-color: #f89c32;
}
.p-form-colorful-orange .p-table > thead > tr > td,
.p-form-colorful-orange .p-table > tbody > tr > td,
.p-form-colorful-orange .p-table > tfoot > tr > td,
.p-form-colorful-orange .p-table > thead > tr > th,
.p-form-colorful-orange .p-table > tbody > tr > th,
.p-form-colorful-orange .p-table > tfoot > tr > th {
  border-color: #f9af59;
}
.p-form-colorful-orange .p-table.table-striped > thead {
  background-color: #f89c32;
  border-color: #f9af59;
}
.p-form-colorful-orange .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f89c32;
}
.p-form-colorful-orange .p-table.table-bordered {
  border-color: #f9af59;
}
.p-form-colorful-orange .p-table.table-bordered > thead > tr > td,
.p-form-colorful-orange .p-table.table-bordered > tbody > tr > td,
.p-form-colorful-orange .p-table.table-bordered > tfoot > tr > td,
.p-form-colorful-orange .p-table.table-bordered > thead > tr > th,
.p-form-colorful-orange .p-table.table-bordered > tbody > tr > th,
.p-form-colorful-orange .p-table.table-bordered > tfoot > tr > th {
  border-color: #f9af59;
}
.p-form-colorful-orange label {
  color: #fcdab2;
}
.p-form-colorful-orange select.form-control option {
  background-color: #f8a645;
}
.p-form-colorful-orange .p-field-cb {
  background-color: #f8a645;
}
.p-form-colorful-orange .form-control {
  background-color: #f8a645;
}
.p-form-colorful-orange .form-control:focus,
.p-form-colorful-orange .form-control:hover,
.p-form-colorful-orange .input-group:hover .form-control,
.p-form-colorful-orange .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-colorful-orange .sp-input:focus,
.p-form-colorful-orange .sp-input:hover {
  background-color: #f9af59;
}
.p-form-colorful-orange .form-control:focus ~ .input-group-icon,
.p-form-colorful-orange .form-control:hover ~ .input-group-icon,
.p-form-colorful-orange .input-group:hover .input-group-icon,
.p-form-colorful-orange .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-colorful-orange .sp-input:focus ~ .input-group-icon,
.p-form-colorful-orange .sp-input:hover ~ .input-group-icon,
.p-form-colorful-orange .form-control:focus ~ .p-select-arrow,
.p-form-colorful-orange .form-control:hover ~ .p-select-arrow,
.p-form-colorful-orange .input-group:hover .p-select-arrow,
.p-form-colorful-orange .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-colorful-orange .sp-input:focus ~ .p-select-arrow,
.p-form-colorful-orange .sp-input:hover ~ .p-select-arrow,
.p-form-colorful-orange .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-colorful-orange .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-colorful-orange .input-group:hover .input-group-addon .p-addon-bg,
.p-form-colorful-orange .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-colorful-orange .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-colorful-orange .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #955305;
  background-color: #f7931e;
}
.p-form-colorful-orange .form-control:focus ~ .p-field-cb,
.p-form-colorful-orange .form-control:hover ~ .p-field-cb,
.p-form-colorful-orange .input-group:hover .p-field-cb,
.p-form-colorful-orange .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-colorful-orange .sp-input:focus ~ .p-field-cb,
.p-form-colorful-orange .sp-input:hover ~ .p-field-cb {
  background-color: #f9af59;
}
.p-form-colorful-orange .input-group-addon .p-addon-bg {
  background-color: #f7931e;
}
.p-form-colorful-orange .p-custom-arrow .p-select-arrow {
  background-color: #f8a645;
}
.p-form-colorful-orange .input-group-btn .btn {
  background-color: #d07407;
}
.p-form-colorful-orange .input-group-btn .btn:hover,
.p-form-colorful-orange .input-group-btn .btn:focus,
.p-form-colorful-orange .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #955305;
}
.p-form-colorful-orange .p-file-wrap ~ .input-group [type="text"] {
  background-color: #f8a645;
}
.p-form-colorful-orange .p-no-preview {
  background-color: #f8a645;
  border-color: #f79a2c;
}
.p-form-colorful-orange .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #f7931e;
}
.p-form-colorful-orange .ui-autocomplete {
  background-color: #f9af59;
}
.p-form-colorful-orange .ui-autocomplete .ui-state-focus,
.p-form-colorful-orange .ui-autocomplete .ui-state-active {
  color: #d07407;
  background-color: rgba(208,116,7,0.1);
}
.p-form-colorful-orange .sp-container {
  background-color: #d07407;
}
.p-form-colorful-orange .sp-initial,
.p-form-colorful-orange .sp-clear,
.p-form-colorful-orange .sp-palette .sp-thumb-el {
  border-color: #f7931d;
  color: #f7931d;
}
.p-form-colorful-orange .sp-clear:hover,
.p-form-colorful-orange .sp-palette .sp-thumb-el:hover,
.p-form-colorful-orange .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #955305;
  color: #955305;
}
.p-form-colorful-orange .sp-clear:hover:after,
.p-form-colorful-orange .sp-palette .sp-thumb-el:hover:after,
.p-form-colorful-orange .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #fef6eb;
}
.p-form-colorful-orange .sp-input {
  background-color: #f8a645;
}
.p-form-colorful-orange .sp-choose,
.p-form-colorful-orange .sp-cancel,
.p-form-colorful-orange .sp-palette-toggle {
  color: #fef6eb;
}
.p-form-colorful-orange .sp-choose:hover,
.p-form-colorful-orange .sp-cancel:hover,
.p-form-colorful-orange .sp-palette-toggle:hover,
.p-form-colorful-orange .sp-choose:focus,
.p-form-colorful-orange .sp-cancel:focus,
.p-form-colorful-orange .sp-palette-toggle:focus,
.p-form-colorful-orange .sp-choose:active,
.p-form-colorful-orange .sp-cancel:active,
.p-form-colorful-orange .sp-palette-toggle:active {
  color: #fabb70;
}
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #f9af59;
}
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #f9af59;
  color: #f9af59;
}
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #d07407;
  color: #d07407;
}
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #fde3c5;
}
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #f9af59;
}
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-colorful-orange .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #d07407;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget {
  background-color: #f89c32;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #fabe77;
  background-color: #955305;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget table thead th {
  background-color: #955305;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget table td div:hover,
.p-form-colorful-orange .bootstrap-datetimepicker-widget table td span:hover {
  color: #e57e08;
  background-color: #fab96d;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget table td a,
.p-form-colorful-orange .bootstrap-datetimepicker-widget table td .btn {
  color: #fbcc94;
  background-color: transparent;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget table td a:hover,
.p-form-colorful-orange .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-colorful-orange .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-colorful-orange .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #955305;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget table .old,
.p-form-colorful-orange .bootstrap-datetimepicker-widget table .new {
  color: #fcdcb5;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget table td .active,
.p-form-colorful-orange .bootstrap-datetimepicker-widget table .active div {
  background-color: #955305;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(251,204,148,0);
  border-bottom-color: #fbcc94;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget table span.disabled,
.p-form-colorful-orange .bootstrap-datetimepicker-widget table .disabled div,
.p-form-colorful-orange .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-colorful-orange .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #fab96d;
  background-color: #f89c32;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget table .disabled span,
.p-form-colorful-orange .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #fab96d;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #d07407;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #f89c32;
}
.p-form-colorful-orange .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #955305;
}
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #fcdab2;
}
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #955305;
}
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #955305;
}
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #fcdab2;
}
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #955305;
}
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table .old,
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table .new {
  color: #fde3c4;
}
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(251,204,148,0);
  border-bottom-color: #fbcc94;
}
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #f8a645;
}
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #f8a645;
}
.p-form-colorful-orange .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #f8a645;
}
.p-form-colorful-orange .p-js-link {
  color: #fbcc94;
}
.p-form-colorful-orange .p-js-link:hover,
.p-form-colorful-orange .p-show-js-block .p-js-link:hover,
.p-form-colorful-orange .p-field-toggled .p-js-link:hover,
.p-form-colorful-orange .p-js-link:focus,
.p-form-colorful-orange .p-show-js-block .p-js-link:focus,
.p-form-colorful-orange .p-field-toggled .p-js-link:focus {
  color: #d07407;
}
.p-form-colorful-orange .p-js-active-link,
.p-form-colorful-orange .p-show-js-block .p-js-link,
.p-form-colorful-orange .p-field-toggled .p-js-link {
  color: #a95e06;
}
.p-form-colorful-orange .input-group .realperson-challenge .realperson-regen {
  color: #a95e06;
}
.p-form-colorful-orange .input-group .realperson-challenge .realperson-regen:hover {
  color: #f9af59;
}
.p-form-colorful-orange .input-group .realperson-challenge .realperson-text:hover {
  color: #a95e06;
}
.p-form-colorful-orange .p-slider-block .p-js-value,
.p-form-colorful-orange .p-sl-tip {
  background-color: #f7931e;
  border-color: #d07407;
}
.p-form-colorful-orange .p-sl-tip:before {
  border-color: rgba(208,116,7,0);
}
.p-form-colorful-orange .ui-slider:before {
  border-color: #fbcc94;
  background-color: #f7931e;
}
.p-form-colorful-orange .ui-slider-handle:after {
  background-color: #f7931e;
}
.p-form-colorful-orange .ui-slider-handle .p-sl-icon {
  color: #f7931e;
}
.p-form-colorful-orange .ui-slider-handle.ui-state-focus:after,
.p-form-colorful-orange .ui-slider-handle.ui-state-active:after,
.p-form-colorful-orange .ui-slider-handle.ui-state-hover:after {
  border-color: #d07407;
}
.p-form-colorful-orange .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-colorful-orange .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-colorful-orange .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #d07407;
}
.p-form-colorful-orange .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #d07407;
}
.p-form-colorful-orange .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #d07407;
}
.p-form-colorful-orange .sl-v-simple .ui-slider:before {
  background-color: #fbcc94;
}
.p-form-colorful-orange .sl-v-modern .ui-slider:before,
.p-form-colorful-orange .sl-v-bordered .ui-slider:before {
  border-color: #a95e06;
}
.p-form-colorful-orange .sl-v-top .ui-slider:before {
  background-color: #fbcc94;
}
.p-form-colorful-orange .sl-v-flat .ui-slider:before {
  background-color: #fbcc94;
}
.p-form-colorful-orange .pt-form-panel,
.p-form-colorful-orange .pt-form-cross-panel {
  background-color: #f68c0f;
}
.p-form-colorful-orange .p-rating .p-field-cancel {
  color: #f9af59;
}
.p-form-colorful-orange .p-rating .p-rating-icon {
  color: #f9af59;
}
.p-form-colorful-orange .p-rating .p-rating-active-icon {
  color: #d07407;
}
.p-form-colorful-orange .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #f9af59;
}
.p-form-colorful-orange .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-colorful-orange .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-colorful-orange .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #d07407;
}
.p-form-colorful-orange .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #d07407;
}
.p-form-colorful-orange .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-colorful-orange .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-colorful-orange .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #f9af59;
}
.p-form-colorful-orange .form-control[readonly],
.p-form-colorful-orange .form-control[disabled] {
  background-color: #f79a2c;
}
.p-form-colorful-orange .p-field-readonly .p-switch-icon,
.p-form-colorful-orange .p-field-disabled .p-switch-icon,
.p-form-colorful-orange .p-field-readonly .p-check-icon .p-check-block,
.p-form-colorful-orange .p-field-disabled .p-check-icon .p-check-block,
.p-form-colorful-orange .p-field-readonly .p-field-cb,
.p-form-colorful-orange .p-field-disabled .p-field-cb {
  background-color: #f79a2c;
}
.p-form-colorful-orange .p-field-readonly .p-no-preview,
.p-form-colorful-orange .p-field-disabled .p-no-preview {
  background-color: #f79a2c;
}
.p-form-colorful-orange .p-field-readonly .p-rating .p-rating-icon,
.p-form-colorful-orange .p-field-disabled .p-rating .p-rating-icon {
  color: #f79a2c;
}
.p-form-colorful-orange .p-form-steps:before {
  background-color: #f9af59;
}
.p-form-colorful-orange .p-form-steps > li.active .p-step:before {
  background-color: #d07407;
}
.p-form-colorful-orange .p-form-steps > li.active ~ li .p-step-text {
  background-color: #f9af59;
}
.p-form-colorful-orange .p-step {
  color: #f8a645;
}
.p-form-colorful-orange .p-step .p-step-text {
  background-color: #d07407;
}
.p-form-colorful-orange .nav-tabs {
  border-color: #f8a645;
  background-color: #f8a645;
}
.p-form-colorful-orange .nav-tabs > li > label:hover,
.p-form-colorful-orange .nav-tabs > li > label:focus {
  background-color: #d07407;
}
.p-form-colorful-orange .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-colorful-orange .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-colorful-orange .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-colorful-orange .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-colorful-orange .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-colorful-orange .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-colorful-orange .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-colorful-orange .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-colorful-orange .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-colorful-orange .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-colorful-orange .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-colorful-orange .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-colorful-orange .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-colorful-orange .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-colorful-orange .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #f7931e;
}
.p-form-colorful-orange .p-title-line,
.p-form-colorful-orange .p-title-step-line,
.p-form-colorful-orange .p-title-side {
  background-color: #f8a645;
}
.p-form-colorful-orange .p-tooltip .p-tooltip-content {
  background-color: #d07407;
}
.p-form-colorful-orange .p-tooltip .p-tooltip-content:after {
  border-color: rgba(208,116,7,0);
  border-top-color: #d07407;
}
.p-form-colorful-orange .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-colorful-orange .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-colorful-orange .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(208,116,7,0);
  border-bottom-color: #d07407;
}
.p-form-colorful-orange .p-bordered {
  border-color: #f8a645;
}
.p-form-colorful-orange .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-colorful-orange .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-colorful-orange .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #f7931e;
}
.p-form-colorful-orange .p-tabs-offset > .nav-tabs > li > label {
  background-color: #f8a645;
}
.p-form-colorful-orange .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-colorful-orange .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #d07407;
}
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-colorful-orange .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #f7931e;
}
.p-form-colorful-orange .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #f8a645;
}
.p-form-colorful-orange .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #f8a645;
}
.p-form-colorful-orange .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #f8a645;
}
.p-form-colorful-orange .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-colorful-orange .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-colorful-orange .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-colorful-orange .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-colorful-orange .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #f8a645;
}
.p-form-colorful-orange .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-colorful-orange .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-colorful-orange .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-colorful-orange .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-colorful-orange .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #f8a645;
}
.p-form-colorful-orange .p-alt-back,
.p-form-colorful-orange .p-alt-back .p-form-bg {
  background-color: #f77d1e;
}
.p-form-colorful-orange .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #f77d1e;
}
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-colorful-orange .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #f77d1e;
}
.p-form-colorful-orange .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-colorful-orange .p-alt-back .p-table.table-striped > thead {
  background-color: #f6740f;
}
.p-form-colorful-orange .p-alt-back .panel-fp > .panel-heading {
  background-color: #f6740f;
}
.p-form-colorful-orange .p-alt-back .panel-fp > .panel-body {
  background-color: #f77d1e;
}
.p-form-colorful-orange .p-alt-back hr.p-flat {
  border-color: #f6740f;
}
.p-form-colorful-orange .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #f8a645;
}
.p-form-colorful-orange .p-bordered > .nav-tabs {
  border-color: #f8a645;
}
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-colorful-orange .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #f77d1e;
}
