/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-colorful-indigo .p-block-description {
  color: #9f1cff;
}
.p-form-colorful-indigo .panel-fp {
  border-color: #6e00bf;
}
.p-form-colorful-indigo .panel-fp > .panel-heading {
  background-color: #570096;
  border-color: #6e00bf;
}
.p-form-colorful-indigo .panel-fp > .panel-body {
  background-color: #4b0082;
}
.p-form-colorful-indigo .progress-bar-fp {
  background-color: #8600e8;
}
.p-form-colorful-indigo .btn {
  background-color: #6e00bf;
}
.p-form-colorful-indigo .btn.p-active-btn,
.p-form-colorful-indigo .btn:hover,
.p-form-colorful-indigo .btn:focus {
  background-color: #280045;
}
.p-form-colorful-indigo .radio label a,
.p-form-colorful-indigo .checkbox label a,
.p-form-colorful-indigo .p-switch label a,
.p-form-colorful-indigo .p-radioswitch label a {
  color: #8600e8;
}
.p-form-colorful-indigo .p-show-block-heading a {
  color: #8600e8;
}
.p-form-colorful-indigo .p-check-active-icon {
  color: #280045;
}
.p-form-colorful-indigo .p-check-block {
  background-color: #6e00bf;
}
.p-form-colorful-indigo .p-check-block:after {
  background-color: #280045;
  border-color: #4b0082;
}
.p-form-colorful-indigo .p-check-icon .p-check-middle {
  color: #6e00bf;
}
.p-form-colorful-indigo .p-switch-icon {
  background-color: #6e00bf;
}
.p-form-colorful-indigo .p-check-point:after {
  background-color: #280045;
  border-color: #4b0082;
}
.p-form-colorful-indigo .p-switch-icon:after {
  background-color: #280045;
  border-color: #4b0082;
}
.p-form-colorful-indigo .p-check-bordered {
  border-color: #6300ab;
}
.p-form-colorful-indigo .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-colorful-indigo :checked ~ .p-check-icon .p-check-middle {
  color: #280045;
}
.p-form-colorful-indigo .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-block,
.p-form-colorful-indigo :checked ~ .p-check-icon .p-check-block {
  border-color: #280045;
}
.p-form-colorful-indigo .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-colorful-indigo :checked ~ .p-switch-icon {
  border-color: #280045;
}
.p-form-colorful-indigo .p-check-next:checked ~ .p-check-container .p-switch-icon:before,
.p-form-colorful-indigo :checked ~ .p-switch-icon:before {
  color: #280045;
}
.p-form-colorful-indigo .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-colorful-indigo :checked ~ .p-check-highlight {
  background-color: #36005e;
}
.p-form-colorful-indigo .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-colorful-indigo :checked ~ .p-check-bordered {
  border-color: #b54fff;
}
.p-form-colorful-indigo label:hover .p-check-active-icon,
.p-form-colorful-indigo .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-colorful-indigo label:hover .p-check-icon .p-check-middle,
.p-form-colorful-indigo .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #8600e8;
}
.p-form-colorful-indigo label:hover .p-check-icon .p-check-block,
.p-form-colorful-indigo .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #8600e8;
}
.p-form-colorful-indigo label:hover .p-switch-icon,
.p-form-colorful-indigo .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #8600e8;
}
.p-form-colorful-indigo label:hover .p-check-highlight,
.p-form-colorful-indigo .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #3f006e;
}
.p-form-colorful-indigo label:hover .p-check-bordered,
.p-form-colorful-indigo .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #9f1cff;
}
.p-form-colorful-indigo .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-colorful-indigo .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(134,0,232,0.7);
}
.p-form-colorful-indigo .p-picture-pick:hover .p-preview-name {
  background-color: rgba(40,0,69,0.7);
}
.p-form-colorful-indigo .p-show-block:checked + .p-show-block-heading:hover,
.p-form-colorful-indigo .p-show-block-heading:hover {
  color: #8600e8;
}
.p-form-colorful-indigo .p-show-block:checked + .p-show-block-heading {
  color: #280045;
}
.p-form-colorful-indigo .p-radio-color .p-color-block {
  border-color: #6300ab;
}
.p-form-colorful-indigo .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-colorful-indigo .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #280045;
}
.p-form-colorful-indigo .p-form-bg,
.p-form-colorful-indigo .p-form {
  background: #4b0082;
}
.p-form-colorful-indigo .p-colored-text {
  color: #8600e8;
}
.p-form-colorful-indigo .p-alt-colored-text {
  color: #6e00bf;
}
.p-form-colorful-indigo .p-colored-link {
  color: #8600e8;
}
.p-form-colorful-indigo .p-colored-link:hover {
  color: #6e00bf;
}
.p-form-colorful-indigo .p-action-link:hover {
  color: #280045;
}
.p-form-colorful-indigo hr {
  border-color: #6e00bf;
}
.p-form-colorful-indigo hr.p-flat {
  border-color: #570096;
}
.p-form-colorful-indigo .p-table > thead > tr > td,
.p-form-colorful-indigo .p-table > tbody > tr > td,
.p-form-colorful-indigo .p-table > tfoot > tr > td,
.p-form-colorful-indigo .p-table > thead > tr > th,
.p-form-colorful-indigo .p-table > tbody > tr > th,
.p-form-colorful-indigo .p-table > tfoot > tr > th {
  border-color: #6e00bf;
}
.p-form-colorful-indigo .p-table.table-striped > thead {
  background-color: #570096;
  border-color: #6e00bf;
}
.p-form-colorful-indigo .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #570096;
}
.p-form-colorful-indigo .p-table.table-bordered {
  border-color: #6e00bf;
}
.p-form-colorful-indigo .p-table.table-bordered > thead > tr > td,
.p-form-colorful-indigo .p-table.table-bordered > tbody > tr > td,
.p-form-colorful-indigo .p-table.table-bordered > tfoot > tr > td,
.p-form-colorful-indigo .p-table.table-bordered > thead > tr > th,
.p-form-colorful-indigo .p-table.table-bordered > tbody > tr > th,
.p-form-colorful-indigo .p-table.table-bordered > tfoot > tr > th {
  border-color: #6e00bf;
}
.p-form-colorful-indigo label {
  color: #9f1cff;
}
.p-form-colorful-indigo select.form-control option {
  background-color: #6300ab;
}
.p-form-colorful-indigo .p-field-cb {
  background-color: #6300ab;
}
.p-form-colorful-indigo .form-control {
  background-color: #6300ab;
}
.p-form-colorful-indigo .form-control:focus,
.p-form-colorful-indigo .form-control:hover,
.p-form-colorful-indigo .input-group:hover .form-control,
.p-form-colorful-indigo .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-colorful-indigo .sp-input:focus,
.p-form-colorful-indigo .sp-input:hover {
  background-color: #6e00bf;
}
.p-form-colorful-indigo .form-control:focus ~ .input-group-icon,
.p-form-colorful-indigo .form-control:hover ~ .input-group-icon,
.p-form-colorful-indigo .input-group:hover .input-group-icon,
.p-form-colorful-indigo .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-colorful-indigo .sp-input:focus ~ .input-group-icon,
.p-form-colorful-indigo .sp-input:hover ~ .input-group-icon,
.p-form-colorful-indigo .form-control:focus ~ .p-select-arrow,
.p-form-colorful-indigo .form-control:hover ~ .p-select-arrow,
.p-form-colorful-indigo .input-group:hover .p-select-arrow,
.p-form-colorful-indigo .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-colorful-indigo .sp-input:focus ~ .p-select-arrow,
.p-form-colorful-indigo .sp-input:hover ~ .p-select-arrow,
.p-form-colorful-indigo .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-colorful-indigo .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-colorful-indigo .input-group:hover .input-group-addon .p-addon-bg,
.p-form-colorful-indigo .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-colorful-indigo .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-colorful-indigo .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #4b0082;
  background-color: #4b0082;
}
.p-form-colorful-indigo .form-control:focus ~ .p-field-cb,
.p-form-colorful-indigo .form-control:hover ~ .p-field-cb,
.p-form-colorful-indigo .input-group:hover .p-field-cb,
.p-form-colorful-indigo .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-colorful-indigo .sp-input:focus ~ .p-field-cb,
.p-form-colorful-indigo .sp-input:hover ~ .p-field-cb {
  background-color: #6e00bf;
}
.p-form-colorful-indigo .input-group-addon .p-addon-bg {
  background-color: #4b0082;
}
.p-form-colorful-indigo .p-custom-arrow .p-select-arrow {
  background-color: #6300ab;
}
.p-form-colorful-indigo .input-group-btn .btn {
  background-color: #280045;
}
.p-form-colorful-indigo .input-group-btn .btn:hover,
.p-form-colorful-indigo .input-group-btn .btn:focus,
.p-form-colorful-indigo .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #4b0082;
}
.p-form-colorful-indigo .p-file-wrap ~ .input-group [type="text"] {
  background-color: #6300ab;
}
.p-form-colorful-indigo .p-no-preview {
  background-color: #6300ab;
  border-color: #540091;
}
.p-form-colorful-indigo .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #6700b3;
}
.p-form-colorful-indigo .ui-autocomplete {
  background-color: #6e00bf;
}
.p-form-colorful-indigo .ui-autocomplete .ui-state-focus,
.p-form-colorful-indigo .ui-autocomplete .ui-state-active {
  color: #280045;
  background-color: rgba(40,0,69,0.1);
}
.p-form-colorful-indigo .sp-container {
  background-color: #280045;
}
.p-form-colorful-indigo .sp-initial,
.p-form-colorful-indigo .sp-clear,
.p-form-colorful-indigo .sp-palette .sp-thumb-el {
  border-color: #4b0082;
  color: #4b0082;
}
.p-form-colorful-indigo .sp-clear:hover,
.p-form-colorful-indigo .sp-palette .sp-thumb-el:hover,
.p-form-colorful-indigo .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #050008;
  color: #050008;
}
.p-form-colorful-indigo .sp-clear:hover:after,
.p-form-colorful-indigo .sp-palette .sp-thumb-el:hover:after,
.p-form-colorful-indigo .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #f6ebff;
}
.p-form-colorful-indigo .sp-input {
  background-color: #6300ab;
}
.p-form-colorful-indigo .sp-choose,
.p-form-colorful-indigo .sp-cancel,
.p-form-colorful-indigo .sp-palette-toggle {
  color: #f6ebff;
}
.p-form-colorful-indigo .sp-choose:hover,
.p-form-colorful-indigo .sp-cancel:hover,
.p-form-colorful-indigo .sp-palette-toggle:hover,
.p-form-colorful-indigo .sp-choose:focus,
.p-form-colorful-indigo .sp-cancel:focus,
.p-form-colorful-indigo .sp-palette-toggle:focus,
.p-form-colorful-indigo .sp-choose:active,
.p-form-colorful-indigo .sp-cancel:active,
.p-form-colorful-indigo .sp-palette-toggle:active {
  color: #c16bff;
}
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #6e00bf;
}
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #6e00bf;
  color: #6e00bf;
}
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #280045;
  color: #280045;
}
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #a830ff;
}
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #6e00bf;
}
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-colorful-indigo .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #280045;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget {
  background-color: #570096;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #8000de;
  background-color: #040008;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table thead th {
  background-color: #040008;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table td div:hover,
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table td span:hover {
  color: #340059;
  background-color: #7a00d3;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table td a,
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table td .btn {
  color: #9200fc;
  background-color: transparent;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table td a:hover,
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #040008;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table .old,
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table .new {
  color: #dfb3ff;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table td .active,
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table .active div {
  background-color: #040008;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(146,0,252,0);
  border-bottom-color: #9200fc;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table span.disabled,
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table .disabled div,
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #7a00d3;
  background-color: #570096;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table .disabled span,
.p-form-colorful-indigo .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #7a00d3;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #230045;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #570096;
}
.p-form-colorful-indigo .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #040008;
}
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #9f1cff;
}
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #040008;
}
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #040008;
}
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #9f1cff;
}
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #040008;
}
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table .old,
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table .new {
  color: #e5c2ff;
}
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(146,0,252,0);
  border-bottom-color: #9200fc;
}
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #6300ab;
}
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #6300ab;
}
.p-form-colorful-indigo .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #6300ab;
}
.p-form-colorful-indigo .p-js-link {
  color: #9200fc;
}
.p-form-colorful-indigo .p-js-link:hover,
.p-form-colorful-indigo .p-show-js-block .p-js-link:hover,
.p-form-colorful-indigo .p-field-toggled .p-js-link:hover,
.p-form-colorful-indigo .p-js-link:focus,
.p-form-colorful-indigo .p-show-js-block .p-js-link:focus,
.p-form-colorful-indigo .p-field-toggled .p-js-link:focus {
  color: #280045;
}
.p-form-colorful-indigo .p-js-active-link,
.p-form-colorful-indigo .p-show-js-block .p-js-link,
.p-form-colorful-indigo .p-field-toggled .p-js-link {
  color: #8600e8;
}
.p-form-colorful-indigo .input-group .realperson-challenge .realperson-regen {
  color: #8600e8;
}
.p-form-colorful-indigo .input-group .realperson-challenge .realperson-regen:hover {
  color: #6e00bf;
}
.p-form-colorful-indigo .input-group .realperson-challenge .realperson-text:hover {
  color: #8600e8;
}
.p-form-colorful-indigo .p-slider-block .p-js-value,
.p-form-colorful-indigo .p-sl-tip {
  background-color: #4b0082;
  border-color: #280045;
}
.p-form-colorful-indigo .p-sl-tip:before {
  border-color: rgba(40,0,69,0);
}
.p-form-colorful-indigo .ui-slider:before {
  border-color: #9200fc;
  background-color: #4b0082;
}
.p-form-colorful-indigo .ui-slider-handle:after {
  background-color: #4b0082;
}
.p-form-colorful-indigo .ui-slider-handle .p-sl-icon {
  color: #4b0082;
}
.p-form-colorful-indigo .ui-slider-handle.ui-state-focus:after,
.p-form-colorful-indigo .ui-slider-handle.ui-state-active:after,
.p-form-colorful-indigo .ui-slider-handle.ui-state-hover:after {
  border-color: #280045;
}
.p-form-colorful-indigo .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-colorful-indigo .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-colorful-indigo .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #280045;
}
.p-form-colorful-indigo .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #280045;
}
.p-form-colorful-indigo .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #280045;
}
.p-form-colorful-indigo .sl-v-simple .ui-slider:before {
  background-color: #9200fc;
}
.p-form-colorful-indigo .sl-v-modern .ui-slider:before,
.p-form-colorful-indigo .sl-v-bordered .ui-slider:before {
  border-color: #8600e8;
}
.p-form-colorful-indigo .sl-v-top .ui-slider:before {
  background-color: #9200fc;
}
.p-form-colorful-indigo .sl-v-flat .ui-slider:before {
  background-color: #9200fc;
}
.p-form-colorful-indigo .pt-form-panel,
.p-form-colorful-indigo .pt-form-cross-panel {
  background-color: #420073;
}
.p-form-colorful-indigo .p-rating .p-field-cancel {
  color: #6e00bf;
}
.p-form-colorful-indigo .p-rating .p-rating-icon {
  color: #6e00bf;
}
.p-form-colorful-indigo .p-rating .p-rating-active-icon {
  color: #280045;
}
.p-form-colorful-indigo .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #6e00bf;
}
.p-form-colorful-indigo .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-colorful-indigo .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-colorful-indigo .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #280045;
}
.p-form-colorful-indigo .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #280045;
}
.p-form-colorful-indigo .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-colorful-indigo .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-colorful-indigo .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #6e00bf;
}
.p-form-colorful-indigo .form-control[readonly],
.p-form-colorful-indigo .form-control[disabled] {
  background-color: #540091;
}
.p-form-colorful-indigo .p-field-readonly .p-switch-icon,
.p-form-colorful-indigo .p-field-disabled .p-switch-icon,
.p-form-colorful-indigo .p-field-readonly .p-check-icon .p-check-block,
.p-form-colorful-indigo .p-field-disabled .p-check-icon .p-check-block,
.p-form-colorful-indigo .p-field-readonly .p-field-cb,
.p-form-colorful-indigo .p-field-disabled .p-field-cb {
  background-color: #540091;
}
.p-form-colorful-indigo .p-field-readonly .p-no-preview,
.p-form-colorful-indigo .p-field-disabled .p-no-preview {
  background-color: #540091;
}
.p-form-colorful-indigo .p-field-readonly .p-rating .p-rating-icon,
.p-form-colorful-indigo .p-field-disabled .p-rating .p-rating-icon {
  color: #540091;
}
.p-form-colorful-indigo .p-form-steps:before {
  background-color: #6e00bf;
}
.p-form-colorful-indigo .p-form-steps > li.active .p-step:before {
  background-color: #280045;
}
.p-form-colorful-indigo .p-form-steps > li.active ~ li .p-step-text {
  background-color: #6e00bf;
}
.p-form-colorful-indigo .p-step {
  color: #6300ab;
}
.p-form-colorful-indigo .p-step .p-step-text {
  background-color: #280045;
}
.p-form-colorful-indigo .nav-tabs {
  border-color: #6300ab;
  background-color: #6300ab;
}
.p-form-colorful-indigo .nav-tabs > li > label:hover,
.p-form-colorful-indigo .nav-tabs > li > label:focus {
  background-color: #280045;
}
.p-form-colorful-indigo .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-colorful-indigo .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-colorful-indigo .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-colorful-indigo .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-colorful-indigo .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-colorful-indigo .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-colorful-indigo .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-colorful-indigo .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-colorful-indigo .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-colorful-indigo .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-colorful-indigo .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-colorful-indigo .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-colorful-indigo .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-colorful-indigo .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-colorful-indigo .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #4b0082;
}
.p-form-colorful-indigo .p-title-line,
.p-form-colorful-indigo .p-title-step-line,
.p-form-colorful-indigo .p-title-side {
  background-color: #6300ab;
}
.p-form-colorful-indigo .p-tooltip .p-tooltip-content {
  background-color: #280045;
}
.p-form-colorful-indigo .p-tooltip .p-tooltip-content:after {
  border-color: rgba(40,0,69,0);
  border-top-color: #280045;
}
.p-form-colorful-indigo .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-colorful-indigo .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-colorful-indigo .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(40,0,69,0);
  border-bottom-color: #280045;
}
.p-form-colorful-indigo .p-bordered {
  border-color: #6300ab;
}
.p-form-colorful-indigo .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-colorful-indigo .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-colorful-indigo .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #4b0082;
}
.p-form-colorful-indigo .p-tabs-offset > .nav-tabs > li > label {
  background-color: #6300ab;
}
.p-form-colorful-indigo .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-colorful-indigo .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #280045;
}
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-colorful-indigo .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #4b0082;
}
.p-form-colorful-indigo .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #6300ab;
}
.p-form-colorful-indigo .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #6300ab;
}
.p-form-colorful-indigo .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #6300ab;
}
.p-form-colorful-indigo .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-colorful-indigo .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-colorful-indigo .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-colorful-indigo .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-colorful-indigo .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #6300ab;
}
.p-form-colorful-indigo .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-colorful-indigo .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-colorful-indigo .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-colorful-indigo .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-colorful-indigo .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #6300ab;
}
.p-form-colorful-indigo .p-alt-back,
.p-form-colorful-indigo .p-alt-back .p-form-bg {
  background-color: #340082;
}
.p-form-colorful-indigo .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #340082;
}
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-colorful-indigo .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #340082;
}
.p-form-colorful-indigo .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-colorful-indigo .p-alt-back .p-table.table-striped > thead {
  background-color: #3a0091;
}
.p-form-colorful-indigo .p-alt-back .panel-fp > .panel-heading {
  background-color: #3a0091;
}
.p-form-colorful-indigo .p-alt-back .panel-fp > .panel-body {
  background-color: #340082;
}
.p-form-colorful-indigo .p-alt-back hr.p-flat {
  border-color: #3a0091;
}
.p-form-colorful-indigo .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #6300ab;
}
.p-form-colorful-indigo .p-bordered > .nav-tabs {
  border-color: #6300ab;
}
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-colorful-indigo .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #340082;
}
