/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-dark-darkViolet .panel-fp {
  border-color: #480066;
}
.p-form-dark-darkViolet .panel-fp > .panel-heading {
  background-color: #2b003d;
  border-color: #480066;
}
.p-form-dark-darkViolet .panel-fp > .panel-body {
  background-color: #1d0029;
}
.p-form-dark-darkViolet .progress-bar-fp {
  background-color: #9400d3;
}
.p-form-dark-darkViolet .btn {
  background-color: #9400d3;
}
.p-form-dark-darkViolet .btn.p-active-btn,
.p-form-dark-darkViolet .btn:hover,
.p-form-dark-darkViolet .btn:focus {
  background-color: #70a;
}
.p-form-dark-darkViolet .radio label a,
.p-form-dark-darkViolet .checkbox label a,
.p-form-dark-darkViolet .p-switch label a,
.p-form-dark-darkViolet .p-radioswitch label a {
  color: #70a;
}
.p-form-dark-darkViolet .p-show-block-heading a {
  color: #70a;
}
.p-form-dark-darkViolet .p-check-active-icon {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-check-block {
  border-color: #300044;
}
.p-form-dark-darkViolet .p-check-block:after {
  background-color: #9400d3;
  border-color: #9400d3;
}
.p-form-dark-darkViolet .p-check-icon .p-check-middle {
  color: #300044;
}
.p-form-dark-darkViolet .p-switch-icon {
  border-color: #300044;
}
.p-form-dark-darkViolet .p-check-point:after {
  background-color: #9400d3;
  border-color: #9400d3;
}
.p-form-dark-darkViolet .p-switch-icon:after {
  background-color: #9400d3;
  border-color: #9400d3;
}
.p-form-dark-darkViolet .p-check-bordered {
  border-color: #40005c;
}
.p-form-dark-darkViolet .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-dark-darkViolet :checked ~ .p-check-icon .p-check-middle {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-block,
.p-form-dark-darkViolet :checked ~ .p-check-icon .p-check-block {
  border-color: #9400d3;
}
.p-form-dark-darkViolet .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-dark-darkViolet :checked ~ .p-switch-icon {
  border-color: #9400d3;
}
.p-form-dark-darkViolet .p-check-next:checked ~ .p-check-container .p-switch-icon:before,
.p-form-dark-darkViolet :checked ~ .p-switch-icon:before {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-dark-darkViolet :checked ~ .p-check-highlight {
  background-color: #36004d;
}
.p-form-dark-darkViolet .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-dark-darkViolet :checked ~ .p-check-bordered {
  border-color: #c43aff;
}
.p-form-dark-darkViolet label:hover .p-check-active-icon,
.p-form-dark-darkViolet .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-dark-darkViolet label:hover .p-check-icon .p-check-middle,
.p-form-dark-darkViolet .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #b811ff;
}
.p-form-dark-darkViolet label:hover .p-check-icon .p-check-block,
.p-form-dark-darkViolet .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #b811ff;
}
.p-form-dark-darkViolet label:hover .p-switch-icon,
.p-form-dark-darkViolet .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #b811ff;
}
.p-form-dark-darkViolet label:hover .p-check-highlight,
.p-form-dark-darkViolet .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #2b003d;
}
.p-form-dark-darkViolet label:hover .p-check-bordered,
.p-form-dark-darkViolet .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #9400d3;
}
.p-form-dark-darkViolet .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-dark-darkViolet .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(48,0,68,0.7);
}
.p-form-dark-darkViolet .p-picture-pick:hover .p-preview-name {
  background-color: rgba(119,0,170,0.7);
}
.p-form-dark-darkViolet .p-show-block:checked + .p-show-block-heading:hover,
.p-form-dark-darkViolet .p-show-block-heading:hover {
  color: #b811ff;
}
.p-form-dark-darkViolet .p-show-block:checked + .p-show-block-heading {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-picture-pick .p-switch-icon,
.p-form-dark-darkViolet .p-picture-pick .p-check-block {
  background-color: #1d0029;
}
.p-form-dark-darkViolet .p-radio-color .p-color-block {
  border-color: #40005c;
}
.p-form-dark-darkViolet .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-dark-darkViolet .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #9400d3;
}
.p-form-dark-darkViolet {
  color: #4c006d;
}
.p-form-dark-darkViolet .p-form-bg,
.p-form-dark-darkViolet .p-form {
  background: #1d0029;
}
.p-form-dark-darkViolet .p-colored-text {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-alt-colored-text {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-colored-link {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-colored-link:hover {
  color: #70a;
}
.p-form-dark-darkViolet .p-action-link {
  color: #4c006d;
}
.p-form-dark-darkViolet .p-action-link:hover {
  color: #70a;
}
.p-form-dark-darkViolet hr {
  border-color: #480066;
}
.p-form-dark-darkViolet hr.p-flat {
  border-color: #2b003d;
}
.p-form-dark-darkViolet .p-table > thead > tr > td,
.p-form-dark-darkViolet .p-table > tbody > tr > td,
.p-form-dark-darkViolet .p-table > tfoot > tr > td,
.p-form-dark-darkViolet .p-table > thead > tr > th,
.p-form-dark-darkViolet .p-table > tbody > tr > th,
.p-form-dark-darkViolet .p-table > tfoot > tr > th {
  border-color: #480066;
}
.p-form-dark-darkViolet .p-table.table-striped > thead {
  background-color: #2b003d;
  border-color: #480066;
}
.p-form-dark-darkViolet .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #2b003d;
}
.p-form-dark-darkViolet .p-table.table-bordered {
  border-color: #480066;
}
.p-form-dark-darkViolet .p-table.table-bordered > thead > tr > td,
.p-form-dark-darkViolet .p-table.table-bordered > tbody > tr > td,
.p-form-dark-darkViolet .p-table.table-bordered > tfoot > tr > td,
.p-form-dark-darkViolet .p-table.table-bordered > thead > tr > th,
.p-form-dark-darkViolet .p-table.table-bordered > tbody > tr > th,
.p-form-dark-darkViolet .p-table.table-bordered > tfoot > tr > th {
  border-color: #480066;
}
.p-form-dark-darkViolet select.form-control option {
  background-color: #1d0029;
}
.p-form-dark-darkViolet .p-title .fa,
.p-form-dark-darkViolet .p-subtitle .fa {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-field-cb {
  border-color: #300044;
}
.p-form-dark-darkViolet .form-control {
  border-color: #300044;
}
.p-form-dark-darkViolet .form-control:focus,
.p-form-dark-darkViolet .form-control:hover,
.p-form-dark-darkViolet .input-group:hover .form-control,
.p-form-dark-darkViolet .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-dark-darkViolet .sp-input:focus,
.p-form-dark-darkViolet .sp-input:hover {
  border-color: #9400d3;
  -webkit-box-shadow: 0 0 3px #4c006d, 0 0 3px #4c006d inset;
  box-shadow: 0 0 3px #4c006d, 0 0 3px #4c006d inset;
}
.p-form-dark-darkViolet .form-control:focus ~ .input-group-icon,
.p-form-dark-darkViolet .form-control:hover ~ .input-group-icon,
.p-form-dark-darkViolet .input-group:hover .input-group-icon,
.p-form-dark-darkViolet .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-dark-darkViolet .sp-input:focus ~ .input-group-icon,
.p-form-dark-darkViolet .sp-input:hover ~ .input-group-icon,
.p-form-dark-darkViolet .form-control:focus ~ .p-select-arrow,
.p-form-dark-darkViolet .form-control:hover ~ .p-select-arrow,
.p-form-dark-darkViolet .input-group:hover .p-select-arrow,
.p-form-dark-darkViolet .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-dark-darkViolet .sp-input:focus ~ .p-select-arrow,
.p-form-dark-darkViolet .sp-input:hover ~ .p-select-arrow,
.p-form-dark-darkViolet .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-darkViolet .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-dark-darkViolet .input-group:hover .input-group-addon .p-addon-bg,
.p-form-dark-darkViolet .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-dark-darkViolet .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-darkViolet .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #4c006d;
  background-color: #9400d3;
}
.p-form-dark-darkViolet .form-control:focus ~ .p-field-cb,
.p-form-dark-darkViolet .form-control:hover ~ .p-field-cb,
.p-form-dark-darkViolet .input-group:hover .p-field-cb,
.p-form-dark-darkViolet .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-dark-darkViolet .sp-input:focus ~ .p-field-cb,
.p-form-dark-darkViolet .sp-input:hover ~ .p-field-cb {
  border-color: #9400d3;
  -webkit-box-shadow: 0 0 3px #4c006d, 0 0 3px #4c006d inset;
  box-shadow: 0 0 3px #4c006d, 0 0 3px #4c006d inset;
}
.p-form-dark-darkViolet .input-group-addon,
.p-form-dark-darkViolet .input-group-icon,
.p-form-dark-darkViolet .p-select-arrow {
  color: #9400d3;
}
.p-form-dark-darkViolet .input-group-addon .p-addon-bg {
  background-color: #300044;
}
.p-form-dark-darkViolet .p-custom-arrow .p-select-arrow {
  background-color: #1d0029;
}
.p-form-dark-darkViolet .input-group-btn .btn {
  background-color: #70a;
}
.p-form-dark-darkViolet .input-group-btn .btn:hover,
.p-form-dark-darkViolet .input-group-btn .btn:focus,
.p-form-dark-darkViolet .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #4c006d;
}
.p-form-dark-darkViolet .p-no-preview {
  background-color: #300044;
  border-color: #42005e;
}
.p-form-dark-darkViolet .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #9400d3;
}
.p-form-dark-darkViolet .ui-autocomplete {
  background-color: #1d0029;
  border-color: #9400d3;
}
.p-form-dark-darkViolet .ui-autocomplete .ui-state-focus,
.p-form-dark-darkViolet .ui-autocomplete .ui-state-active {
  color: #9400d3;
  background-color: rgba(148,0,211,0.1);
}
.p-form-dark-darkViolet .sp-container {
  background-color: #480066;
}
.p-form-dark-darkViolet .sp-initial,
.p-form-dark-darkViolet .sp-clear,
.p-form-dark-darkViolet .sp-palette .sp-thumb-el {
  border-color: #7300a3;
  color: #7300a3;
}
.p-form-dark-darkViolet .sp-clear:hover,
.p-form-dark-darkViolet .sp-palette .sp-thumb-el:hover,
.p-form-dark-darkViolet .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #1d0029;
  color: #1d0029;
}
.p-form-dark-darkViolet .sp-clear:hover:after,
.p-form-dark-darkViolet .sp-palette .sp-thumb-el:hover:after,
.p-form-dark-darkViolet .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #f9ebff;
}
.p-form-dark-darkViolet .sp-input {
  border-color: #300044;
}
.p-form-dark-darkViolet .sp-choose,
.p-form-dark-darkViolet .sp-cancel,
.p-form-dark-darkViolet .sp-palette-toggle {
  color: #f9ebff;
}
.p-form-dark-darkViolet .sp-choose:hover,
.p-form-dark-darkViolet .sp-cancel:hover,
.p-form-dark-darkViolet .sp-palette-toggle:hover,
.p-form-dark-darkViolet .sp-choose:focus,
.p-form-dark-darkViolet .sp-cancel:focus,
.p-form-dark-darkViolet .sp-palette-toggle:focus,
.p-form-dark-darkViolet .sp-choose:active,
.p-form-dark-darkViolet .sp-cancel:active,
.p-form-dark-darkViolet .sp-palette-toggle:active {
  color: #d46bff;
}
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #480066;
}
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #480066;
  color: #480066;
}
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #7200a3;
  color: #7200a3;
}
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #9400d3;
}
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #9400d3;
}
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-dark-darkViolet .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #70a;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget {
  background-color: #480066;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #c130ff;
  background-color: #2b003d;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table thead th {
  background-color: #2b003d;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table td div:hover,
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table td span:hover {
  color: #1d0029;
  background-color: #7300a3;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table td a,
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table td .btn {
  color: #ca4eff;
  background-color: transparent;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #2b003d;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table .old,
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table .new {
  color: #e8b3ff;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table td .active,
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table .active div {
  background-color: #2b003d;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(202,78,255,0);
  border-bottom-color: #ca4eff;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #7300a3;
  background-color: #480066;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #7300a3;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #56007a;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #480066;
}
.p-form-dark-darkViolet .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #2b003d;
}
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget {
  color: #4c006d;
}
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #ca4eff;
}
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #ca4eff;
}
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #ca4eff;
}
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table .old,
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table .new {
  color: #210030;
}
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(184,17,255,0);
  border-bottom-color: #b811ff;
}
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #480066;
}
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #480066;
}
.p-form-dark-darkViolet .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #2b003d;
}
.p-form-dark-darkViolet .p-js-link {
  color: #300044;
}
.p-form-dark-darkViolet .p-js-link:hover,
.p-form-dark-darkViolet .p-show-js-block .p-js-link:hover,
.p-form-dark-darkViolet .p-field-toggled .p-js-link:hover,
.p-form-dark-darkViolet .p-js-link:focus,
.p-form-dark-darkViolet .p-show-js-block .p-js-link:focus,
.p-form-dark-darkViolet .p-field-toggled .p-js-link:focus {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-js-active-link,
.p-form-dark-darkViolet .p-show-js-block .p-js-link,
.p-form-dark-darkViolet .p-field-toggled .p-js-link {
  color: #b811ff;
}
.p-form-dark-darkViolet .input-group .realperson-challenge .realperson-regen {
  color: #9400d3;
}
.p-form-dark-darkViolet .input-group .realperson-challenge .realperson-regen:hover {
  color: #70a;
}
.p-form-dark-darkViolet .input-group .realperson-challenge .realperson-text:hover {
  color: #b811ff;
}
.p-form-dark-darkViolet .p-slider-block .p-js-value,
.p-form-dark-darkViolet .p-sl-tip {
  background-color: #1d0029;
  border-color: #9400d3;
}
.p-form-dark-darkViolet .p-sl-tip:before {
  border-color: rgba(148,0,211,0);
}
.p-form-dark-darkViolet .ui-slider:before {
  border-color: #320047;
  background-color: #1d0029;
}
.p-form-dark-darkViolet .ui-slider-range {
  background-color: #9400d3;
}
.p-form-dark-darkViolet .ui-slider-handle:after {
  background-color: #1d0029;
  border-color: #9400d3;
}
.p-form-dark-darkViolet .ui-slider-handle .p-sl-icon {
  background-color: #9400d3;
  color: #1d0029;
}
.p-form-dark-darkViolet .ui-slider-handle.ui-state-focus:after,
.p-form-dark-darkViolet .ui-slider-handle.ui-state-active:after,
.p-form-dark-darkViolet .ui-slider-handle.ui-state-hover:after {
  border-color: #70a;
}
.p-form-dark-darkViolet .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-dark-darkViolet .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-dark-darkViolet .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #70a;
}
.p-form-dark-darkViolet .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #9400d3;
}
.p-form-dark-darkViolet .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #9400d3;
}
.p-form-dark-darkViolet .sl-v-simple .ui-slider:before {
  background-color: #320047;
}
.p-form-dark-darkViolet .sl-v-modern .ui-slider:before,
.p-form-dark-darkViolet .sl-v-bordered .ui-slider:before {
  border-color: #480066;
}
.p-form-dark-darkViolet .sl-v-top .ui-slider:before {
  background-color: #320047;
}
.p-form-dark-darkViolet .sl-v-flat .ui-slider:before {
  background-color: #320047;
}
.p-form-dark-darkViolet .pt-form-panel,
.p-form-dark-darkViolet .pt-form-cross-panel {
  background-color: #270038;
}
.p-form-dark-darkViolet .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #1d0029;
}
.p-form-dark-darkViolet .pt-form-cross-panel .p-switch-icon {
  background-color: #1d0029;
}
.p-form-dark-darkViolet .p-rating .p-field-cancel {
  color: #300044;
}
.p-form-dark-darkViolet .p-rating .p-rating-icon {
  color: #300044;
}
.p-form-dark-darkViolet .p-rating .p-rating-active-icon {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #300044;
}
.p-form-dark-darkViolet .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-dark-darkViolet .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-dark-darkViolet .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-dark-darkViolet .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-dark-darkViolet .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #300044;
}
.p-form-dark-darkViolet .p-field-readonly .p-no-preview,
.p-form-dark-darkViolet .p-field-disabled .p-no-preview {
  background-color: #270038;
}
.p-form-dark-darkViolet .p-field-readonly .p-rating .p-rating-icon,
.p-form-dark-darkViolet .p-field-disabled .p-rating .p-rating-icon {
  color: #270038;
}
.p-form-dark-darkViolet .p-field-error .p-no-preview {
  border-color: #c70000;
}
.p-form-dark-darkViolet .p-form-steps:before {
  background-color: #300044;
}
.p-form-dark-darkViolet .p-form-steps > li.active .p-step:before {
  background-color: #690096;
}
.p-form-dark-darkViolet .p-form-steps > li.active ~ li .p-step-text {
  background-color: #300044;
}
.p-form-dark-darkViolet .p-step {
  color: #b100fc;
}
.p-form-dark-darkViolet .p-step .p-step-text {
  background-color: #690096;
}
.p-form-dark-darkViolet .nav-tabs {
  border-color: #40005c;
  background-color: #300044;
}
.p-form-dark-darkViolet .nav-tabs > li > label:hover,
.p-form-dark-darkViolet .nav-tabs > li > label:focus {
  background-color: #70a;
}
.p-form-dark-darkViolet .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-darkViolet .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-darkViolet .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-darkViolet .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-darkViolet .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-darkViolet .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-darkViolet .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-darkViolet .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-darkViolet .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-darkViolet .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-darkViolet .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-darkViolet .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-darkViolet .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-darkViolet .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-darkViolet .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #1d0029;
}
.p-form-dark-darkViolet .p-title,
.p-form-dark-darkViolet .p-subtitle {
  color: #9400d3;
}
.p-form-dark-darkViolet .p-title-line,
.p-form-dark-darkViolet .p-title-step-line,
.p-form-dark-darkViolet .p-title-side {
  background-color: #300044;
}
.p-form-dark-darkViolet .p-tooltip .p-tooltip-content {
  background-color: #690096;
}
.p-form-dark-darkViolet .p-tooltip .p-tooltip-content:after {
  border-color: rgba(105,0,150,0);
  border-top-color: #690096;
}
.p-form-dark-darkViolet .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-dark-darkViolet .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-dark-darkViolet .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(105,0,150,0);
  border-bottom-color: #690096;
}
.p-form-dark-darkViolet .p-bordered {
  border-color: #40005c;
}
.p-form-dark-darkViolet .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-darkViolet .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-darkViolet .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #1d0029;
}
.p-form-dark-darkViolet .p-tabs-offset > .nav-tabs > li > label {
  background-color: #300044;
}
.p-form-dark-darkViolet .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-dark-darkViolet .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #70a;
}
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-darkViolet .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #1d0029;
}
.p-form-dark-darkViolet .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #40005c;
}
.p-form-dark-darkViolet .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #40005c;
}
.p-form-dark-darkViolet .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #40005c;
}
.p-form-dark-darkViolet .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-darkViolet .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-darkViolet .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-darkViolet .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-darkViolet .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #40005c;
}
.p-form-dark-darkViolet .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-dark-darkViolet .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-dark-darkViolet .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-dark-darkViolet .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-dark-darkViolet .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #40005c;
}
.p-form-dark-darkViolet .p-alt-back,
.p-form-dark-darkViolet .p-alt-back .p-form-bg {
  background-color: #0b000f;
}
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #0b000f;
}
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-darkViolet .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0b000f;
}
.p-form-dark-darkViolet .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-dark-darkViolet .p-alt-back .p-table.table-striped > thead {
  background-color: #15001f;
}
.p-form-dark-darkViolet .p-alt-back .panel-fp > .panel-heading {
  background-color: #15001f;
}
.p-form-dark-darkViolet .p-alt-back .panel-fp > .panel-body {
  background-color: #0b000f;
}
.p-form-dark-darkViolet .p-alt-back hr.p-flat {
  border-color: #15001f;
}
.p-form-dark-darkViolet .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #0b000f;
}
.p-form-dark-darkViolet .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-dark-darkViolet .p-alt-back .p-picture-pick .p-check-block {
  background-color: #0b000f;
}
.p-form-dark-darkViolet .p-bordered > .nav-tabs {
  border-color: #40005c;
}
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-darkViolet .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0b000f;
}
.p-form-dark-darkViolet .p-alt-back .pt-form-cross-panel .p-check-icon .p-check-block,
.p-form-dark-darkViolet .p-alt-back .pt-form-cross-panel .p-switch-icon {
  background-color: #0b000f;
}
