/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-dark-chocolate .panel-fp {
  border-color: #592d0d;
}
.p-form-dark-chocolate .panel-fp > .panel-heading {
  background-color: #361b08;
  border-color: #592d0d;
}
.p-form-dark-chocolate .panel-fp > .panel-body {
  background-color: #241205;
}
.p-form-dark-chocolate .progress-bar-fp {
  background-color: #d2691e;
}
.p-form-dark-chocolate .btn {
  background-color: #d2691e;
}
.p-form-dark-chocolate .btn.p-active-btn,
.p-form-dark-chocolate .btn:hover,
.p-form-dark-chocolate .btn:focus {
  background-color: #ae5719;
}
.p-form-dark-chocolate .radio label a,
.p-form-dark-chocolate .checkbox label a,
.p-form-dark-chocolate .p-switch label a,
.p-form-dark-chocolate .p-radioswitch label a {
  color: #ae5719;
}
.p-form-dark-chocolate .p-show-block-heading a {
  color: #ae5719;
}
.p-form-dark-chocolate .p-check-active-icon {
  color: #d2691e;
}
.p-form-dark-chocolate .p-check-block {
  border-color: #552b0c;
}
.p-form-dark-chocolate .p-check-block:after {
  background-color: #d2691e;
  border-color: #d2691e;
}
.p-form-dark-chocolate .p-check-icon .p-check-middle {
  color: #552b0c;
}
.p-form-dark-chocolate .p-switch-icon {
  border-color: #552b0c;
}
.p-form-dark-chocolate .p-check-point:after {
  background-color: #d2691e;
  border-color: #d2691e;
}
.p-form-dark-chocolate .p-switch-icon:after {
  background-color: #d2691e;
  border-color: #d2691e;
}
.p-form-dark-chocolate .p-check-bordered {
  border-color: #50280b;
}
.p-form-dark-chocolate .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-dark-chocolate :checked ~ .p-check-icon .p-check-middle {
  color: #d2691e;
}
.p-form-dark-chocolate .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-block,
.p-form-dark-chocolate :checked ~ .p-check-icon .p-check-block {
  border-color: #d2691e;
}
.p-form-dark-chocolate .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-dark-chocolate :checked ~ .p-switch-icon {
  border-color: #d2691e;
}
.p-form-dark-chocolate .p-check-next:checked ~ .p-check-container .p-switch-icon:before,
.p-form-dark-chocolate :checked ~ .p-switch-icon:before {
  color: #d2691e;
}
.p-form-dark-chocolate .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-dark-chocolate :checked ~ .p-check-highlight {
  background-color: #43210a;
}
.p-form-dark-chocolate .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-dark-chocolate :checked ~ .p-check-bordered {
  border-color: #eaa16c;
}
.p-form-dark-chocolate label:hover .p-check-active-icon,
.p-form-dark-chocolate .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-dark-chocolate label:hover .p-check-icon .p-check-middle,
.p-form-dark-chocolate .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #e58a48;
}
.p-form-dark-chocolate label:hover .p-check-icon .p-check-block,
.p-form-dark-chocolate .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #e58a48;
}
.p-form-dark-chocolate label:hover .p-switch-icon,
.p-form-dark-chocolate .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #e58a48;
}
.p-form-dark-chocolate label:hover .p-check-highlight,
.p-form-dark-chocolate .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #361b08;
}
.p-form-dark-chocolate label:hover .p-check-bordered,
.p-form-dark-chocolate .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #d2691e;
}
.p-form-dark-chocolate .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-dark-chocolate .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(85,43,12,0.7);
}
.p-form-dark-chocolate .p-picture-pick:hover .p-preview-name {
  background-color: rgba(174,87,25,0.7);
}
.p-form-dark-chocolate .p-show-block:checked + .p-show-block-heading:hover,
.p-form-dark-chocolate .p-show-block-heading:hover {
  color: #e58a48;
}
.p-form-dark-chocolate .p-show-block:checked + .p-show-block-heading {
  color: #d2691e;
}
.p-form-dark-chocolate .p-picture-pick .p-switch-icon,
.p-form-dark-chocolate .p-picture-pick .p-check-block {
  background-color: #241205;
}
.p-form-dark-chocolate .p-radio-color .p-color-block {
  border-color: #50280b;
}
.p-form-dark-chocolate .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-dark-chocolate .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #d2691e;
}
.p-form-dark-chocolate {
  color: #793c11;
}
.p-form-dark-chocolate .p-form-bg,
.p-form-dark-chocolate .p-form {
  background: #241205;
}
.p-form-dark-chocolate .p-colored-text {
  color: #d2691e;
}
.p-form-dark-chocolate .p-alt-colored-text {
  color: #d2691e;
}
.p-form-dark-chocolate .p-colored-link {
  color: #d2691e;
}
.p-form-dark-chocolate .p-colored-link:hover {
  color: #ae5719;
}
.p-form-dark-chocolate .p-action-link {
  color: #793c11;
}
.p-form-dark-chocolate .p-action-link:hover {
  color: #ae5719;
}
.p-form-dark-chocolate hr {
  border-color: #592d0d;
}
.p-form-dark-chocolate hr.p-flat {
  border-color: #361b08;
}
.p-form-dark-chocolate .p-table > thead > tr > td,
.p-form-dark-chocolate .p-table > tbody > tr > td,
.p-form-dark-chocolate .p-table > tfoot > tr > td,
.p-form-dark-chocolate .p-table > thead > tr > th,
.p-form-dark-chocolate .p-table > tbody > tr > th,
.p-form-dark-chocolate .p-table > tfoot > tr > th {
  border-color: #592d0d;
}
.p-form-dark-chocolate .p-table.table-striped > thead {
  background-color: #361b08;
  border-color: #592d0d;
}
.p-form-dark-chocolate .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #361b08;
}
.p-form-dark-chocolate .p-table.table-bordered {
  border-color: #592d0d;
}
.p-form-dark-chocolate .p-table.table-bordered > thead > tr > td,
.p-form-dark-chocolate .p-table.table-bordered > tbody > tr > td,
.p-form-dark-chocolate .p-table.table-bordered > tfoot > tr > td,
.p-form-dark-chocolate .p-table.table-bordered > thead > tr > th,
.p-form-dark-chocolate .p-table.table-bordered > tbody > tr > th,
.p-form-dark-chocolate .p-table.table-bordered > tfoot > tr > th {
  border-color: #592d0d;
}
.p-form-dark-chocolate select.form-control option {
  background-color: #241205;
}
.p-form-dark-chocolate .p-title .fa,
.p-form-dark-chocolate .p-subtitle .fa {
  color: #d2691e;
}
.p-form-dark-chocolate .p-field-cb {
  border-color: #552b0c;
}
.p-form-dark-chocolate .form-control {
  border-color: #552b0c;
}
.p-form-dark-chocolate .form-control:focus,
.p-form-dark-chocolate .form-control:hover,
.p-form-dark-chocolate .input-group:hover .form-control,
.p-form-dark-chocolate .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-dark-chocolate .sp-input:focus,
.p-form-dark-chocolate .sp-input:hover {
  border-color: #d2691e;
  -webkit-box-shadow: 0 0 3px #793c11, 0 0 3px #793c11 inset;
  box-shadow: 0 0 3px #793c11, 0 0 3px #793c11 inset;
}
.p-form-dark-chocolate .form-control:focus ~ .input-group-icon,
.p-form-dark-chocolate .form-control:hover ~ .input-group-icon,
.p-form-dark-chocolate .input-group:hover .input-group-icon,
.p-form-dark-chocolate .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-dark-chocolate .sp-input:focus ~ .input-group-icon,
.p-form-dark-chocolate .sp-input:hover ~ .input-group-icon,
.p-form-dark-chocolate .form-control:focus ~ .p-select-arrow,
.p-form-dark-chocolate .form-control:hover ~ .p-select-arrow,
.p-form-dark-chocolate .input-group:hover .p-select-arrow,
.p-form-dark-chocolate .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-dark-chocolate .sp-input:focus ~ .p-select-arrow,
.p-form-dark-chocolate .sp-input:hover ~ .p-select-arrow,
.p-form-dark-chocolate .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-chocolate .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-dark-chocolate .input-group:hover .input-group-addon .p-addon-bg,
.p-form-dark-chocolate .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-dark-chocolate .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-chocolate .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #783c11;
  background-color: #d2691e;
}
.p-form-dark-chocolate .form-control:focus ~ .p-field-cb,
.p-form-dark-chocolate .form-control:hover ~ .p-field-cb,
.p-form-dark-chocolate .input-group:hover .p-field-cb,
.p-form-dark-chocolate .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-dark-chocolate .sp-input:focus ~ .p-field-cb,
.p-form-dark-chocolate .sp-input:hover ~ .p-field-cb {
  border-color: #d2691e;
  -webkit-box-shadow: 0 0 3px #793c11, 0 0 3px #793c11 inset;
  box-shadow: 0 0 3px #793c11, 0 0 3px #793c11 inset;
}
.p-form-dark-chocolate .input-group-addon,
.p-form-dark-chocolate .input-group-icon,
.p-form-dark-chocolate .p-select-arrow {
  color: #d2691e;
}
.p-form-dark-chocolate .input-group-addon .p-addon-bg {
  background-color: #552b0c;
}
.p-form-dark-chocolate .p-custom-arrow .p-select-arrow {
  background-color: #241205;
}
.p-form-dark-chocolate .input-group-btn .btn {
  background-color: #ae5719;
}
.p-form-dark-chocolate .input-group-btn .btn:hover,
.p-form-dark-chocolate .input-group-btn .btn:focus,
.p-form-dark-chocolate .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #783c11;
}
.p-form-dark-chocolate .p-no-preview {
  background-color: #552b0c;
  border-color: #6b360f;
}
.p-form-dark-chocolate .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #d2691e;
}
.p-form-dark-chocolate .ui-autocomplete {
  background-color: #241205;
  border-color: #d2691e;
}
.p-form-dark-chocolate .ui-autocomplete .ui-state-focus,
.p-form-dark-chocolate .ui-autocomplete .ui-state-active {
  color: #d2691e;
  background-color: rgba(210,105,30,0.1);
}
.p-form-dark-chocolate .sp-container {
  background-color: #592d0d;
}
.p-form-dark-chocolate .sp-initial,
.p-form-dark-chocolate .sp-clear,
.p-form-dark-chocolate .sp-palette .sp-thumb-el {
  border-color: #8e4815;
  color: #8e4815;
}
.p-form-dark-chocolate .sp-clear:hover,
.p-form-dark-chocolate .sp-palette .sp-thumb-el:hover,
.p-form-dark-chocolate .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #241205;
  color: #241205;
}
.p-form-dark-chocolate .sp-clear:hover:after,
.p-form-dark-chocolate .sp-palette .sp-thumb-el:hover:after,
.p-form-dark-chocolate .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #fcf4ed;
}
.p-form-dark-chocolate .sp-input {
  border-color: #552b0c;
}
.p-form-dark-chocolate .sp-choose,
.p-form-dark-chocolate .sp-cancel,
.p-form-dark-chocolate .sp-palette-toggle {
  color: #fcf4ed;
}
.p-form-dark-chocolate .sp-choose:hover,
.p-form-dark-chocolate .sp-cancel:hover,
.p-form-dark-chocolate .sp-palette-toggle:hover,
.p-form-dark-chocolate .sp-choose:focus,
.p-form-dark-chocolate .sp-cancel:focus,
.p-form-dark-chocolate .sp-palette-toggle:focus,
.p-form-dark-chocolate .sp-choose:active,
.p-form-dark-chocolate .sp-cancel:active,
.p-form-dark-chocolate .sp-palette-toggle:active {
  color: #ecac7e;
}
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #592d0d;
}
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #592d0d;
  color: #592d0d;
}
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #8f4714;
  color: #8f4714;
}
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #d2691e;
}
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #d2691e;
}
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-dark-chocolate .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #ae5719;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget {
  background-color: #592d0d;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #e99b63;
  background-color: #361b08;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table thead th {
  background-color: #361b08;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table td div:hover,
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table td span:hover {
  color: #241205;
  background-color: #8e4815;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table td a,
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table td .btn {
  color: #edac7e;
  background-color: transparent;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #361b08;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table .old,
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table .new {
  color: #f5d4bc;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table td .active,
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table .active div {
  background-color: #361b08;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(237,172,126,0);
  border-bottom-color: #edac7e;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #8e4815;
  background-color: #592d0d;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-chocolate .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #8e4815;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #6b3610;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #592d0d;
}
.p-form-dark-chocolate .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #361b08;
}
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget {
  color: #793c11;
}
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #d2691e;
}
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #edac7e;
}
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #edac7e;
}
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #d2691e;
}
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #edac7e;
}
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table .old,
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table .new {
  color: #432109;
}
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(229,138,72,0);
  border-bottom-color: #e58a48;
}
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #592d0d;
}
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #592d0d;
}
.p-form-dark-chocolate .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #361b08;
}
.p-form-dark-chocolate .p-js-link {
  color: #552b0c;
}
.p-form-dark-chocolate .p-js-link:hover,
.p-form-dark-chocolate .p-show-js-block .p-js-link:hover,
.p-form-dark-chocolate .p-field-toggled .p-js-link:hover,
.p-form-dark-chocolate .p-js-link:focus,
.p-form-dark-chocolate .p-show-js-block .p-js-link:focus,
.p-form-dark-chocolate .p-field-toggled .p-js-link:focus {
  color: #d2691e;
}
.p-form-dark-chocolate .p-js-active-link,
.p-form-dark-chocolate .p-show-js-block .p-js-link,
.p-form-dark-chocolate .p-field-toggled .p-js-link {
  color: #e58a48;
}
.p-form-dark-chocolate .input-group .realperson-challenge .realperson-regen {
  color: #d2691e;
}
.p-form-dark-chocolate .input-group .realperson-challenge .realperson-regen:hover {
  color: #ae5719;
}
.p-form-dark-chocolate .input-group .realperson-challenge .realperson-text:hover {
  color: #e58a48;
}
.p-form-dark-chocolate .p-slider-block .p-js-value,
.p-form-dark-chocolate .p-sl-tip {
  background-color: #241205;
  border-color: #d2691e;
}
.p-form-dark-chocolate .p-sl-tip:before {
  border-color: rgba(210,105,30,0);
}
.p-form-dark-chocolate .ui-slider:before {
  border-color: #3e1f09;
  background-color: #241205;
}
.p-form-dark-chocolate .ui-slider-range {
  background-color: #d2691e;
}
.p-form-dark-chocolate .ui-slider-handle:after {
  background-color: #241205;
  border-color: #d2691e;
}
.p-form-dark-chocolate .ui-slider-handle .p-sl-icon {
  background-color: #d2691e;
  color: #241205;
}
.p-form-dark-chocolate .ui-slider-handle.ui-state-focus:after,
.p-form-dark-chocolate .ui-slider-handle.ui-state-active:after,
.p-form-dark-chocolate .ui-slider-handle.ui-state-hover:after {
  border-color: #ae5719;
}
.p-form-dark-chocolate .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-dark-chocolate .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-dark-chocolate .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #ae5719;
}
.p-form-dark-chocolate .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #d2691e;
}
.p-form-dark-chocolate .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #d2691e;
}
.p-form-dark-chocolate .sl-v-simple .ui-slider:before {
  background-color: #3e1f09;
}
.p-form-dark-chocolate .sl-v-modern .ui-slider:before,
.p-form-dark-chocolate .sl-v-bordered .ui-slider:before {
  border-color: #592d0d;
}
.p-form-dark-chocolate .sl-v-top .ui-slider:before {
  background-color: #3e1f09;
}
.p-form-dark-chocolate .sl-v-flat .ui-slider:before {
  background-color: #3e1f09;
}
.p-form-dark-chocolate .pt-form-panel,
.p-form-dark-chocolate .pt-form-cross-panel {
  background-color: #311907;
}
.p-form-dark-chocolate .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #241205;
}
.p-form-dark-chocolate .pt-form-cross-panel .p-switch-icon {
  background-color: #241205;
}
.p-form-dark-chocolate .p-rating .p-field-cancel {
  color: #552b0c;
}
.p-form-dark-chocolate .p-rating .p-rating-icon {
  color: #552b0c;
}
.p-form-dark-chocolate .p-rating .p-rating-active-icon {
  color: #d2691e;
}
.p-form-dark-chocolate .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #552b0c;
}
.p-form-dark-chocolate .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-dark-chocolate .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-dark-chocolate .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #d2691e;
}
.p-form-dark-chocolate .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #d2691e;
}
.p-form-dark-chocolate .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-dark-chocolate .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-dark-chocolate .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #552b0c;
}
.p-form-dark-chocolate .p-field-readonly .p-no-preview,
.p-form-dark-chocolate .p-field-disabled .p-no-preview {
  background-color: #311907;
}
.p-form-dark-chocolate .p-field-readonly .p-rating .p-rating-icon,
.p-form-dark-chocolate .p-field-disabled .p-rating .p-rating-icon {
  color: #311907;
}
.p-form-dark-chocolate .p-field-error .p-no-preview {
  border-color: #c70000;
}
.p-form-dark-chocolate .p-form-steps:before {
  background-color: #552b0c;
}
.p-form-dark-chocolate .p-form-steps > li.active .p-step:before {
  background-color: #9c4e16;
}
.p-form-dark-chocolate .p-form-steps > li.active ~ li .p-step-text {
  background-color: #552b0c;
}
.p-form-dark-chocolate .p-step {
  color: #e27e36;
}
.p-form-dark-chocolate .p-step .p-step-text {
  background-color: #9c4e16;
}
.p-form-dark-chocolate .nav-tabs {
  border-color: #50280b;
  background-color: #552b0c;
}
.p-form-dark-chocolate .nav-tabs > li > label:hover,
.p-form-dark-chocolate .nav-tabs > li > label:focus {
  background-color: #ae5719;
}
.p-form-dark-chocolate .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-chocolate .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-chocolate .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-chocolate .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-chocolate .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-chocolate .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-chocolate .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-chocolate .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-chocolate .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-chocolate .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-chocolate .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-chocolate .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-chocolate .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-chocolate .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-chocolate .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #241205;
}
.p-form-dark-chocolate .p-title,
.p-form-dark-chocolate .p-subtitle {
  color: #d2691e;
}
.p-form-dark-chocolate .p-title-line,
.p-form-dark-chocolate .p-title-step-line,
.p-form-dark-chocolate .p-title-side {
  background-color: #552b0c;
}
.p-form-dark-chocolate .p-tooltip .p-tooltip-content {
  background-color: #9c4e16;
}
.p-form-dark-chocolate .p-tooltip .p-tooltip-content:after {
  border-color: rgba(156,78,22,0);
  border-top-color: #9c4e16;
}
.p-form-dark-chocolate .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-dark-chocolate .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-dark-chocolate .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(156,78,22,0);
  border-bottom-color: #9c4e16;
}
.p-form-dark-chocolate .p-bordered {
  border-color: #50280b;
}
.p-form-dark-chocolate .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-chocolate .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-chocolate .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #241205;
}
.p-form-dark-chocolate .p-tabs-offset > .nav-tabs > li > label {
  background-color: #552b0c;
}
.p-form-dark-chocolate .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-dark-chocolate .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #ae5719;
}
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-chocolate .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #241205;
}
.p-form-dark-chocolate .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #50280b;
}
.p-form-dark-chocolate .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #50280b;
}
.p-form-dark-chocolate .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #50280b;
}
.p-form-dark-chocolate .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-chocolate .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-chocolate .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-chocolate .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-chocolate .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #50280b;
}
.p-form-dark-chocolate .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-dark-chocolate .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-dark-chocolate .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-dark-chocolate .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-dark-chocolate .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #50280b;
}
.p-form-dark-chocolate .p-alt-back,
.p-form-dark-chocolate .p-alt-back .p-form-bg {
  background-color: #0d0702;
}
.p-form-dark-chocolate .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #0d0702;
}
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-chocolate .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0d0702;
}
.p-form-dark-chocolate .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-dark-chocolate .p-alt-back .p-table.table-striped > thead {
  background-color: #1b0d04;
}
.p-form-dark-chocolate .p-alt-back .panel-fp > .panel-heading {
  background-color: #1b0d04;
}
.p-form-dark-chocolate .p-alt-back .panel-fp > .panel-body {
  background-color: #0d0702;
}
.p-form-dark-chocolate .p-alt-back hr.p-flat {
  border-color: #1b0d04;
}
.p-form-dark-chocolate .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #0d0702;
}
.p-form-dark-chocolate .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-dark-chocolate .p-alt-back .p-picture-pick .p-check-block {
  background-color: #0d0702;
}
.p-form-dark-chocolate .p-bordered > .nav-tabs {
  border-color: #50280b;
}
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-chocolate .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0d0702;
}
.p-form-dark-chocolate .p-alt-back .pt-form-cross-panel .p-check-icon .p-check-block,
.p-form-dark-chocolate .p-alt-back .pt-form-cross-panel .p-switch-icon {
  background-color: #0d0702;
}
