/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-dark-extra5color3 .panel-fp {
  border-color: #600;
}
.p-form-dark-extra5color3 .panel-fp > .panel-heading {
  background-color: #3d0000;
  border-color: #600;
}
.p-form-dark-extra5color3 .panel-fp > .panel-body {
  background-color: #290000;
}
.p-form-dark-extra5color3 .progress-bar-fp {
  background-color: #f00;
}
.p-form-dark-extra5color3 .btn {
  background-color: #f00;
}
.p-form-dark-extra5color3 .btn.p-active-btn,
.p-form-dark-extra5color3 .btn:hover,
.p-form-dark-extra5color3 .btn:focus {
  background-color: #d60000;
}
.p-form-dark-extra5color3 .radio label a,
.p-form-dark-extra5color3 .checkbox label a,
.p-form-dark-extra5color3 .p-switch label a,
.p-form-dark-extra5color3 .p-radioswitch label a {
  color: #d60000;
}
.p-form-dark-extra5color3 .p-show-block-heading a {
  color: #d60000;
}
.p-form-dark-extra5color3 .p-check-active-icon {
  color: #f00;
}
.p-form-dark-extra5color3 .p-check-block {
  border-color: #700000;
}
.p-form-dark-extra5color3 .p-check-block:after {
  background-color: #f00;
  border-color: #f00;
}
.p-form-dark-extra5color3 .p-check-icon .p-check-middle {
  color: #700000;
}
.p-form-dark-extra5color3 .p-switch-icon {
  border-color: #700000;
}
.p-form-dark-extra5color3 .p-check-point:after {
  background-color: #f00;
  border-color: #f00;
}
.p-form-dark-extra5color3 .p-switch-icon:after {
  background-color: #f00;
  border-color: #f00;
}
.p-form-dark-extra5color3 .p-check-bordered {
  border-color: #5c0000;
}
.p-form-dark-extra5color3 .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-dark-extra5color3 :checked ~ .p-check-icon .p-check-middle {
  color: #f00;
}
.p-form-dark-extra5color3 .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-block,
.p-form-dark-extra5color3 :checked ~ .p-check-icon .p-check-block {
  border-color: #f00;
}
.p-form-dark-extra5color3 .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-dark-extra5color3 :checked ~ .p-switch-icon {
  border-color: #f00;
}
.p-form-dark-extra5color3 .p-check-next:checked ~ .p-check-container .p-switch-icon:before,
.p-form-dark-extra5color3 :checked ~ .p-switch-icon:before {
  color: #f00;
}
.p-form-dark-extra5color3 .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-dark-extra5color3 :checked ~ .p-check-highlight {
  background-color: #4d0000;
}
.p-form-dark-extra5color3 .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-dark-extra5color3 :checked ~ .p-check-bordered {
  border-color: #f66;
}
.p-form-dark-extra5color3 label:hover .p-check-active-icon,
.p-form-dark-extra5color3 .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-dark-extra5color3 label:hover .p-check-icon .p-check-middle,
.p-form-dark-extra5color3 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #ff3d3d;
}
.p-form-dark-extra5color3 label:hover .p-check-icon .p-check-block,
.p-form-dark-extra5color3 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #ff3d3d;
}
.p-form-dark-extra5color3 label:hover .p-switch-icon,
.p-form-dark-extra5color3 .p-check-next ~ .p-check-container:hover .p-switch-icon {
  border-color: #ff3d3d;
}
.p-form-dark-extra5color3 label:hover .p-check-highlight,
.p-form-dark-extra5color3 .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #3d0000;
}
.p-form-dark-extra5color3 label:hover .p-check-bordered,
.p-form-dark-extra5color3 .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #f00;
}
.p-form-dark-extra5color3 .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-dark-extra5color3 .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(112,0,0,0.7);
}
.p-form-dark-extra5color3 .p-picture-pick:hover .p-preview-name {
  background-color: rgba(214,0,0,0.7);
}
.p-form-dark-extra5color3 .p-show-block:checked + .p-show-block-heading:hover,
.p-form-dark-extra5color3 .p-show-block-heading:hover {
  color: #ff3d3d;
}
.p-form-dark-extra5color3 .p-show-block:checked + .p-show-block-heading {
  color: #f00;
}
.p-form-dark-extra5color3 .p-picture-pick .p-switch-icon,
.p-form-dark-extra5color3 .p-picture-pick .p-check-block {
  background-color: #290000;
}
.p-form-dark-extra5color3 .p-radio-color .p-color-block {
  border-color: #5c0000;
}
.p-form-dark-extra5color3 .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-dark-extra5color3 .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #f00;
}
.p-form-dark-extra5color3 {
  color: #900;
}
.p-form-dark-extra5color3 .p-form-bg,
.p-form-dark-extra5color3 .p-form {
  background: #290000;
}
.p-form-dark-extra5color3 .p-colored-text {
  color: #f00;
}
.p-form-dark-extra5color3 .p-alt-colored-text {
  color: #f00;
}
.p-form-dark-extra5color3 .p-colored-link {
  color: #f00;
}
.p-form-dark-extra5color3 .p-colored-link:hover {
  color: #d60000;
}
.p-form-dark-extra5color3 .p-action-link {
  color: #900;
}
.p-form-dark-extra5color3 .p-action-link:hover {
  color: #d60000;
}
.p-form-dark-extra5color3 hr {
  border-color: #600;
}
.p-form-dark-extra5color3 hr.p-flat {
  border-color: #3d0000;
}
.p-form-dark-extra5color3 .p-table > thead > tr > td,
.p-form-dark-extra5color3 .p-table > tbody > tr > td,
.p-form-dark-extra5color3 .p-table > tfoot > tr > td,
.p-form-dark-extra5color3 .p-table > thead > tr > th,
.p-form-dark-extra5color3 .p-table > tbody > tr > th,
.p-form-dark-extra5color3 .p-table > tfoot > tr > th {
  border-color: #600;
}
.p-form-dark-extra5color3 .p-table.table-striped > thead {
  background-color: #3d0000;
  border-color: #600;
}
.p-form-dark-extra5color3 .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #3d0000;
}
.p-form-dark-extra5color3 .p-table.table-bordered {
  border-color: #600;
}
.p-form-dark-extra5color3 .p-table.table-bordered > thead > tr > td,
.p-form-dark-extra5color3 .p-table.table-bordered > tbody > tr > td,
.p-form-dark-extra5color3 .p-table.table-bordered > tfoot > tr > td,
.p-form-dark-extra5color3 .p-table.table-bordered > thead > tr > th,
.p-form-dark-extra5color3 .p-table.table-bordered > tbody > tr > th,
.p-form-dark-extra5color3 .p-table.table-bordered > tfoot > tr > th {
  border-color: #600;
}
.p-form-dark-extra5color3 select.form-control option {
  background-color: #290000;
}
.p-form-dark-extra5color3 .p-title .fa,
.p-form-dark-extra5color3 .p-subtitle .fa {
  color: #f00;
}
.p-form-dark-extra5color3 .p-field-cb {
  border-color: #700000;
}
.p-form-dark-extra5color3 .form-control {
  border-color: #700000;
}
.p-form-dark-extra5color3 .form-control:focus,
.p-form-dark-extra5color3 .form-control:hover,
.p-form-dark-extra5color3 .input-group:hover .form-control,
.p-form-dark-extra5color3 .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-dark-extra5color3 .sp-input:focus,
.p-form-dark-extra5color3 .sp-input:hover {
  border-color: #f00;
  -webkit-box-shadow: 0 0 3px #900, 0 0 3px #900 inset;
  box-shadow: 0 0 3px #900, 0 0 3px #900 inset;
}
.p-form-dark-extra5color3 .form-control:focus ~ .input-group-icon,
.p-form-dark-extra5color3 .form-control:hover ~ .input-group-icon,
.p-form-dark-extra5color3 .input-group:hover .input-group-icon,
.p-form-dark-extra5color3 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-dark-extra5color3 .sp-input:focus ~ .input-group-icon,
.p-form-dark-extra5color3 .sp-input:hover ~ .input-group-icon,
.p-form-dark-extra5color3 .form-control:focus ~ .p-select-arrow,
.p-form-dark-extra5color3 .form-control:hover ~ .p-select-arrow,
.p-form-dark-extra5color3 .input-group:hover .p-select-arrow,
.p-form-dark-extra5color3 .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-dark-extra5color3 .sp-input:focus ~ .p-select-arrow,
.p-form-dark-extra5color3 .sp-input:hover ~ .p-select-arrow,
.p-form-dark-extra5color3 .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-extra5color3 .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-dark-extra5color3 .input-group:hover .input-group-addon .p-addon-bg,
.p-form-dark-extra5color3 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-dark-extra5color3 .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-dark-extra5color3 .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #900;
  background-color: #f00;
}
.p-form-dark-extra5color3 .form-control:focus ~ .p-field-cb,
.p-form-dark-extra5color3 .form-control:hover ~ .p-field-cb,
.p-form-dark-extra5color3 .input-group:hover .p-field-cb,
.p-form-dark-extra5color3 .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-dark-extra5color3 .sp-input:focus ~ .p-field-cb,
.p-form-dark-extra5color3 .sp-input:hover ~ .p-field-cb {
  border-color: #f00;
  -webkit-box-shadow: 0 0 3px #900, 0 0 3px #900 inset;
  box-shadow: 0 0 3px #900, 0 0 3px #900 inset;
}
.p-form-dark-extra5color3 .input-group-addon,
.p-form-dark-extra5color3 .input-group-icon,
.p-form-dark-extra5color3 .p-select-arrow {
  color: #f00;
}
.p-form-dark-extra5color3 .input-group-addon .p-addon-bg {
  background-color: #700000;
}
.p-form-dark-extra5color3 .p-custom-arrow .p-select-arrow {
  background-color: #290000;
}
.p-form-dark-extra5color3 .input-group-btn .btn {
  background-color: #d60000;
}
.p-form-dark-extra5color3 .input-group-btn .btn:hover,
.p-form-dark-extra5color3 .input-group-btn .btn:focus,
.p-form-dark-extra5color3 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #900;
}
.p-form-dark-extra5color3 .p-no-preview {
  background-color: #700000;
  border-color: #8a0000;
}
.p-form-dark-extra5color3 .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #f00;
}
.p-form-dark-extra5color3 .ui-autocomplete {
  background-color: #290000;
  border-color: #f00;
}
.p-form-dark-extra5color3 .ui-autocomplete .ui-state-focus,
.p-form-dark-extra5color3 .ui-autocomplete .ui-state-active {
  color: #f00;
  background-color: rgba(255,0,0,0.1);
}
.p-form-dark-extra5color3 .sp-container {
  background-color: #600;
}
.p-form-dark-extra5color3 .sp-initial,
.p-form-dark-extra5color3 .sp-clear,
.p-form-dark-extra5color3 .sp-palette .sp-thumb-el {
  border-color: #a30000;
  color: #a30000;
}
.p-form-dark-extra5color3 .sp-clear:hover,
.p-form-dark-extra5color3 .sp-palette .sp-thumb-el:hover,
.p-form-dark-extra5color3 .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #290000;
  color: #290000;
}
.p-form-dark-extra5color3 .sp-clear:hover:after,
.p-form-dark-extra5color3 .sp-palette .sp-thumb-el:hover:after,
.p-form-dark-extra5color3 .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #ffebeb;
}
.p-form-dark-extra5color3 .sp-input {
  border-color: #700000;
}
.p-form-dark-extra5color3 .sp-choose,
.p-form-dark-extra5color3 .sp-cancel,
.p-form-dark-extra5color3 .sp-palette-toggle {
  color: #ffebeb;
}
.p-form-dark-extra5color3 .sp-choose:hover,
.p-form-dark-extra5color3 .sp-cancel:hover,
.p-form-dark-extra5color3 .sp-palette-toggle:hover,
.p-form-dark-extra5color3 .sp-choose:focus,
.p-form-dark-extra5color3 .sp-cancel:focus,
.p-form-dark-extra5color3 .sp-palette-toggle:focus,
.p-form-dark-extra5color3 .sp-choose:active,
.p-form-dark-extra5color3 .sp-cancel:active,
.p-form-dark-extra5color3 .sp-palette-toggle:active {
  color: #ff6b6b;
}
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #600;
}
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #600;
  color: #600;
}
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #a30000;
  color: #a30000;
}
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #f00;
}
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #f00;
}
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-dark-extra5color3 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #d60000;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget {
  background-color: #600;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #ff5c5c;
  background-color: #3d0000;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table thead th {
  background-color: #3d0000;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table td div:hover,
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table td span:hover {
  color: #290000;
  background-color: #a30000;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table td a,
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table td .btn {
  color: #ff7a7a;
  background-color: transparent;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #3d0000;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table .old,
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table .new {
  color: #ffb3b3;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table td .active,
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table .active div {
  background-color: #3d0000;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(255,122,122,0);
  border-bottom-color: #ff7a7a;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #a30000;
  background-color: #600;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #a30000;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #7a0000;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #600;
}
.p-form-dark-extra5color3 .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #3d0000;
}
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget {
  color: #900;
}
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #f00;
}
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #ff7a7a;
}
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #ff7a7a;
}
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #f00;
}
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #ff7a7a;
}
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .old,
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .new {
  color: #5c0000;
}
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(255,61,61,0);
  border-bottom-color: #ff3d3d;
}
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #600;
}
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #600;
}
.p-form-dark-extra5color3 .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #3d0000;
}
.p-form-dark-extra5color3 .p-js-link {
  color: #700000;
}
.p-form-dark-extra5color3 .p-js-link:hover,
.p-form-dark-extra5color3 .p-show-js-block .p-js-link:hover,
.p-form-dark-extra5color3 .p-field-toggled .p-js-link:hover,
.p-form-dark-extra5color3 .p-js-link:focus,
.p-form-dark-extra5color3 .p-show-js-block .p-js-link:focus,
.p-form-dark-extra5color3 .p-field-toggled .p-js-link:focus {
  color: #f00;
}
.p-form-dark-extra5color3 .p-js-active-link,
.p-form-dark-extra5color3 .p-show-js-block .p-js-link,
.p-form-dark-extra5color3 .p-field-toggled .p-js-link {
  color: #ff3d3d;
}
.p-form-dark-extra5color3 .input-group .realperson-challenge .realperson-regen {
  color: #f00;
}
.p-form-dark-extra5color3 .input-group .realperson-challenge .realperson-regen:hover {
  color: #d60000;
}
.p-form-dark-extra5color3 .input-group .realperson-challenge .realperson-text:hover {
  color: #ff3d3d;
}
.p-form-dark-extra5color3 .p-slider-block .p-js-value,
.p-form-dark-extra5color3 .p-sl-tip {
  background-color: #290000;
  border-color: #f00;
}
.p-form-dark-extra5color3 .p-sl-tip:before {
  border-color: rgba(255,0,0,0);
}
.p-form-dark-extra5color3 .ui-slider:before {
  border-color: #470000;
  background-color: #290000;
}
.p-form-dark-extra5color3 .ui-slider-range {
  background-color: #f00;
}
.p-form-dark-extra5color3 .ui-slider-handle:after {
  background-color: #290000;
  border-color: #f00;
}
.p-form-dark-extra5color3 .ui-slider-handle .p-sl-icon {
  background-color: #f00;
  color: #290000;
}
.p-form-dark-extra5color3 .ui-slider-handle.ui-state-focus:after,
.p-form-dark-extra5color3 .ui-slider-handle.ui-state-active:after,
.p-form-dark-extra5color3 .ui-slider-handle.ui-state-hover:after {
  border-color: #d60000;
}
.p-form-dark-extra5color3 .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-dark-extra5color3 .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-dark-extra5color3 .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #d60000;
}
.p-form-dark-extra5color3 .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #f00;
}
.p-form-dark-extra5color3 .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #f00;
}
.p-form-dark-extra5color3 .sl-v-simple .ui-slider:before {
  background-color: #470000;
}
.p-form-dark-extra5color3 .sl-v-modern .ui-slider:before,
.p-form-dark-extra5color3 .sl-v-bordered .ui-slider:before {
  border-color: #600;
}
.p-form-dark-extra5color3 .sl-v-top .ui-slider:before {
  background-color: #470000;
}
.p-form-dark-extra5color3 .sl-v-flat .ui-slider:before {
  background-color: #470000;
}
.p-form-dark-extra5color3 .pt-form-panel,
.p-form-dark-extra5color3 .pt-form-cross-panel {
  background-color: #380000;
}
.p-form-dark-extra5color3 .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #290000;
}
.p-form-dark-extra5color3 .pt-form-cross-panel .p-switch-icon {
  background-color: #290000;
}
.p-form-dark-extra5color3 .p-rating .p-field-cancel {
  color: #700000;
}
.p-form-dark-extra5color3 .p-rating .p-rating-icon {
  color: #700000;
}
.p-form-dark-extra5color3 .p-rating .p-rating-active-icon {
  color: #f00;
}
.p-form-dark-extra5color3 .p-rating .p-rating-active-icon + .p-rating-icon {
  color: #700000;
}
.p-form-dark-extra5color3 .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-dark-extra5color3 .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-dark-extra5color3 .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #f00;
}
.p-form-dark-extra5color3 .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #f00;
}
.p-form-dark-extra5color3 .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-dark-extra5color3 .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-dark-extra5color3 .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #700000;
}
.p-form-dark-extra5color3 .p-field-readonly .p-no-preview,
.p-form-dark-extra5color3 .p-field-disabled .p-no-preview {
  background-color: #380000;
}
.p-form-dark-extra5color3 .p-field-readonly .p-rating .p-rating-icon,
.p-form-dark-extra5color3 .p-field-disabled .p-rating .p-rating-icon {
  color: #380000;
}
.p-form-dark-extra5color3 .p-field-error .p-no-preview {
  border-color: #c70000;
}
.p-form-dark-extra5color3 .p-form-steps:before {
  background-color: #700000;
}
.p-form-dark-extra5color3 .p-form-steps > li.active .p-step:before {
  background-color: #c20000;
}
.p-form-dark-extra5color3 .p-form-steps > li.active ~ li .p-step-text {
  background-color: #700000;
}
.p-form-dark-extra5color3 .p-step {
  color: #ff2929;
}
.p-form-dark-extra5color3 .p-step .p-step-text {
  background-color: #c20000;
}
.p-form-dark-extra5color3 .nav-tabs {
  border-color: #5c0000;
  background-color: #700000;
}
.p-form-dark-extra5color3 .nav-tabs > li > label:hover,
.p-form-dark-extra5color3 .nav-tabs > li > label:focus {
  background-color: #d60000;
}
.p-form-dark-extra5color3 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-extra5color3 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #290000;
}
.p-form-dark-extra5color3 .p-title,
.p-form-dark-extra5color3 .p-subtitle {
  color: #f00;
}
.p-form-dark-extra5color3 .p-title-line,
.p-form-dark-extra5color3 .p-title-step-line,
.p-form-dark-extra5color3 .p-title-side {
  background-color: #700000;
}
.p-form-dark-extra5color3 .p-tooltip .p-tooltip-content {
  background-color: #c20000;
}
.p-form-dark-extra5color3 .p-tooltip .p-tooltip-content:after {
  border-color: rgba(194,0,0,0);
  border-top-color: #c20000;
}
.p-form-dark-extra5color3 .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-dark-extra5color3 .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-dark-extra5color3 .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(194,0,0,0);
  border-bottom-color: #c20000;
}
.p-form-dark-extra5color3 .p-bordered {
  border-color: #5c0000;
}
.p-form-dark-extra5color3 .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-extra5color3 .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-dark-extra5color3 .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #290000;
}
.p-form-dark-extra5color3 .p-tabs-offset > .nav-tabs > li > label {
  background-color: #700000;
}
.p-form-dark-extra5color3 .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-dark-extra5color3 .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #d60000;
}
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-extra5color3 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #290000;
}
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #5c0000;
}
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #5c0000;
}
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #5c0000;
}
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #5c0000;
}
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-dark-extra5color3 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #5c0000;
}
.p-form-dark-extra5color3 .p-alt-back,
.p-form-dark-extra5color3 .p-alt-back .p-form-bg {
  background-color: #0f0000;
}
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #0f0000;
}
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-extra5color3 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0f0000;
}
.p-form-dark-extra5color3 .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-dark-extra5color3 .p-alt-back .p-table.table-striped > thead {
  background-color: #1f0000;
}
.p-form-dark-extra5color3 .p-alt-back .panel-fp > .panel-heading {
  background-color: #1f0000;
}
.p-form-dark-extra5color3 .p-alt-back .panel-fp > .panel-body {
  background-color: #0f0000;
}
.p-form-dark-extra5color3 .p-alt-back hr.p-flat {
  border-color: #1f0000;
}
.p-form-dark-extra5color3 .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #0f0000;
}
.p-form-dark-extra5color3 .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-dark-extra5color3 .p-alt-back .p-picture-pick .p-check-block {
  background-color: #0f0000;
}
.p-form-dark-extra5color3 .p-bordered > .nav-tabs {
  border-color: #5c0000;
}
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-dark-extra5color3 .p-alt-back .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #0f0000;
}
.p-form-dark-extra5color3 .p-alt-back .pt-form-cross-panel .p-check-icon .p-check-block,
.p-form-dark-extra5color3 .p-alt-back .pt-form-cross-panel .p-switch-icon {
  background-color: #0f0000;
}
