/*! Forms Plus: JS.1.5.1 - 2018-01-05 */
.p-form-squareDark-extra5color2 .panel-fp {
  border-color: #661a00;
}
.p-form-squareDark-extra5color2 .panel-fp > .panel-heading {
  background-color: #3d0f00;
  border-color: #661a00;
}
.p-form-squareDark-extra5color2 .panel-fp > .panel-body {
  background-color: #290a00;
}
.p-form-squareDark-extra5color2 .progress-bar-fp {
  background-color: #c30;
}
.p-form-squareDark-extra5color2 .btn {
  background-color: #c30;
}
.p-form-squareDark-extra5color2 .btn.p-active-btn,
.p-form-squareDark-extra5color2 .btn:hover,
.p-form-squareDark-extra5color2 .btn:focus {
  background-color: #c30;
}
.p-form-squareDark-extra5color2 .radio label a,
.p-form-squareDark-extra5color2 .checkbox label a,
.p-form-squareDark-extra5color2 .p-switch label a,
.p-form-squareDark-extra5color2 .p-radioswitch label a {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-show-block-heading a {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-check-active-icon {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-check-block {
  border-color: #543b33;
}
.p-form-squareDark-extra5color2 .p-check-block:after {
  background-color: #c30;
  border-color: #c30;
}
.p-form-squareDark-extra5color2 .p-switch-icon {
  background-color: #661a00;
}
.p-form-squareDark-extra5color2 .p-check-point:after {
  background-color: #c30;
  border-color: #c30;
}
.p-form-squareDark-extra5color2 .p-switch-icon:after {
  border-color: #c30;
}
.p-form-squareDark-extra5color2 .p-check-bordered {
  border-color: #5c1700;
}
.p-form-squareDark-extra5color2 .p-check-next:checked ~ .p-check-container .p-check-icon .p-check-middle,
.p-form-squareDark-extra5color2 :checked ~ .p-check-icon .p-check-middle {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-check-next:checked ~ .p-check-container .p-switch-icon,
.p-form-squareDark-extra5color2 :checked ~ .p-switch-icon {
  background-color: #f63;
}
.p-form-squareDark-extra5color2 .p-check-next:checked ~ .p-check-container .p-switch-icon:after,
.p-form-squareDark-extra5color2 :checked ~ .p-switch-icon:after {
  background-color: #c30;
}
.p-form-squareDark-extra5color2 .p-check-next:checked ~ .p-check-container .p-check-highlight,
.p-form-squareDark-extra5color2 :checked ~ .p-check-highlight {
  background-color: #4d1300;
}
.p-form-squareDark-extra5color2 .p-check-next:checked ~ .p-check-container .p-check-bordered,
.p-form-squareDark-extra5color2 :checked ~ .p-check-bordered {
  border-color: #f63;
}
.p-form-squareDark-extra5color2 label:hover .p-check-active-icon,
.p-form-squareDark-extra5color2 .p-check-next ~ .p-check-container:hover .p-check-active-icon,
.p-form-squareDark-extra5color2 label:hover .p-check-icon .p-check-middle,
.p-form-squareDark-extra5color2 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-middle {
  color: #ff470a;
}
.p-form-squareDark-extra5color2 label:hover .p-check-icon .p-check-block,
.p-form-squareDark-extra5color2 .p-check-next ~ .p-check-container:hover .p-check-icon .p-check-block {
  border-color: #ff470a;
}
.p-form-squareDark-extra5color2 label:hover .p-switch-icon,
.p-form-squareDark-extra5color2 .p-check-next ~ .p-check-container:hover .p-switch-icon {
  background-color: #3d1000;
}
.p-form-squareDark-extra5color2 label:hover .p-check-highlight,
.p-form-squareDark-extra5color2 .p-check-next ~ .p-check-container:hover .p-check-highlight {
  background-color: #3d0f00;
}
.p-form-squareDark-extra5color2 label:hover .p-check-bordered,
.p-form-squareDark-extra5color2 .p-check-next ~ .p-check-container:hover .p-check-bordered {
  border-color: #c30;
}
.p-form-squareDark-extra5color2 .p-picture-pick .p-preview-name {
  background-color: rgba(0,0,0,0.7);
}
.p-form-squareDark-extra5color2 .p-picture-pick :checked ~ .p-preview-name {
  background-color: rgba(61,15,0,0.7);
}
.p-form-squareDark-extra5color2 .p-picture-pick:hover .p-preview-name {
  background-color: rgba(163,41,0,0.7);
}
.p-form-squareDark-extra5color2 .p-show-block:checked + .p-show-block-heading:hover,
.p-form-squareDark-extra5color2 .p-show-block-heading:hover {
  color: #ff470a;
}
.p-form-squareDark-extra5color2 .p-show-block:checked + .p-show-block-heading {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-picture-pick .p-switch-icon,
.p-form-squareDark-extra5color2 .p-picture-pick .p-check-block {
  background-color: #290a00;
}
.p-form-squareDark-extra5color2 .p-radio-color .p-color-block {
  border-color: #5c1700;
}
.p-form-squareDark-extra5color2 .p-radio-color [type="checkbox"]:checked ~ .p-color-block,
.p-form-squareDark-extra5color2 .p-radio-color [type="radio"]:checked ~ .p-color-block {
  border-color: #c30;
}
.p-form-squareDark-extra5color2 .p-form-bg,
.p-form-squareDark-extra5color2 .p-form {
  background: #290a00;
}
.p-form-squareDark-extra5color2 .p-colored-text {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-alt-colored-text {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-colored-link {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-colored-link:hover {
  color: #8f2400;
}
.p-form-squareDark-extra5color2 .p-action-link:hover {
  color: #c30;
}
.p-form-squareDark-extra5color2 hr {
  border-color: #661a00;
}
.p-form-squareDark-extra5color2 hr.p-flat {
  border-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .p-table > thead > tr > td,
.p-form-squareDark-extra5color2 .p-table > tbody > tr > td,
.p-form-squareDark-extra5color2 .p-table > tfoot > tr > td,
.p-form-squareDark-extra5color2 .p-table > thead > tr > th,
.p-form-squareDark-extra5color2 .p-table > tbody > tr > th,
.p-form-squareDark-extra5color2 .p-table > tfoot > tr > th {
  border-color: #661a00;
}
.p-form-squareDark-extra5color2 .p-table.table-striped > thead {
  background-color: #3d0f00;
  border-color: #661a00;
}
.p-form-squareDark-extra5color2 .p-table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .p-table.table-bordered {
  border-color: #661a00;
}
.p-form-squareDark-extra5color2 .p-table.table-bordered > thead > tr > td,
.p-form-squareDark-extra5color2 .p-table.table-bordered > tbody > tr > td,
.p-form-squareDark-extra5color2 .p-table.table-bordered > tfoot > tr > td,
.p-form-squareDark-extra5color2 .p-table.table-bordered > thead > tr > th,
.p-form-squareDark-extra5color2 .p-table.table-bordered > tbody > tr > th,
.p-form-squareDark-extra5color2 .p-table.table-bordered > tfoot > tr > th {
  border-color: #661a00;
}
.p-form-squareDark-extra5color2 label {
  color: rgba(235,173,153,1);
}
.p-form-squareDark-extra5color2 select.form-control option {
  background-color: #290a00;
}
.p-form-squareDark-extra5color2 .p-title .fa,
.p-form-squareDark-extra5color2 .p-subtitle .fa {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-field-cb {
  background-color: #543b33;
  border-color: #543b33;
}
.p-form-squareDark-extra5color2 .form-control {
  border-color: #543b33;
  background-color: #543b33;
}
.p-form-squareDark-extra5color2 .form-control:focus,
.p-form-squareDark-extra5color2 .form-control:hover,
.p-form-squareDark-extra5color2 .input-group:hover .form-control,
.p-form-squareDark-extra5color2 .p-file-wrap [type="file"]:hover ~ .input-group .form-control,
.p-form-squareDark-extra5color2 .sp-input:focus,
.p-form-squareDark-extra5color2 .sp-input:hover {
  background-color: #290a00;
}
.p-form-squareDark-extra5color2 .form-control:focus ~ .input-group-icon,
.p-form-squareDark-extra5color2 .form-control:hover ~ .input-group-icon,
.p-form-squareDark-extra5color2 .input-group:hover .input-group-icon,
.p-form-squareDark-extra5color2 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-icon,
.p-form-squareDark-extra5color2 .sp-input:focus ~ .input-group-icon,
.p-form-squareDark-extra5color2 .sp-input:hover ~ .input-group-icon,
.p-form-squareDark-extra5color2 .form-control:focus ~ .p-select-arrow,
.p-form-squareDark-extra5color2 .form-control:hover ~ .p-select-arrow,
.p-form-squareDark-extra5color2 .input-group:hover .p-select-arrow,
.p-form-squareDark-extra5color2 .p-file-wrap [type="file"]:hover ~ .input-group .p-select-arrow,
.p-form-squareDark-extra5color2 .sp-input:focus ~ .p-select-arrow,
.p-form-squareDark-extra5color2 .sp-input:hover ~ .p-select-arrow,
.p-form-squareDark-extra5color2 .form-control:focus ~ .input-group-addon .p-addon-bg,
.p-form-squareDark-extra5color2 .form-control:hover ~ .input-group-addon .p-addon-bg,
.p-form-squareDark-extra5color2 .input-group:hover .input-group-addon .p-addon-bg,
.p-form-squareDark-extra5color2 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-addon .p-addon-bg,
.p-form-squareDark-extra5color2 .sp-input:focus ~ .input-group-addon .p-addon-bg,
.p-form-squareDark-extra5color2 .sp-input:hover ~ .input-group-addon .p-addon-bg {
  border-color: #c30;
}
.p-form-squareDark-extra5color2 .form-control:focus ~ .p-field-cb,
.p-form-squareDark-extra5color2 .form-control:hover ~ .p-field-cb,
.p-form-squareDark-extra5color2 .input-group:hover .p-field-cb,
.p-form-squareDark-extra5color2 .p-file-wrap [type="file"]:hover ~ .input-group .p-field-cb,
.p-form-squareDark-extra5color2 .sp-input:focus ~ .p-field-cb,
.p-form-squareDark-extra5color2 .sp-input:hover ~ .p-field-cb {
  background-color: #290a00;
}
.p-form-squareDark-extra5color2 .form-control::-webkit-input-placeholder {
  color: #f5d6cc;
}
.p-form-squareDark-extra5color2 .form-control::-moz-placeholder {
  color: #f5d6cc;
}
.p-form-squareDark-extra5color2 .form-control:-moz-placeholder {
  color: #f5d6cc;
}
.p-form-squareDark-extra5color2 .form-control:-ms-input-placeholder {
  color: #f5d6cc;
}
.p-form-squareDark-extra5color2 .p-custom-arrow .p-select-arrow {
  background-color: #543b33;
}
.p-form-squareDark-extra5color2 .input-group-btn .btn:hover,
.p-form-squareDark-extra5color2 .input-group-btn .btn:focus,
.p-form-squareDark-extra5color2 .p-file-wrap [type="file"]:hover ~ .input-group .input-group-btn .btn {
  background-color: #c30;
  -webkit-box-shadow: 0 3px 25px #c30;
  box-shadow: 0 3px 25px #c30;
}
.p-form-squareDark-extra5color2 .p-file-wrap ~ .input-group [type="text"] {
  background-color: #543b33;
}
.p-form-squareDark-extra5color2 .p-no-preview {
  background-color: #3d0f00;
  border-color: #571500;
}
.p-form-squareDark-extra5color2 .p-preview-wrap .p-preview-actions .p-preview-action:hover {
  color: #c30;
}
.p-form-squareDark-extra5color2 .ui-autocomplete {
  background-color: #290a00;
  border-color: #543b33;
}
.p-form-squareDark-extra5color2 .ui-autocomplete .ui-state-focus,
.p-form-squareDark-extra5color2 .ui-autocomplete .ui-state-active {
  color: #c30;
  background-color: rgba(204,51,0,0.1);
}
.p-form-squareDark-extra5color2 .sp-container {
  background-color: #661a00;
}
.p-form-squareDark-extra5color2 .sp-initial,
.p-form-squareDark-extra5color2 .sp-clear,
.p-form-squareDark-extra5color2 .sp-palette .sp-thumb-el {
  border-color: #a32a00;
  color: #a32a00;
}
.p-form-squareDark-extra5color2 .sp-clear:hover,
.p-form-squareDark-extra5color2 .sp-palette .sp-thumb-el:hover,
.p-form-squareDark-extra5color2 .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #290a00;
  color: #290a00;
}
.p-form-squareDark-extra5color2 .sp-clear:hover:after,
.p-form-squareDark-extra5color2 .sp-palette .sp-thumb-el:hover:after,
.p-form-squareDark-extra5color2 .sp-palette .sp-thumb-el.sp-thumb-active:after {
  border-color: #fff0eb;
}
.p-form-squareDark-extra5color2 .sp-input {
  border-color: #543b33;
  background-color: #543b33;
}
.p-form-squareDark-extra5color2 .sp-choose,
.p-form-squareDark-extra5color2 .sp-cancel,
.p-form-squareDark-extra5color2 .sp-palette-toggle {
  color: #fff0eb;
}
.p-form-squareDark-extra5color2 .sp-choose:hover,
.p-form-squareDark-extra5color2 .sp-cancel:hover,
.p-form-squareDark-extra5color2 .sp-palette-toggle:hover,
.p-form-squareDark-extra5color2 .sp-choose:focus,
.p-form-squareDark-extra5color2 .sp-cancel:focus,
.p-form-squareDark-extra5color2 .sp-palette-toggle:focus,
.p-form-squareDark-extra5color2 .sp-choose:active,
.p-form-squareDark-extra5color2 .sp-cancel:active,
.p-form-squareDark-extra5color2 .sp-palette-toggle:active {
  color: #ff916b;
}
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-alpha-inner,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-color,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-hue {
  border-color: #661a00;
}
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-initial,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-clear,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el {
  border-color: #661a00;
  color: #661a00;
}
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-clear:hover,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el:hover,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: #a32900;
  color: #a32900;
}
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-dragger:after,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-alpha-handle:after,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-slider:after {
  border-color: #c30;
}
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-choose,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-cancel,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-palette-toggle {
  background-color: #c30;
}
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-choose:hover,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-cancel:hover,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:hover,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-choose:focus,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-cancel:focus,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:focus,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-choose:active,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-cancel:active,
.p-form-squareDark-extra5color2 .p-colorpick-no-bg .sp-flat .sp-palette-toggle:active {
  background-color: #c30;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget {
  background-color: #661a00;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #ff5e29;
  background-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table thead th {
  background-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table td div:hover,
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table td span:hover {
  background-color: #a32a00;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table td a,
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table td .btn {
  color: #ff7547;
  background-color: transparent;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table td a:hover,
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #3d0f00;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table .old,
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table .new {
  color: #ffc6b3;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table td .active,
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table .active div {
  background-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(255,117,71,0);
  border-bottom-color: #ff7547;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table span.disabled,
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table .disabled div,
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #a32a00;
  background-color: #661a00;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table .disabled span,
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #a32a00;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #7a1e00;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
  border-top-color: #661a00;
}
.p-form-squareDark-extra5color2 .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-bottom-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  color: #ff7547;
}
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table thead .dow {
  color: #ff7547;
}
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a,
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a:hover,
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn:hover,
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td a span:hover,
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table td .btn span:hover {
  color: #ff7547;
}
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .today div:before {
  border-color: rgba(255,71,10,0);
  border-bottom-color: #ff470a;
}
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled,
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div,
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table span.disabled:hover,
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled div:hover {
  color: #661a00;
}
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span,
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget table .disabled span:hover {
  color: #661a00;
}
.p-form-squareDark-extra5color2 .p-datetime-no-bg .bootstrap-datetimepicker-widget .datepicker-days thead .picker-switch {
  border-bottom-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .p-js-link:hover,
.p-form-squareDark-extra5color2 .p-show-js-block .p-js-link:hover,
.p-form-squareDark-extra5color2 .p-field-toggled .p-js-link:hover,
.p-form-squareDark-extra5color2 .p-js-link:focus,
.p-form-squareDark-extra5color2 .p-show-js-block .p-js-link:focus,
.p-form-squareDark-extra5color2 .p-field-toggled .p-js-link:focus {
  color: #f53d00;
}
.p-form-squareDark-extra5color2 .p-js-active-link,
.p-form-squareDark-extra5color2 .p-show-js-block .p-js-link,
.p-form-squareDark-extra5color2 .p-field-toggled .p-js-link {
  color: #c30;
}
.p-form-squareDark-extra5color2 .input-group .realperson-challenge .realperson-regen {
  color: #c30;
}
.p-form-squareDark-extra5color2 .input-group .realperson-challenge .realperson-regen:hover {
  color: #8f2400;
}
.p-form-squareDark-extra5color2 .input-group .realperson-challenge .realperson-text:hover {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-slider-block .p-js-value,
.p-form-squareDark-extra5color2 .p-sl-tip {
  background-color: #290a00;
  border-color: #c30;
}
.p-form-squareDark-extra5color2 .p-sl-tip:before {
  border-color: rgba(204,51,0,0);
}
.p-form-squareDark-extra5color2 .ui-slider:before {
  border-color: #661a00;
  background-color: #290a00;
}
.p-form-squareDark-extra5color2 .ui-slider-range {
  background-color: #c30;
}
.p-form-squareDark-extra5color2 .ui-slider-handle:after {
  background-color: #290a00;
  border-color: #c30;
}
.p-form-squareDark-extra5color2 .ui-slider-handle .p-sl-icon {
  background-color: #c30;
  color: #290a00;
}
.p-form-squareDark-extra5color2 .ui-slider-handle.ui-state-focus:after,
.p-form-squareDark-extra5color2 .ui-slider-handle.ui-state-active:after,
.p-form-squareDark-extra5color2 .ui-slider-handle.ui-state-hover:after {
  border-color: #a32900;
}
.p-form-squareDark-extra5color2 .ui-slider-handle.ui-state-focus .p-sl-icon,
.p-form-squareDark-extra5color2 .ui-slider-handle.ui-state-active .p-sl-icon,
.p-form-squareDark-extra5color2 .ui-slider-handle.ui-state-hover .p-sl-icon {
  background-color: #a32900;
}
.p-form-squareDark-extra5color2 .ui-slider-horizontal .p-sl-tip:before {
  border-bottom-color: #c30;
}
.p-form-squareDark-extra5color2 .ui-slider-vertical .p-sl-tip:before {
  border-right-color: #c30;
}
.p-form-squareDark-extra5color2 .sl-v-simple .ui-slider:before {
  background-color: #661a00;
}
.p-form-squareDark-extra5color2 .sl-v-modern .ui-slider:before,
.p-form-squareDark-extra5color2 .sl-v-bordered .ui-slider:before {
  border-color: #c30;
}
.p-form-squareDark-extra5color2 .sl-v-top .ui-slider:before {
  background-color: #661a00;
}
.p-form-squareDark-extra5color2 .sl-v-flat .ui-slider:before {
  background-color: #661a00;
}
.p-form-squareDark-extra5color2 .pt-form-panel,
.p-form-squareDark-extra5color2 .pt-form-cross-panel {
  border-color: #661a00;
}
.p-form-squareDark-extra5color2 .pt-form-cross-panel .p-check-icon .p-check-block {
  background-color: #290a00;
}
.p-form-squareDark-extra5color2 .p-rating .p-rating-active-icon {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-rating input[type="radio"] ~ label:hover .p-rating-icon,
.p-form-squareDark-extra5color2 .p-rating input[type="radio"] ~ label:hover ~ label .p-rating-icon,
.p-form-squareDark-extra5color2 .p-rating [type="radio"]:checked ~ label .p-rating-icon {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-rating input[type="radio"] ~ label.p-field-cancel:hover {
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-rating input[type="radio"] ~ label.p-field-cancel:hover ~ label .p-rating-icon,
.p-form-squareDark-extra5color2 .p-rating .p-rating-cancel:checked ~ label .p-rating-icon,
.p-form-squareDark-extra5color2 .p-rating *:hover [type="radio"] ~ label .p-rating-icon {
  color: #999;
}
.p-form-squareDark-extra5color2 .input-group-state {
  color: #f5d6cc;
}
.p-form-squareDark-extra5color2 .form-control[readonly],
.p-form-squareDark-extra5color2 .form-control[disabled] {
  background-color: #380e00;
}
.p-form-squareDark-extra5color2 .p-field-readonly .p-switch-icon,
.p-form-squareDark-extra5color2 .p-field-disabled .p-switch-icon,
.p-form-squareDark-extra5color2 .p-field-readonly .p-check-icon .p-check-block,
.p-form-squareDark-extra5color2 .p-field-disabled .p-check-icon .p-check-block,
.p-form-squareDark-extra5color2 .p-field-readonly .p-field-cb,
.p-form-squareDark-extra5color2 .p-field-disabled .p-field-cb {
  background-color: #380e00;
  border-color: #380e00;
}
.p-form-squareDark-extra5color2 .p-field-readonly .p-no-preview,
.p-form-squareDark-extra5color2 .p-field-disabled .p-no-preview {
  background-color: #443029;
  border-color: #380e00;
}
.p-form-squareDark-extra5color2 .p-field-readonly .p-rating .p-rating-icon,
.p-form-squareDark-extra5color2 .p-field-disabled .p-rating .p-rating-icon {
  color: #443029;
}
.p-form-squareDark-extra5color2 .nav-tabs {
  border-color: #5c1700;
  background-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .nav-tabs > li > label:hover,
.p-form-squareDark-extra5color2 .nav-tabs > li > label:focus {
  background-color: #c30;
}
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-squareDark-extra5color2 .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #290a00;
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-title-line,
.p-form-squareDark-extra5color2 .p-title-step-line,
.p-form-squareDark-extra5color2 .p-title-side {
  background-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .p-tooltip .p-tooltip-content {
  background-color: #8f2400;
}
.p-form-squareDark-extra5color2 .p-tooltip .p-tooltip-content:after {
  border-color: rgba(143,36,0,0);
  border-top-color: #8f2400;
}
.p-form-squareDark-extra5color2 .p-tooltip.p-tooltip-bottom .p-tooltip-content:after,
.p-form-squareDark-extra5color2 .p-tooltip.p-tooltip-bottom-left .p-tooltip-content:after,
.p-form-squareDark-extra5color2 .p-tooltip.p-tooltip-bottom-right .p-tooltip-content:after {
  border-top-color: rgba(143,36,0,0);
  border-bottom-color: #8f2400;
}
.p-form-squareDark-extra5color2 .p-bordered {
  border-color: #5c1700;
}
.p-form-squareDark-extra5color2 .p-shadowed.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-squareDark-extra5color2 .p-bordered.p-tabs-offset > .nav-tabs + .tab-content,
.p-form-squareDark-extra5color2 .p-inset.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #290a00;
}
.p-form-squareDark-extra5color2 .p-tabs-offset > .nav-tabs > li > label {
  background-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .p-tabs-offset > .nav-tabs > li > label:hover,
.p-form-squareDark-extra5color2 .p-tabs-offset > .nav-tabs > li > label:focus {
  background-color: #c30;
}
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-squareDark-extra5color2 .p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #290a00;
  color: #c30;
}
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered > .nav-tabs {
  border-color: #5c1700;
}
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered > .nav-tabs > li > label {
  border-bottom-color: #5c1700;
}
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered > .nav-tabs + .tab-content {
  border-color: #5c1700;
}
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label {
  border-color: #5c1700;
}
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1):last-child > label,
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2):last-child > label,
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3):last-child > label,
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4):last-child > label,
.p-form-squareDark-extra5color2 .p-tabs-offset.p-bordered .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5):last-child > label {
  border-right-color: #5c1700;
}
.p-form-squareDark-extra5color2 .p-alt-back,
.p-form-squareDark-extra5color2 .p-alt-back .p-form-bg {
  background-color: #fff7f5;
}
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset > .nav-tabs + .tab-content {
  background-color: #fff7f5;
}
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:hover,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:hover,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:hover,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:hover,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:hover,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(1):checked ~ .nav-tabs > li:nth-child(1) > label:focus,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(2):checked ~ .nav-tabs > li:nth-child(2) > label:focus,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(3):checked ~ .nav-tabs > li:nth-child(3) > label:focus,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(4):checked ~ .nav-tabs > li:nth-child(4) > label:focus,
.p-form-squareDark-extra5color2 .p-alt-back.p-tabs-offset .p-tab-sel:nth-child(5):checked ~ .nav-tabs > li:nth-child(5) > label:focus {
  background-color: #fff7f5;
}
.p-form-squareDark-extra5color2 .p-alt-back .p-table.table-striped > tbody > tr:nth-of-type(even),
.p-form-squareDark-extra5color2 .p-alt-back .p-table.table-striped > thead {
  background-color: #ffece5;
}
.p-form-squareDark-extra5color2 .p-alt-back .panel-fp > .panel-heading {
  background-color: #ffece5;
}
.p-form-squareDark-extra5color2 .p-alt-back .panel-fp > .panel-body {
  background-color: #fff7f5;
}
.p-form-squareDark-extra5color2 .p-alt-back hr.p-flat {
  border-color: #ffece5;
}
.p-form-squareDark-extra5color2 .p-alt-back .p-custom-arrow .p-select-arrow {
  background-color: #543b33;
}
.p-form-squareDark-extra5color2 .p-alt-back .p-picture-pick .p-switch-icon,
.p-form-squareDark-extra5color2 .p-alt-back .p-picture-pick .p-check-block {
  background-color: #fff7f5;
}
.p-form-squareDark-extra5color2 .btn.p-active-btn,
.p-form-squareDark-extra5color2 .btn:hover,
.p-form-squareDark-extra5color2 .btn:focus {
  -webkit-box-shadow: 0 3px 25px #c30;
  box-shadow: 0 3px 25px #c30;
}
.p-form-squareDark-extra5color2 .p-hide-form {
  background: #290a00;
}
.p-form-squareDark-extra5color2 .p-form-steps > li.active .p-step:after {
  background-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .p-form-steps > li.active:last-child .p-step:after {
  background-color: #c30;
}
.p-form-squareDark-extra5color2 .p-form-steps > li.active ~ li .p-step:before,
.p-form-squareDark-extra5color2 .p-form-steps > li.active ~ li .p-step:after {
  background-color: #3d0f00;
}
.p-form-squareDark-extra5color2 .p-step:before,
.p-form-squareDark-extra5color2 .p-step:after {
  background-color: #c30;
}
